<template>
    <div class="main-content">
        <div class="content-panel">
            <div class="profiles-gate-container">
                <div class="centered-div">
                    <div class="profile-actions-container">
                        <h1>Add Profile</h1>
                        <h2>Add a profile for another person watching {{site_name}}.</h2>
                        <form enctype="multipart/form-data">
                            <div class="profile-metadata profile-entry">
                                <div class="main-profile-avatar" style="position: relative;">
                                    <img :src="profileDetail.imgsrc" alt=""
                                         style="opacity: 1; transform: scale(1); transition-duration: 400ms;"
                                         id="preview_picture">
                                    <div class="image_sub_profile" style="cursor: pointer;" @click="openFileDialog()"><i
                                            class="fa fa-plus-circle"></i></div>
                                </div>
                                <input type="file" name="picture" style="display: none" @change="onFileChange()"
                                       id="file" ref="myFiles" class="custom-file-input" accept="image/png, image/jpeg">
                                <div class="profile-add-parent">
                                    <div class="profile-entry-inputs">
                                        <input id="add-profile-name" class="" placeholder="Name" type="text" required
                                               v-model="profileDetail.name" name="name">
                                        <label for="add-profile-name" aria-label="Name"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-button preferred-action pull-left" role="button"
                                 @click="onAddProfile()">
                                <span>Continue</span>
                            </div>
                            <router-link to="/view-profiles">
                                <div class="profile-button pull-left" style="margin-left: 5px;">
                                    <span>Cancel</span>
                                </div>
                            </router-link>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of basic-tabs-->
</template>

<script>
    // @ is an alias to /src

    import {apiService} from "../../api-service";

    export default {
        name: 'AddProfile',
        props: ['AppSettings'],
        components: {},
        data() {
            return {
                loadStatus: true,
                apiService: new apiService(),
                sessionStorage: {},
                user_id: null,
                profile: [],
                files: []
            }
        },
        beforeMount() {
            if (this.apiService.checkAuth()) {
                this.loadStatus = false;
                this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            } else {
                this.$router.push('/');
            }
        },
        computed: {
            profileDetail: function () {
                let imgsrc = this.AppSettings.apiBase ? this.AppSettings.apiBase + 'placeholder.png' : '';
                return {
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    imgsrc: imgsrc
                }
            },
            site_name:function () {
                const settings = this.AppSettings.settings;
                if(settings) return settings.site_name;
                else return '';
            }
        },
        watch: {
            AppSettings(val) {
                this.profileDetail.imgsrc = val.apiBase + 'placeholder.png';
            }
        },
        methods: {
            async onAddProfile() {
                if (this.profileDetail.name == '') {
                    this.$notify({
                        text: 'Name should not be an empty',
                        position: 'top center',
                        duration: 3000,
                        type:'error'
                    });
                } else {
                    const formData = new FormData();
                    if (this.files[0] !== undefined) {
                        formData.append('picture', this.files[0]);
                    }
                    formData.append('name', this.profileDetail.name);
                    formData.append('id', this.profileDetail.id);
                    formData.append('token', this.profileDetail.token);
                    let profileRst = await this.apiService.addNewProfile(formData);
                    profileRst = profileRst.data;
                    if (profileRst.success) {
                        this.$notify({
                            text: 'Successfully added profile into your account',
                            position: 'top center',
                            duration: 3000,
                            type:'success'
                        });
                        this.$router.push('/view-profiles');
                    } else {
                        this.$notify({
                            text: profileRst.error_messages,
                            position: 'top center',
                            duration: 3000,
                            type:'error'
                        });
                    }
                }
            },
            onFileChange() {
                const reader = new FileReader();
                this.files = this.$refs.myFiles.files;

                reader.readAsDataURL(this.files[0]);
                reader.onload = function () {
                    const fileContent = reader.result;
                    document.getElementById('preview_picture').src = fileContent;
                };
            },
            openFileDialog() {
                document.querySelector('input[type=file]').click();
            },
            onDeleteProfile() {
                this.apiService.sendDeleteProfile(this.sessionStorage).then(res => {
                    res = res.data;
                    if (res.success) {
                        this.$notify({
                            text: 'Successfully deleted profile from your account',
                            position: 'top center',
                            duration: 3000,
                            type:'success'
                        });
                        this.$router.push('/view-profiles');
                    } else {
                        this.$notify({
                            text: res.error_messages,
                            type:'error'
                        });

                        if (res.error_code == 103) this.$router.push('/')
                    }
                });
            }
        }
    }
</script>
<style>
</style>
