<template>
    <div class="main-content">

        <div class="content-panel">
            <div class="profiles-gate-container">
                <div class="centered-div">
                    <div class="profile-actions-container">
                        <h1>Edit Profile</h1>
                        <!-- <h2>Add a profile for another person watching Netflix.</h2> -->
                        <form id="sub_profile">
                            <div class="profile-metadata profile-entry">
                                <div class="main-profile-avatar" style="position: relative;">
                                    <img :src="profile.picture" alt=""
                                         style="opacity: 1; transform: scale(1); transition-duration: 400ms;"
                                         id="preview_picture">
                                    <div class="image_sub_profile" style="cursor: pointer;" @click="openFileDialog()"><i
                                            class="fa fa-plus-circle"></i></div>
                                </div>

                                <input type="file" name="picture" style="display: none" @change="onFileChange()"
                                       id="file" ref="myFiles" class="custom-file-input" accept="image/png, image/jpeg">
                                <div class="profile-add-parent">
                                    <div class="profile-entry-inputs">
                                        <input id="add-profile-name" placeholder="Name" type="text" name="name" v-model="profile.name">
                                        <label for="add-profile-name" aria-label="Name"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-button preferred-action pull-left" role="button"
                                 @click="onEditProfile()">
                                <span>Save</span>
                            </div>
                            <router-link to="/view-profiles">
                                <div class="profile-button pull-left" style="margin-left: 5px;">
                                    <span>Cancel</span>
                                </div>
                            </router-link>


                            <a href="javascript:void(0)" @click="onDeleteProfile(profile.id)" class="hidden-xxs">
                                <div class="profile-button pull-left" style="margin-left: 5px;">
                                    <span>Delete Profile</span>
                                </div>
                            </a>

                            <a @click="onDeleteProfile(profile.id)" class="visible-xxs">
                                <div class="profile-button pull-left" style="margin-left: 5px;">
                                    <span>Delete</span>
                                </div>
                            </a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of basic-tabs-->
</template>

<script>
    // @ is an alias to /src

    import {apiService} from "../../api-service";

    export default {
        name: 'EditProfile',
        props: ['AppSettings', 'id'],
        data() {
            return {
                loadStatus: true,
                apiService: new apiService(),
                sessionStorage: {},
                user_id: null,
                profile: [],
                files: []
            }
        },
        components: {
        },
        beforeMount() {
            this.$emit('update:isPageLoaderShow',false);
            if (this.apiService.checkAuth()) {
                this.loadStatus = false;
                this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
                this.sessionStorage.profileId = this.$route.params.id;
                this.getProfiles();
            } else {
                this.$router.push('/');
            }
        },
        computed: {
            profileDetail: function () {
                let imgsrc = this.AppSettings.apiBase ? this.AppSettings.apiBase + 'placeholder.png' : '';
                return {
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    imgsrc: imgsrc
                }
            }
        },
        watch: {
            AppSettings(val) {
                this.profileDetail.imgsrc = val.apiBase + 'placeholder.png';
            }
        },
        methods: {
            async getUserDetail(id, token) {
                let res = await this.apiService.getUserDetail({id, token});
                res = res.data;

                this.sessionStorage.access_token = res.token;
                this.sessionStorage.user_id = res.id;
                this.sessionStorage.user_type = res.user_type;
                this.sessionStorage.login_by = res.login_by;
                this.sessionStorage.user_picture = res.picture;
                this.sessionStorage.user_name = res.name;
                this.sessionStorage.sub_profile_id = res.sub_profile_id;
                this.sessionStorage.one_time_subscription = res.one_time_subscription;
            },

            async getSubscription() {

                let res = await this.apiService.getSubscription(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token
                    }
                );
                res = res.data;
                if (res.success) {
                    this.sessionStorage.noOfAccount = res.data;
                    this.noOfAccount = res.data;
                }
            },
            async getProfiles() {
                let res = await this.apiService.getProfiles(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token
                    }
                );
                res = res.data;
                if (res.success) {
                    const mainData = res.data.filter((item) => {
                        return item.id == this.sessionStorage.profileId
                    });
                    this.profile = mainData[0];
                    this.sessionStorage.active_profiles_length = res.data.length;
                }
            },
            async onEditProfile() {
                if (this.profile.name === '') {
                    this.$notify({
                        text: 'Name should not be an empty',
                        position: 'top center',
                        duration: 3000,
                        type:'error'
                    });
                } else {
                    const formData = new FormData();
                    if (this.files !== undefined) {
                        formData.append('picture', this.files[0]);
                    }
                    formData.append('name', this.profile.name);
                    formData.append('sub_profile_id', this.profile.id);
                    formData.append('id', this.profileDetail.id);
                    formData.append('token', this.profileDetail.token);
                    let profileRst = await this.apiService.sendProfileInfo(formData);
                    profileRst = profileRst.data;
                    if (profileRst.success) {
                        this.$notify({
                            text: 'Successfully edited profile into your account',
                            position: 'top center',
                            duration: 3000,
                            type:'success'
                        });
                        this.$router.push('/view-profiles');
                    } else {
                        this.$notify({
                            text: profileRst.error_messages,
                            position: 'top center',
                            duration: 3000,
                            type:'error'
                        });
                    }
                }
            },
            onFileChange() {
                const reader = new FileReader();
                this.files = this.$refs.myFiles.files;

                reader.readAsDataURL(this.files[0]);
                reader.onload = function () {
                    const fileContent = reader.result;
                    document.querySelector('img#preview_picture').src = fileContent;
                };
            },
            openFileDialog() {
                document.querySelector('input[type=file]').click();
            },
            onDeleteProfile() {
                this.apiService.sendDeleteProfile(this.sessionStorage).then(res => {
                    res = res.data;
                    if (res.success) {
                        this.$notify({
                            text: 'Successfully deleted profile from your account',
                            position: 'top center',
                            duration: 3000,
                            type:'success'
                        });
                        this.$router.push('/view-profiles');
                    } else {
                        this.$notify({
                            text: res.error_messages,
                            position: 'top center',
                            duration: 3000,
                            type:'error'
                        });

                        if (res.error_code == 103) this.$router.push('/')
                    }
                });
            }
        }
    }
</script>
<style>
    .main {
        background-color: #141414;
    }

    @media screen and (min-width: 768px) {
        .main {
            min-height: calc(100% - 223px) !important;
        }
    }
    .profile-actions-container{
        margin-top:70px;
    }
    .white-text input {
        color: #fff !important;
    }

    section.preview {
        border: 1px solid #e0e0e0;
        padding: 15px;
    }

    .editProfilePane.rgba-white-slight {
        background-color: rgba(0, 0, 0, 0.4) !important;
        opacity: 1;
    }
</style>
