<template>
    <div class="main-content">
        <div class="content-panel">
            <div class="profiles-gate-container">
                <div class="centered">
                    <div class="list-profiles">
                        <div class="profile-gate-label">Manage Profiles</div>
                        <ul class="choose-profile">
                            <li class="profile" v-for="(profile, key) in profiles" :key="key">
                                <div>
                                    <router-link class="profile-link" :to="'/edit-profile/'+profile.id">
                                        <div class="avatar-wrapper">
                                            <div class="profile-icon"
                                                 :style="{backgroundImage:'url('+ profile.picture +')'}"
                                                 style="position: relative;">
                                                <div class="edit_sub_profile">
                                                    <div class="edit-round"><i class="fa fa-pencil-alt"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="profile-name">{{profile.name}}</span>
                                    </router-link>
                                </div>
                            </li>

                            <li v-if="profiles.length < noOfAccount">
                                <router-link to="/add-profile">
                                    <div class="addProfileIcon icon-tvuiAdd">
                                        <i class="fas fa-pencil-alt"></i>
                                    </div>
                                    <span class="profile-name">Add Profile</span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="profile-button preferred-action">
                    <router-link to="/view-profiles">Done</router-link>
                </span>
            </div>
        </div>
    </div>
    <!--end of basic-tabs-->
</template>

<script>
    // @ is an alias to /src

    import {apiService} from "../../api-service";

    export default {
        name: 'ManageProfile',
        props: ['AppSettings','isPageLoaderShow'],
        components: {},
        data() {
            return {
                loadStatus: true,
                apiService: new apiService(),
                logined: false,
                sessionStorage: {},
                noOfAccount: 0,
                profiles: []
            }
        },
        beforeMount() {
            this.$emit('update:isPageLoaderShow',true);
            if (this.apiService.checkAuth()) {

                this.loadStatus = true;
                this.logined = true;
                this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
                this.noOfAccount = 0;
                this.user_id = this.sessionStorage.user_id ? this.sessionStorage.user_id : '';
                this.access_token = this.sessionStorage.access_token;
                if (this.user_id && this.access_token) {

                    this.sub_profile_id = this.sessionStorage.sub_profile_id ? this.sessionStorage.sub_profile_id : '';
                    this.apiService.getProfiles({id: this.user_id, token: this.access_token}).then(response => {
                        this.$emit('update:isPageLoaderShow',false);

                        response = response.data;
                        if (response.success) {
                            this.profiles = response.data;
                            this.sessionStorage.active_profiles_length = this.profiles.length;
                            localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                        } else {
                            if (response.error) {
                                this.$notify({
                                    text: response.error,
                                    position: 'top center',
                                    duration: 3000,
                                    type:'error'
                                });
                                window.localStorage.setItem('logged_in', 'false');
                                this.sessionStorage = {};
                                // localStorage.removeItem("sessionStorage");
                                // localStorage.clear();
                                this.$router.push('/');
                            } else {

                                this.$notify({
                                    text: response.error_messages,
                                    position: 'top center',
                                    duration: 3000,
                                    type:'error'
                                });
                            }
                        }
                    });
                }
            } else {
                this.$router.push('/');
            }
        },
        methods: {}
    }
</script>
<style>
.profiles-gate-container{
    margin-top:60px;
}
</style>  
