<template>
    <div class="main-content">
        <div class="content-panel">
            <div class="profiles-gate-container">
                <div class="centered">
                    <div class="list-profiles">
                        <div class="profile-gate-label">Who's watching?</div>
                        <ul class="choose-profile">
                            <li class="profile" v-for="(profile, key) in profiles" :key="key">
                                <div>
                                    <a href="javascript:void(0)" @click="activeProfiles(profile.id, profile.name, profile.picture)">
                                        <div class="avatar-wrapper">
                                            <div class="profile-icon"
                                                 :style="{backgroundImage:'url('+ profile.picture +')'}"></div>
                                        </div>
                                        <span class="profile-name">{{profile.name}}</span>
                                    </a>
                                </div>
                            </li>

                            <li v-if="profiles.length < noOfAccount">
                                <router-link to="/add-profile">
                                    <div class="addProfileIcon icon-tvuiAdd">
                                        <div>
                                            <i class="fa fa-plus-circle"></i>
                                        </div>
                                    </div>
                                    <span class="profile-name">Add Profile</span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="profile-button">
                    <router-link to="/manage-profiles">Manage Profiles</router-link>
                </span>
            </div>
        </div>
    </div>
    <!--end of basic-tabs-->
</template>

<script>
    // @ is an alias to /src

    import {AppSettings} from "../../config";
    import {apiService} from "../../api-service";
    import JQuery from 'jquery'
    let $ = JQuery;

    export default {
        name: 'ViewProfile',
        props: ['isPageLoaderShow'],
        data() {
            return {
                loadStatus: true,
                AppSettings: AppSettings.settings,
                apiService: new apiService(),
                logined: false,
                sessionStorage: {},
                noOfAccount: 0,
                profiles: {}
            }
        },
        beforeMount() {
            this.$emit('update:isPageLoaderShow',true);
            if (this.apiService.checkAuth()) 
            {
                this.loadStatus = true;
                this.logined = true;
                this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
                this.noOfAccount = 0;

                const n = setInterval(() => {
                    if (AppSettings.settings.hasOwnProperty('site_name')) {
                        clearInterval(n);
                        this.AppSettings = AppSettings.settings;
                        this.getUserDetail(
                            {
                                id: this.sessionStorage.user_id,
                                token: this.sessionStorage.access_token
                            }
                        );

                    }
                }, 1000);
            } else {
                this.$router.push('/');
            }

            this.getSubscription();
            this.getProfiles();
        },
        components: {},
        methods: {
            async getUserDetail(id, token) 
            {
                let res = await this.apiService.getUserDetail({id, token});
                this.$emit('update:isPageLoaderShow',false);
                res = res.data;
                if (!res.data) return;
                this.sessionStorage.access_token = res.token;
                this.sessionStorage.user_id = res.id;
                this.sessionStorage.user_type = res.user_type;
                this.sessionStorage.login_by = res.login_by;
                this.sessionStorage.user_picture = res.picture;
                this.sessionStorage.user_name = res.name;
                this.sessionStorage.sub_profile_id = res.sub_profile_id;
                this.sessionStorage.one_time_subscription = res.one_time_subscription;
            },

            async getSubscription() 
            {
                let res = await this.apiService.getSubscription(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token
                    }
                );
                res = res.data;
                if (res.success) {
                    this.sessionStorage.noOfAccount = res.data;
                    this.noOfAccount = res.data;
                } else if (res.error_code == 103) {
                    localStorage.removeItem('logged_in');
                    this.$router.push('/');
                }
            },
            async getProfiles() 
            {
                let res = await this.apiService.getProfiles(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token
                    }
                );
                res = res.data;
                if (res.success) {
                    this.profiles = res.data;
                    this.sessionStorage.active_profiles_length = res.data.length;
                    this.loadStatus = true;
                }
            },

            activeProfiles(sub_profile_id, profile_name, profile_picture) 
            {
                this.apiService.getProfiles(
                    {
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    sub_profile_id: sub_profile_id
                    }
                )
                    this.sessionStorage.sub_profile_id = sub_profile_id;
                    localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                    this.$router.push('/home/'+sub_profile_id); 

                    setTimeout(function(){ 
                        $('.nav-profile > a > img.nav-profile-img.head-prof').attr('src', profile_picture);
                        $('.nav-profile > a > .nav-profile-name.head-prof').text(profile_name);
                    }, 1000);
                    
               
            },
        },
        destroyed(){
            this.$emit('update:isPageLoaderShow',false);
        }
    }
</script>
<style scoped>
    .profiles-gate-container{
        margin-top: 50px;
    }
</style>
