<template>
    <div class="content-wrapper gray-background" style="padding-top:57px;">

        <div class="account-layout row">
            <div class="banner-spacing col-lg-10 col-lg-offset-1">

                <div class="account-layout-inner" style="padding-top: 15px;padding-bottom: 15px;">
                    <div class="pull-left"><h1 class="account-header">My Account</h1></div>

                    <div class="pull-right" v-if="profile.email_notification">
                        <span class="noti-txt">notification</span>
                        <label class="switch" title="Disable Email Notifications">
                            <input type="checkbox" name="email_notification" checked  @change="emailNotification(this.id)" id="disable_notify">
                            <span class="switch-btn round"></span>
                        </label>
                        <label class="switch" v-if="!profile?profile.email_notification:''" title="Enable Email Notifications">
                            <input type="checkbox" name="email_notification" @change="emailNotification(this.id)" id="enable_notify">
                            <span class="switch-btn round"></span>
                        </label>
                    </div>

                    <div class="clearfix"></div>

                    <div class="account-content">
                        <!-- Account Section -->
                        <div class="account-section row no-margin">

                            <!-- Accound section header -->
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                <div class="account-section-header">
                                    <h3 class="account-section-title">Profile</h3>
                                </div>
                            </div>

                            <!-- Account section content -->
                            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
                                <!-- Account Section Content -->
                                <div class="account-section-content row no-margin">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block">
                                            <p class="account-section-text" v-if="(profile?profile.login_by:'') == 'manual'">{{profile?profile.email:''}}</p>
                                            <p class="account-section-text account-gray-text">
                                                Password <span>********</span>
                                            </p>
                                            <p class="account-section-text account-gray-text">
                                                Phone <span>{{profile?profile.mobile:''}}</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block text-right">
                                            <div>
                                                <router-link :to="'/edit-account/'+id" class="account-section-link">Edit Profile</router-link>
                                            </div>
                                            <div v-if="login_by == 'manual'">
                                                <router-link :to="'/change-password/'+id" class="account-section-link">Change Password</router-link>
                                            </div>
                                            <div>
                                                <router-link :to="'/delete-account/'+id" class="account-section-link">Delete Account</router-link>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Account Section Content -->

                            </div>

                        </div>
                        <!-- Account Section End -->

                        <!-- Account Section -->
                        <div class="account-section row no-margin">

                            <!-- Accound section header -->
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                <div class="account-section-header">
                                    <h3 class="account-section-title">Plan Details</h3>
                                </div>
                            </div>

                            <!-- Account section content -->
                            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">

                                <div class="account-section-content row no-margin">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block">
                                            <p class="account-section-text">{{(active_plan?active_plan.title:'') ? (active_plan?active_plan.title:'') : '-'}}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block text-right">
                                            <div>
                                                <router-link :to="'/subscriptions/'+sub_profile_id" class="account-section-link">Change Plan</router-link>

                                            </div>
                                        </div>

                                        <div class="account-section-content-block text-right">
                                            <div>
                                                <router-link :to="'/billing-details/'+sub_profile_id" class="account-section-link">Billing Details</router-link>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Account section content -->
                        </div>
                        <!-- Account Section End -->

                        <!-- Account Section -->
                        <div class="account-section row no-margin">

                            <!-- Accound section header -->
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                <div class="account-section-header">
                                    <h3 class="account-section-title">Manage Profile</h3>
                                </div>
                            </div>

                            <!-- Account section content -->
                            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">

                                <div class="account-section-content row no-margin">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="">
                                            <a class="account-profile">
                                                <img :src="subprofile?subprofile.picture:''">
                                                {{subprofile?subprofile.name:''}}
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block text-right">
                                            <div>
                                                <router-link :to="'/manage-profiles'" class="account-section-link">Manage Profile</router-link>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Account section content -->
                        </div>
                        <!-- Account Section End -->
                        <!-- Account Section -->
                        <div class="account-section row no-margin">

                            <!-- Accound section header -->
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                <div class="account-section-header">
                                    <h3 class="account-section-title">Card Details</h3>
                                </div>
                            </div>

                            <!-- Account section content -->
                            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">

                                <div class="account-section-content row no-margin">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block">
                                            <p class="account-section-text" v-if="(profile?profile.card_last_four_number:'') != ''">xxxx-xxxx-xxxx-{{profile?profile.card_last_four_number:''}}</p>
                                            <p class="account-section-text" v-if="(profile?profile.card_last_four_number:'') == ''">-</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                                        <div class="account-section-content-block text-right">
                                            <div>
                                                <router-link :to="'/add-card/'+sub_profile_id" class="account-section-link">Add Card</router-link>
                                            </div>
                                        </div>

                                        <div class="account-section-content-block text-right">
                                            <div>
                                                <router-link :to="'/card-list/'+sub_profile_id" class="account-section-link">Card Details</router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Account section content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from '../api-service.js';


    import JQuery from 'jquery'

    let $ = JQuery;
    export default {
        name: 'AccountSetting',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                login_by: '',
                id: '',
                profile: {},
                active_plan: '',
                subprofile: {}
            }
        },
        beforeMount() {

            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage.user_id != '' && this.sessionStorage.user_id != undefined) ? this.sessionStorage.user_id : false;
            this.access_token = (this.sessionStorage.access_token != undefined && this.sessionStorage.access_token != '') ? this.sessionStorage.access_token : '';
            if (this.user_id && this.access_token) {

                this.id = this.sessionStorage.user_id;

                this.sub_profile_id = this.$route.params.id;
                this.login_by = this.sessionStorage.login_by;
                this.apiService.getUserDetail({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token
                })
                    .then(data => {
                        data = data.data;
                        console.log(data,'this is the response of the setting')
                        if (data.success) {
                            this.profile = data;
                        } else {
                            if(data.error_code==103){
                                this.$router.push('/');
                            }
                            return false;

                        }
                    });


                this.apiService.AcitvePlan({id: this.sessionStorage.user_id, token: this.sessionStorage.access_token})
                    .then(data => {
                        data = data.data;
                        if (data.success) {

                            this.active_plan = data.subscription;

                        } else {
                            return false;
                        }
                    });
                this.apiService.getSingleSubscription(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        sub_profile_id: this.sub_profile_id
                    })
                    .then(data => {
                        data = data.data;
                        if (data.success) {

                            this.subprofile = data.data;


                        } else {

                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });


                        }
                    });

            } else {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        mounted() {
            $('nav').css({'background-color':'#080808'})
        },
        computed: {},
        methods: {
            emailNotification() {


                this.apiService.EmailNotification({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {

                            this.$notify({text: data.message, type: 'success'});

                            return false;

                        } else {

                            return false;

                        }
                    });

            }
        }
    }
</script>
