<template>
    <div class="content-wrapper">
        <div class="login-form" style="padding-top:57px;padding-left: 15px;padding-right: 15px;">
            <div class="section-padding">
                <h3 class="text-center text-uppercase mb-20 billing-head">Add Card</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <div class="row" style="background-color:#f3f3f3;">
                            <div class="col-xs-12 col-sm-6 col-md-6 p-l-0 hidden-xs">
                                <div class="payment-card-img"
                                     style="background-image:url('../assets/img/card-image.png');position: relative;">
                                    <router-link :to="'/card-list/'+sub_profile_id" class="text-uppercase"
                                                 style="position:absolute; right: 15%; bottom: 5%; color: #fff;">
                                        View Cards
                                        &nbsp;<i class="fa fa-angle-double-right fa-lg align-top"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="">
                                    <form class="top-bottom-space" id="payment-form" @submit.prevent="submitForm">
                                        <!-- 	<div class="form-group">
                                              <input type="text" class="form-control" placeholder="CardHolders Name">
                                            </div> -->

                                        <div id="card-payment">

                                            <div class="form-group row top1">
                                                <div class="col-xs-12">
                                                    <label>Card Number</label>
                                                    <input type="text" class="form-control"
                                                           placeholder="XXXX  XXXX XXXX" pattern="[0-9]{14,16}"
                                                           title="Please Enter 16 digit number" maxlength="16"
                                                           name="number" data-stripe="number" id="number"
                                                           v-model="number" required/>
                                                </div>

                                            </div>

                                            <div class="form-group top1">
                                                <label>Valid Upto</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control" placeholder="MM"
                                                               pattern="[0-9]{2}" title="Please Enter 2 digit number"
                                                               name="month" data-stripe="exp_month" maxlength="2"
                                                               required v-model="exp_month">
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control" placeholder="YY"
                                                               pattern="[0-9]{2}" title="Please Enter 2 digit number"
                                                               name="year" data-stripe="exp_year" maxlength="2"
                                                               v-model="exp_year" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group top1">
                                                <label>CVV Number</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control" placeholder="CVV"
                                                               pattern="[0-9]{3,4}"
                                                               title="Please Enter 3-4 digit number" name="cvv"
                                                               data-stripe="cvc" maxlength="4" v-model="cvc" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group top1">
                                                <label>Billing Zip</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control"
                                                               placeholder="Address Zip"
                                                               pattern="[0-9]{3,6}" name="cvv"
                                                               data-stripe="address_zip" maxlength="6"
                                                               v-model="address_zip" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <label for="card-element">
                                                    Credit or debit card
                                                </label>
                                                <div id="card-element">
                                                    <div class="container"></div>
                                                    <!-- a Stripe Element will be inserted here. -->
                                                </div>

                                                <!-- Used to display form errors -->
                                                <div id="card-errors" role="alert"></div>
                                            </div>
                                            <!-- <div class="checkbox checkbox-danger top1">
                                                <input id="checkbox6" type="checkbox" checked="">
                                                <label for="checkbox6">
                                                    Save my card details
                                                </label>
                                            </div> -->

                                            <button class="btn btn-primary form-btn" ref="saveBtn" id="save_card_btn">
                                                Save Card
                                            </button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from '../api-service.js';
    import JQuery from 'jquery'

    let $ = JQuery;

    export default {
        name: 'AddCard',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                login_by: '',
                id: '',
                profile: {},
                active_plan: '',
                subprofile: {},
                number: null,
                exp_year: null,
                exp_month: null,
                address_zip: null,
                cvc: null,
                stripeToken: '',
                stripeOptions: {
                    locale: 'en'
                    // see https://stripe.com/docs/stripe.js#element-options for details
                },
                options: {},
            }
        },

        beforeMount() {
            // this.$emit('update:isPageLoaderShow', true);
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage.user_id ? this.sessionStorage.user_id : '';
            this.access_token = this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            this.sub_profile_id = this.sessionStorage.sub_profile_id;
            if (!this.user_id && this.access_token) {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        computed: {
            stripe_publishable_key() {
                try {
                    if (this.AppSettings.settings) {
                        return this.AppSettings.settings.stripe_publishable_key;
                    } else {
                        return "";
                    }
                } catch (e) {
                    return "";
                }
            },
            Stripe() {
                return window.Stripe;
            }
        },
        methods: {
            saveCard() {
                const sub_profile_id = this.$route.params.id;
                const params = {
                    sub_profile_id: sub_profile_id,
                    id: this.user_id,
                    token: this.token,
                    card_token: this.stripeToken,
                    number: this.number
                };
                this.apiService.paymentAddCard(params)
                    .then((data) => {
                        data = data.data;
                        if (data.success) {
                            this.$notify({
                                type: 'success',
                                text: 'Successfully, added the card into your account'
                            });
                            this.$router.push('/card-list/' + sub_profile_id);
                        } else {
                            this.$refs['saveBtn'].setAttribute('disabled', false);
                            this.$notify({
                                type: 'error',
                                text: data.error_messages
                            });
                        }
                    })
                    .catch(() => {
                        this.$refs['saveBtn'].setAttribute('disabled', false);
                        this.$notify({
                            type: 'error',
                            text: 'Something Went Wrong, Please Try again later'
                        });
                    })
            },
            stripeResponseHandler(status, response) {

                if (response.error) {
                    this.$notify({
                        type: 'error',
                        text: response.error.message
                    });
                    this.$refs['saveBtn'].setAttribute('disabled', false);
                } else {

                    this.stripeToken = response.id;
                    this.saveCard();

                }

            },
            submitForm() {
                if (!this.stripeToken) {

                    const form = $(document.getElementById('payment-form'));
                    this.Stripe.setPublishableKey(this.stripe_publishable_key);
                    this.Stripe.createToken(form, this.stripeResponseHandler);

                } else {

                    this.$notify({
                        status: 'error',
                        text: 'Contact admin to enable stripe card'
                    })

                }
            }
        },

    }
</script>
<style scoped>
    #card-payment label {
        color: #333;
    }
</style>
