<template>
    <!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
    <div class="main-content">

        <div class="login-form" style="padding-top: 100px;padding-bottom: 40px;">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 billing-white-bg"
                     v-if="subscribed_plans.plans && subscribed_plans.plans.length > 0">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 zero-padding billing-bg-img"
                             style="background-image: url(../assets/img/billing-back.jpg);">
                            <div class="billing-bg">
                                <h3 class="billing-head txt-overflow"><i class="fa fa-calendar"></i> &nbsp;Billing
                                    Details</h3>
                                <p class="bill-line"></p>

                                <h4 class="billing-sub-head txt-overflow"><i class="fa fa-hand-o-right"></i><span
                                        style="margin-left:19px;">Next Billing Date</span></h4>
                                <p class="billing-para">{{active_plan.data.expiry_date}}</p>
                                <p class="bill-line"></p>

                                <h4 class="billing-sub-head txt-overflow"><i class="fa fa-tags  fa-rotate-90"></i><span
                                        style="margin-left:17px;">{{active_plan.subscription.title}}</span></h4>
                                <p class="billing-para">{{active_plan.data.currency}}{{active_plan.data.amount}} /
                                    {{active_plan.subscription.plan}} Months</p>

                                <p class="bill-line"></p>
                                <router-link :to="'/subscriptions/'+sub_profile_id" class="text-right white-clr">
                                    <h4><i class="fa fa-angle-double-right"></i>&nbsp; View Plan Details</h4>
                                </router-link>

                                <div v-if="active_plan.data.is_cancelled == 0 && active_plan.data.subscription_amount > 0">

                                    <p class="bill-line"></p>

                                    <p>Pause your subscription autorenewal to take a break on the payment</p>

                                    <button class="paynow-btn1" data-toggle="modal"
                                            data-target="#cancel_subscription_form"><i class="fa fa-times"></i>&nbsp;Pause
                                        Autorenewal
                                    </button>
                                </div>

                                <div class="modal fade" id="cancel_subscription_form" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content" style="background-color: #333;">
                                            <div class="modal-header spam">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title bold">Enter reason for cancellation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form @submit.prevent="cancel_subscription(cancel_reason)">
                                                    <div class="form-data">
                                                        <textarea class="form-control" v-model="cancel_reason"
                                                                  name="cancel_reason" required
                                                                  style="resize: none"></textarea>
                                                    </div>
                                                    <div class="text-right">
                                                        <button type="submit" class="payment-submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="active_plan.data.is_cancelled == 1 && active_plan.data.subscription_amount > 0">

                                    <p class="bill-line"></p>

                                    <p>Your subscription autorenewal is paused. Please activate autorenewal and enjoy
                                        your videos</p>

                                    <button @click="enable_subscription()" class="paynow-btn1"><i
                                            class="fa fa-check"></i>&nbsp;Enable Autorenewal
                                    </button>


                                </div>

                                <!-- <div v-if="active_plan.data.is_cancelled == 1 && active_plan.data.subscription_amount > 0">
    
                                <p class="bill-line"></p>
    
    
                                <button disabled class="paynow-btn1"><i class="fa fa-ban"></i>&nbsp; Subscription Paused</button>
                                </center>
    
                                </div> -->

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 billing-history">
                            <h3 class="billing-head1"><i class="fa fa-clock-o"></i> &nbsp;Billing History</h3>
                            <p class="bill-line"></p>

                            <div class="billing-card" v-for="(plan, key) in subscribed_plans.plans" :key="key">
                                <div class="card-head txt-overflow">
                                    <h3>{{plan.plan_name}}</h3>
                                </div>
                                <div class="card-white-bg">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td>Payment Id</td>
                                                <td>{{plan.payment_id}}</td>
                                            </tr>
                                            <tr>
                                                <td>Subscribed Date</td>
                                                <td>{{plan.date}}</td>
                                            </tr>
                                            <tr>
                                                <td>Expiry Date</td>
                                                <td>{{plan.expiry_date}}</td>
                                            </tr>
                                            <tr>
                                                <td>No Of Account</td>
                                                <td>{{plan.no_of_account}}</td>
                                            </tr>
                                            <tr>
                                                <td>No Of Month</td>
                                                <td>{{plan.no_of_month}}</td>
                                            </tr>


                                            <tr v-if='plan.coupon_amount > 0 '>
                                                <td>Total Amount</td>
                                                <td>{{plan.currency}}{{plan.total_amount}}</td>
                                            </tr>

                                            <tr v-if="plan.coupon_amount > 0">
                                                <td>Coupon Code</td>
                                                <td>{{plan.coupon_code}}</td>
                                            </tr>

                                            <tr v-if='plan.coupon_amount > 0'>
                                                <td>Coupon Amount</td>
                                                <td>{{plan.currency}}{{plan.coupon_amount}}</td>
                                            </tr>

                                            <tr>
                                                <td>Paid Amount</td>
                                                <td>{{plan.currency}}{{plan.amount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Payment Mode</td>
                                                <td>{{plan.payment_mode}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="billing-total text-right">
                                <h3>Total - {{subscribed_plans.currency}}{{subscribed_plans.amount}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin-top:40px !important"
                     v-if="subscribed_plans.plans && subscribed_plans.plans.length <= 0">
                    <img src="../assets/img/no-results.png" class="img-responsive auto-margin">
                </div>
            </div>

        </div>

    </div>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'BillingDetails',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                site_settings: this.AppSettings,
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                active_plan: {},
                subscribed_plans: {},
                cancel_reason: ' '
            }
        },

        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage.user_id ?this.sessionStorage.user_id : false;
            this.access_token = this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            if (this.user_id && this.access_token) {
                this.sub_profile_id = this.$route.params.id;

                this.apiService.AcitvePlan({id: this.user_id, token: this.access_token})
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            this.active_plan = data;
                        } else {
                            this.$notify({text: data.error_messages, type: 'error'});
                            return false;
                        }
                    });

                this.apiService.SubscribedPlans({id: this.user_id, token: this.access_token})
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            this.subscribed_plans = data;
                            console.log('subscribed_plans:', this.subscribed_plans)
                        } else {
                            this.$notify({text: data.error_messages, type: 'error'});
                            return false;
                        }
                    })
            } else {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        methods: {
            cancel_subscription(cancel_reason) {

                if (confirm('If you are cancelled your subscription, automatic renewal wont happen. Do you want to cancel your subscription ?')) {

                    this.apiService.CancelSubscription({
                        id: this.user_id,
                        token: this.access_token,
                        cancel_reason: cancel_reason
                    })
                        .then(data => {
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    text: data.message,
                                    type: 'success'
                                });

                                setTimeout(function () {
                                    window.location.reload()
                                }, 1000);
                            } else {
                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                                return false;
                            }
                        })


                }
            },

            enable_subscription() {

                if (confirm('Do you want to enable Auto subscription ?')) {

                    this.apiService.AutoRenewalEnable({id: this.user_id, token: this.access_token})
                        .then(data => {
                            data = data.data;
                            if (data.success) {
                                this.$notify(
                                    {text: data.message, type: 'success'}
                                );
                            } else {
                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                                return false;
                            }
                        })
                }
            }
        }
    }
</script>
