<template>
    <div class="content-wrapper">
        <div class="login-form" style="padding-top:57px;padding-left:15px;padding-right:15px;color: #333;">
            <div class="section-padding">
                <div class="row">
                    <h3 class="text-center text-uppercase mb-20 billing-details mt-0" style="color: #fff">Card
                        Details</h3>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div class="grey-bg spacing text-center" style="background-color: #fff;">
                            <div v-if="cards.length > 0">
                                <div v-for="(card, cardKey) in cards" :key="cardKey">

                                    <div>
                                        <div class="card-list-left">
                                            <img src="../assets/img/visa.png">
                                        </div>
                                        <div class="card-list-right">
                                            <p class="m-0" v-if="card.is_default == 0">
                                                <a @click="deleteCard(card.card_id)" style="cursor: pointer;">
                                                    <i class="fa fa-trash pull-right"></i>
                                                </a>
                                            </p>
                                            <h4 class="uppercase mt-0">xxxx-xxxx-xxxx-{{card.last_four}}</h4>
                                            <a v-if="card.is_default == 1">
                                                <p class="theme-clr captalize">Default card</p>
                                            </a>
                                            <a v-if="card.is_default == 0" @click="setAsDefault(card.card_id)"
                                               style="cursor: pointer;">
                                                <p class="captalize">Set as default</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="line"></p>

                                </div>
                                <div>
                                </div>
                                <router-link :to="'/add-card/'+sub_profile_id">
                                    <div class="card-list-left">
                                        <img src="../assets/img/credit-card1.png">
                                    </div>
                                    <div class="card-list-right">
                                        <h5 class="mt-37">Add card</h5>
                                    </div>
                                </router-link>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import {apiService} from '../api-service.js';

    export default {
        name: 'CardList',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                login_by: '',
                id: '',
                profile: {},
                active_plan: '',
                subprofile: {},
                cards: {}
            }
        },
        beforeMount() {
            this.$emit('update:isPageLoaderShow', true);
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage.user_id != '' && this.sessionStorage.user_id != undefined) ? this.sessionStorage.user_id : false;
            this.access_token = (this.sessionStorage.access_token != undefined && this.sessionStorage.access_token != '') ? this.sessionStorage.access_token : '';
            this.sub_profile_id = this.sessionStorage.sub_profile_id;
            if (this.user_id && this.access_token) {
                this.cardDetails();

            } else {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        mounted() {
        },
        computed: {},
        methods: {
            cardDetails() {
                this.apiService.cardDetails({
                    sub_profile_id: this.$route.params.id,
                    id: this.user_id,
                    token: this.access_token
                })
                    .then(data => {
                        this.$emit('update:isPageLoaderShow', false);
                        data = data.data;
                        if (data.success) {
                            this.cards = data.data;
                        } else {
                            this.$notify({
                                type: 'error',
                                text: data.error_messages
                            })
                        }


                    })
                    .catch(() => {

                        this.$notify({
                            type: 'error',
                            text: 'Something Went Wrong, Please Try again later'
                        })
                    })
            },
            setAsDefault(card_id) {
                if (confirm('Are you sure want to change the card as default ?')) {
                    this.apiService.defaultCard({
                        sub_profile_id: this.$route.params.id,
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        card_id: card_id,
                    })
                        .then(data => {
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    type: 'success',
                                    text: 'Successfully, the card has been deleted'
                                });
                            } else {
                                this.$notify({
                                    type: 'error',
                                    text: data.error_messages
                                });
                            }
                        })
                        .catch(() => {
                            this.$notify({
                                type: 'error',
                                text: 'Something Went Wrong, Please Try again later'
                            });
                        })
                }
            },
            deleteCard(card_id) {
                if (confirm('Are you sure want to delete the card ?')) {
                    this.apiService.deleteCard({
                        sub_profile_id: this.$route.params.id,
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        user_id: this.sessionStorage.user_id,
                        card_id: card_id,
                    })
                        .then(data => {
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    type: 'success',
                                    text: 'Successfully, the card has been deleted'
                                });
                                for (let item in this.cards) {
                                    if (this.cards[item].card_id == 3) {
                                        delete this.cards[item]
                                    }
                                }
                            } else {
                                this.$notify({
                                    type: 'error',
                                    text: data.error_messages
                                });
                            }
                        })
                        .catch(() => {
                            this.$notify({
                                type: 'error',
                                text: 'Something Went Wrong, Please Try again later'
                            });
                        })
                }
            }
        }
    }
</script>
