<template>

    <div class="content" id="page_content">

        <div style="margin-top:80px !important; margin:5%; padding: 10px;">

            <div class="box-head" style="margin-bottom: 2%;">
                <h3>{{cast_details.name}}</h3>
            </div>

            <button @click="loadMoreDetails()" v-if="false" id="load_more_details"></button>


            <div class="box video-box-row" v-if="datas.length == 0">

                <p v-if="datas.length < 0 ">No videos present in this section</p>


            </div>
            <div class="box video-box-row" v-for="(video, parentindex) in datas" :key="parentindex">

                <div :id="parentindex+'_'+parentindex"
                     v-on:mouseover="hoverIn(this,parentindex, parentindex, video.length)"
                     v-on:mouseleave="hoverOut(this, $index, parentindex, video.length)"
                     class="tile col-lg-3 col-md-3 col-sm-3 col-xs-6 slide-box video-box"
                     v-for="(value, videoKey) in video" :key="videoKey">
                    <div class="video-box-outer">

                        <div class="tile-media" :id="parentindex+'_'+parentindex+'_img'">
                            <img class="tile-img" :src="value.default_image" alt=""/><!-- 3rd image-->
                            <!-- <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/>
                            <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/> -->
                        </div>
                        <div class="tile-details">

                            <div class="video_amount" v-if="value.amount > 0 && !value.pay_per_view_status">
                                <!-- <span v-if="value.pay_per_view_status">PAID</span> -->
                                <span>PAY - {{value.currency}} {{value.amount}}</span>

                            </div>
                            <span ng-show="value.pay_per_view_status">
                                <router-link :to="'/video/'+value.admin_video_id">
                                    <div class="hover-icon" :id="parentindex+'_'+parentindex+'_div'">
                                    <i class="fa fa-play"></i>
                                    </div>
                                </router-link>
                            </span>
                            <span v-if="!value.pay_per_view_status">
                                <router-link :to="'/payment-option/'+value.admin_video_id">
                                    <div class="hover-icon" :id="parentindex+'_'+parentindex+'_div'">
                                    <i class="fa fa-play"></i>
                                    </div>
                                </router-link>
                            </span>


                            <div class="tile-content" :id="parentindex+'_'+parentindex+'_desc'">
                                <h3 class="tile-tit">{{value.title}}</h3>

                                <div class="row no-margin hidden-cls">
                                    <div class="pull-left">
                                        <div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">

                                            </div>
                                        </div>
                                    </div>
                                    <p class="video-season">
                                        <span>{{value.publish_time}}</span>
                                        <span class="video-epi-count">{{value.age}} / <i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                                        <span>{{value.duration}}</span>
                                    </p>
                                </div>

                                <div>
                                    <div class="video-des">
                                        <p class="video-des-inner">{{value.description}}</p>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <a @click="showVideoDrop(this, $index, $parentindex,video.length)" class="arrow">
                                        <img src="../assets/img/down-arrow-red.png" class="arrow_down"/>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <div class="video-drop" :id="lastindex+'_'+data.key+'_video_drop'"
                     v-for="(value, lastindex) in data.list" :key="lastindex">
                    <video-drop :index="lastindex" :videoKey="data.key" :value="value"
                                :spam_reasons="spam_reasons"></video-drop>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import VideoDrop from "../components/VideoDrop";
    import JQuery from 'jquery'

    let $ = JQuery;

    export default {
        name: 'CastCrew',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {VideoDrop},
        data() {
            return {
                site_settings: this.AppSettings,
                sessionStorage: {},
                spam_reasons: {},
                geners: [],
                isDataShow: false,
                datas: {},
                display: false,
                access_token: '',
                apiService: new apiService(),
                sub_profile_id: '',
                window_width: window.innerWidth,
                media_height: 0,
                epdisode_slide_to_show: 6,
                epdisode_slide_to_scroll: 6,
                show_count: 6,
                user_id: '',
                user_type: '',
                title: '',
                id: 0,
                slideConfig: {
                    slidesToShow: this.epdisode_slide_to_show,
                    slidesToScroll: this.epdisode_slide_to_scroll,
                    // "nextArrow":"<div class='nav-btn next-slide'></div>",
                    // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                    dots: false,
                    infinite: true
                },
                cast_details:{}
            }
        },
        async beforeMount() {

            if (!localStorage.getItem('sessionStorage')) {
                this.$router.push('/');
                return false;
            }
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            this.user_id = this.sessionStorage.user_id;
            this.access_token = this.sessionStorage.access_token;
            this.user_type = this.sessionStorage.user_type;
            this.sub_profile_id = this.sessionStorage.sub_profile_id;
            if (this.user_id && this.access_token) {
                this.$emit('update:isPageLoaderShow',true);
                this.title = this.$route.params.title;
                this.id = this.$route.params.id;
                const spamResponse = await this.apiService.spamReasons();
                this.$emit('update:isPageLoaderShow',false);
                if (spamResponse.data.success) this.spam_reasons = spamResponse.data.data;
                else return false;
                // const vm = this;
                // $(window).scroll(() => {
                //     setTimeout(function () {
                //         vm.loadMoreDetails();
                //     }, 5000);
                // });
                this.$emit('update:isPageLoaderShow', true);
                this.detailsFn(0, 12);
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        methods: {

            loadMoreDetails() {
                const dataLength = Object.keys(this.datas).length;
                if (dataLength === 0) this.display = false;
                let length = 0;

                for (let i = 0; i < dataLength; i++) {
                    length += Object.keys(this.datas[i]).length;
                }

                let total = length;

                if (total == this.total) return false;
                this.total = total;
                this.detailsFn(total, 12);
            },

            async detailsFn(skip, take) {
                this.isDataShow = true;
                this.display = false;
                const data = new FormData;
                data.append('id', this.sessionStorage.user_id);
                data.append('token', this.sessionStorage.access_token);
                data.append('sub_profile_id', this.sessionStorage.sub_profile_id);
                data.append('cast_crew_id', this.$route.params['id']);
                data.append('type', 'web');
                data.append('skip', skip);
                data.append('take', take);
                if (this.id) data.append('cate_id', this.id);
                let detailsResponse = await this.apiService.CastAndCrewVideos(data);
                this.isDataShow = false;
                this.$emit('update:isPageLoaderShow', false);
                detailsResponse = detailsResponse.data;
                console.log('this is the detailsResponse', detailsResponse)
                if (detailsResponse.success) {
                    this.cast_details = detailsResponse.cast;

                    if (detailsResponse.data.length > 0) {

                        this.title = data.title;

                        if(this.datas.length > 0) {

                            this.datas = $.merge(this.datas, detailsResponse.data);

                        } else {

                            this.datas = detailsResponse.data;

                        }
                    }
                    console.log(this.cast_details)
                } else {
                    this.$notify({
                        type: 'error',
                        text: detailsResponse.error_messages
                    });
                    this.$router.push('/');
                    return false;
                }
            },
            updateVideoDrop(newValue, slideKey) {
                this.selectedId = newValue;
                console.log(this.selectedId, 'this is the selectedId')
                console.log(slideKey, 'this is the selectedId')
            },
            showVideoDrop(event, sub, idx, key) {
                $('.video-drop').hide();
                $("#" + sub + '_' + idx + "_" + key + "_video_drop").fadeIn();
                $('#' + sub + '_' + idx + "_" + key).removeClass('transition-class');
                $('#' + sub + '_' + idx + "_" + key + "_img").addClass('active_img');
                $('#' + sub + '_' + idx + "_" + key + "_desc").hide();
                $('#' + sub + '_' + idx + "_" + key + "_div").addClass('play_icon_div');
            },
            hoverIn(event, sub, id, key, length) {
                const video_drop = $(".video-drop").is(":visible");
                if (!video_drop) {

                    $('#' + sub + '_' + id + "_" + key).addClass('transition-class');
                    $('#' + sub + '_' + id + "_" + key + "_desc").show();
                    $('#' + sub + '_' + id + "_" + key + "_desc").css('bottom', '30px');
                    $('#' + sub + '_' + id + "_" + key).css('padding', '0');


                } else {
                    for (let i = 0; i < length; i++) {
                        $("#" + sub + '_' + i + "_" + i + "_video_drop").hide();
                        $('#' + sub + '_' + i + "_" + i + "_img").removeClass('active_img');
                        $('#' + sub + '_' + i + "_" + i + "_div").removeClass('play_icon_div');
                        $('#' + sub + '_' + i + "_" + i + "_desc").show();
                    }
                    $('#' + sub + '_' + id + "_" + key).removeClass('transition-class');
                    $('#' + sub + '_' + id + "_" + key + "_img").addClass('active_img');
                    $('#' + sub + '_' + id + "_" + key + "_desc").hide();
                    $('#' + sub + '_' + id + "_" + key + "_div").addClass('play_icon_div');
                    $("#" + sub + '_' + id + "_" + key + "_video_drop").show();
                }
            },
            hoverOut(event, sub, id, key, length) {
                $('.slick-slide').css('margin', '0px');
                var video_drop = $(".video-drop").is(":visible");
                if (video_drop) {
                    for (var i = 0; i < length; i++) {
                        $("#" + sub + '_' + i + "_" + i + "_video_drop").hide();
                        $('#' + sub + '_' + i + "_" + i + "_img").removeClass('active_img');
                        $('#' + sub + '_' + i + "_" + i + "_desc").show();
                        $('#' + sub + '_' + i + "_" + i + "_div").removeClass('play_icon_div');
                    }
                    $("#" + sub + '_' + i + "_" + key + "_video_drop").hide();
                    $('#' + sub + '_' + id + "_" + key + "_img").addClass('active_img');
                    $("#" + sub + '_' + id + "_" + key + "_video_drop").show();
                    $('#' + sub + '_' + id + "_" + key + "_desc").hide();
                    $('#' + sub + '_' + id + "_" + key + "_div").addClass('play_icon_div');
                }

                $('#' + sub + '_' + id + "_" + key).removeClass('transition-class');
            }
        },

        watch: {
            selectedId(newValue) {
                this.showVideoDrop('', newValue.key.split(' ').join(''), newValue.selectedContent.admin_video_id,
                    newValue.selectedContent.admin_video_id);
            }
        },
        created() {
            window.addEventListener("resize", this.windowsResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.windowsResize);
        }
    }
</script>
<style scoped>
    #page_content {
        padding-top: 50px;
    }

    .video-drop {
        top: 50px;
    }

    .box-head h3 {
        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 4px 0px;
    }

    .video-box-row {
        font-size: 14px;
        white-space: normal;
    }

    .tile {
        height: auto !important;
        width: 100%;
    }

    .tile-img {
        max-height: 420px;
        object-fit: fill;
    }

    .tile-media {
        /*border: 2px solid #141414;*/
        height: auto !important;
        text-align: center;
    }

    .slick-initialized .slick-slide {
        display: inline-block !important;
        height: 100% !important;
        padding: 0;
    }

    .tab-overlay {
        background: rgba(0, 0, 0, .90);
    }

    /*.slide-box {
        width: 16% !important;
    }*/

    .slide-image img {
        width: 100%;
    }

    .box-title {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .box-head {
        margin: 0 4% 0.5em 5%;
    }

    .box-head h3 {

        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        margin: 0;

    }

    .video-head a {
        font-size: 13px;
        color: #167ac6;
    }

    /*.video-box-outer {

        margin: 0px 5px;

    }*/


    .slick-track {
        /*width:100% !important;*/
    }

    .slick-cloned {
        position: absolute !important
    }

    .slide-image {
        width: 100%;
        height: 110px !important;
        overflow: hidden;
        position: relative;
    }

    .slide-image img {
        width: 100%;
        min-height: 100%;
    }

    .slick-initialized .slick-slide {
        display: block;
        /*  padding: 5px;*/
    }

    .slick-prev, .slick-next {
        font-weight: bold;
        padding: 0;
        display: inline-block;
        width: 30px;
        line-height: 7px;
        position: absolute;
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        /*height: 74%;*/
        height: calc(100% - 102px);

    }

    .arrow_down {
        height: 9px;
        width: 29px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .slick-prev {

        left: 0;

    }

    .slick-next {

        right: 0;

    }

    .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
        /*background-color: #bbb;*/
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
    }

    .slick-next:hover, .slick-next:active, .slick-next:focus {
        /*background-color: #bbb;*/
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width: 992px) {
        .slide-image {
            width: 100%;
            height: 90px;
            overflow: hidden;
        }
    }


    /* Custom, iPhone Retina */
    @media only screen and (max-width: 320px) {
        .slide-image {
            width: 100%;
            height: 123px;
            overflow: hidden;
        }
    }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        margin-left: -5px;
    }

    .active_img {
        border: 4px solid #fff !important;
    }

    .active_img:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -5%;
        z-index: 100;
    }

    .tile-media {
        border: 4px solid #141414;
        height: 141px;
    }

    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;

    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }

</style>
<style>
    a.close-btn {
        text-shadow: 0px 1px 5px #141414;
    }
</style>
