<template>
    <div class="content" style="padding-top: 8%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="text-center">{{title}}</h1>
                    <h3 style="line-height: 1.5;">Premium channels are curated collections of movies which let you play all titles in that channel for a single
                        monthly subscription price.</h3>
                </div>
            </div>
        </div>
        <div class="row mt-4" style="margin-top:80px !important; margin:5%; padding: 10px;">
            <div class="col-md-3" v-for="(item, key) in items" :key="key">
                <div class="card hovercard">
                    <img src="http://localhost/img/billing-back.jpg" alt="" />
                    <div class="avatar">
                        <!--<img src="../assets/img/bg-1.jpg" alt="" />-->
                        <img :src="item.picture" alt="" height="300"/>
                    </div>
                    <div class="info mt-2">
                        <div class="title mb-2">
                            {{item.name}}
                        </div>
                        <div class="desc">{{item.description}}</div>
                    </div>
                    <div class="bottom">
                        <router-link :to="'/channel/'+item.id" class="btn form-btn">View Details</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Channels',
        props: ['AppSettings', 'apiService'],
        components: {},
        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            this.user_id = this.sessionStorage ? this.sessionStorage['user_id'] : false;
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            if (this.user_id && this.access_token) {
                this.apiService.getAllChannels(
                    {id: this.sessionStorage['user_id'], token: this.sessionStorage['access_token']}
                )
                    .then(data => {
                        const response = data.data;
                        if (response.success) this.items = response.channels;
                        else{
                            this.$notify({
                                text: response.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(err => {
                        this.$router.push('/');
                        throw new Error(err);
                    })
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        data() {
            return {
                sessionStorage: {},
                user_id: '',
                access_token: '',
                title: 'What are Premium Channels',
                items: {}
            };
        }
    }
</script>

<style scoped>
    img{
        width: 100% !important;
    }
    .desc{
        min-height: 150px !important;
    }
    .form-btn{
        padding-top: 10px !important;
    }
</style>
