<template>
    <!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
    <div class="main-content">

        <div class="content-panel" style="padding-top: 57px;">

            <!-- LOGIN FORM
            ===================================================-->
            <div class="login-form">
                <div class="container">
                    <div class="login-form-inner grey-bg">
                        <h3 class="login-tit">Hope, see you soon</h3>
                        <form method="post" @submit.prevent="deleteAccount()">
                            <div class="form-group">
                                <label><b>Note:</b> Once you deleted account, you will lose your history and wishlist
                                    details. </label>
                                <br>
                                <div v-if="login_by == 'manual'">
                                    <input type="password" class="form-control" placeholder="Enter Password"
                                           v-model="password" name="password">
                                </div>
                            </div>


                            <div>
                                <button type="submit" class="btn btn-primary form-btn">Delete Account</button>
                            </div>

                            <div class="clearfix"></div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- LOGIN FORM -->

        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'EditAccount',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                site_settings: this.AppSettings,
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                paid_videos: {},
                login_by: '',
                password: '',
                profile: {
                    email: '',
                    name: '',
                    mobile: ''
                }
            }
        },

        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage.user_id != '' && this.sessionStorage.user_id != undefined) ? this.sessionStorage.user_id : false;
            this.access_token = (this.sessionStorage.access_token != undefined && this.sessionStorage.access_token != '') ? this.sessionStorage.access_token : '';
            if (this.user_id && this.access_token) {

                this.login_by = this.sessionStorage.login_by;
            } else {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        methods: 
        {
            deleteAccount() {
                // this.$emit('update:isPageLoaderShow', true);
                this.password = this.sessionStorage.login_by == 'manual' ? this.password : '';
                if (this.sessionStorage.login_by == 'manual') {
                    if (this.password == '' || this.password == undefined) {
                        this.$notify(
                            {
                                text: "Please fill the password field",
                                type: 'error'
                            });
                        return false;
                    }
                }
                this.apiService.DeleteAccount(
                    {id: this.user_id, token: this.access_token, password: this.password})
                    .then(data => {
                        data = data.data;
                        if (data.success) 
                        {
                            this.$notify({message: data.message, timeout: 3000, pos: 'top-center', status: 'success'});
                            window.localStorage.setItem('logged_in', 'false');
                            this.sessionStorage = {};
                            localStorage.removeItem("sessionStorage");
                            localStorage.clear();
                            this.$router.push('/');
                        } 
                        else 
                        {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            return false;
                        }
                    })
            }
        }
    }
</script>
