<template>
    <!-- http://adminview.streamhash.com/embed?v_t=2&u_id=45a0862c455212 -->
    <div @mousemove="someMethod"  @mouseover="upHere = true" @mouseleave="upHere = false"   class="content" style="position: relative;">


        <player @click="playerData()"  :parentId="$route.params['id']" :opts.sync="opts" :videoFetched.sync="videoFetched"
                style="margin: 0 auto;">
        </player>


        <div  class="embed-responsive embed-responsive-16by9" id="flash_error_display" style="display: none;">
            <div style="width: 100%;background: black; color:#fff; align-items: center; justify-content: center; padding:15px;text-align: center;margin-top:25%;">
                <div>Flash is missing. Download it from <a target="_blank" href="http://get.adobe.com/flashplayer/" class="underline">Adobe</a>.
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div v-show="upHere" class="back_button">
            <router-link :to="'/home/'+sub_profile_id">
                <i class="fas fa-arrow-circle-left" title="Back to home"></i>
            </router-link>
          
        </div>
        <div v-show="upHere" class="back_logo">
              <img style="height: 40px !important;" :src="AppSettings.settings?AppSettings.settings.site_logo:''"/>
        </div>
            
    
        <div class="embed-link">

            <div class="embed_icon">


                <div class="modal fade embed-top" id="embed-popup" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
<div class="modal-content embed-bg" style="background-image: url(../assets/img/img7.jpg);">
                            <div class="embed-overlay">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Video Name</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea type="text" row="" name="embed_link" v-model="embed_link"
                                              class="form-control" id="embed_link"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <div class="text-right">

                                        <button type="button" class="payment-submit" title="Copy Link"
                                                @click="copyFromTextBox()">Copy
                                        </button>

                                        <!-- <button type="button" class="btn btn-danger btn-sm" title="Cancel" ng-click="closePopup()"  data-dismiss="modal">Cancel</button> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import JQuery from 'jquery'
    import Player from '../components/Player'
    import {AppSettings} from '../config'

    let $ = JQuery;

    export default {
        name: 'EasyVideo',
        props: ['AppSettings','isPageLoaderShow'],
        components: {Player},
        data() {
            return {
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                user_detail: {},
                videoFetched:false,
                sessionStorage: {},
                upHere : false,
                access_token: '',
                apiService: new apiService(),
                page_not_changed: false,
                user_type: '',
                videoData: {},
                embed_link: '',
                player_ins: '',
                source: {},
                title: 'FWD',
                videoLink:'',
                id: '',
                VideoStartTimeSet:{},
                split: '',
                opts: {
                    instanceName: 'player' + this.$route.params['id'] + Math.random(),
                    mainFolderPath: AppSettings.apiBase + "fwd-content",
                    skinPath: "minimal_skin_dark",
                    initializeOnlyWhenVisible: "no",
                    displayType: "responsive",
                    autoScale: "yes",
                    useYoutube: "yes",
                    fillEntireVideoScreen: "no",
                    openDownloadLinkOnMobile: "no",
                    useHEXColorsForSkin: "no",
                    normalHEXButtonsColor: "#FF0000",
                    selectedHEXButtonsColor: "#FFFFFF",
                    privateVideoPassword: "428c841430ea18a70f7b06525d4b748a",
                    startAtTime: "00:20",
                    stopAtTime: "",
                    startAtVideoSource: 2,
                    videoSource: [],
                    posterPath: "/assets/fwd-content/posters/360.jpg",
                    showErrorInfo: "yes",
                    fillEntireScreenWithPoster: "yes",
                    rightClickContextMenu: "default",
                    disableDoubleClickFullscreen: "no",
                    useChromeless: "no",
                    showPreloader: "yes",
                    addKeyboardSupport: "yes",
                    autoPlay: "yes",
                    loop: "no",
                    maxWidth: window.innerWidth,
                    maxHeight: window.innerHeight,
                    volume: .8,
                    greenScreenTolerance: 0,
                    backgroundColor: "#000000",
                    posterBackgroundColor: "#0099FF",
                    //logo settings
                    // showLogo: "yes",
                    // hideLogoWithController: "yes",
                    // logoPosition: "topRight",
                    // logoLink: "/#/home/" + JSON.parse(localStorage.sessionStorage).sub_profile_id,
                    // logoMargins: 5,
                    //controller settings
                    showController: "yes",
                    showControllerWhenVideoIsStopped: "no",
                    showVolumeScrubber: "yes",
                    showVolumeButton: "yes",
                    showTime: "yes",
                    showQualityButton: "yes",
                    showShareButton: "yes",
                    showEmbedButton: "no",
                    showDownloadButton: "no",
                    showFullScreenButton: "yes",
                    repeatBackground: "yes",
                    controllerHeight: 41,
                    controllerHideDelay: 3,
                    startSpaceBetweenButtons: 7,
                    spaceBetweenButtons: 9,
                    mainScrubberOffestTop: 14,
                    scrubbersOffsetWidth: 4,
                    timeOffsetLeftWidth: 5,
                    timeOffsetRightWidth: 3,
                    volumeScrubberWidth: 80,
                    volumeScrubberOffsetRightWidth: 0,
                    timeColor: "#888888",
                    youtubeQualityButtonNormalColor: "#888888",
                    youtubeQualityButtonSelectedColor: "#FFFFFF",
                    //cuepoints
                    executeCuepointsOnlyOnce: "no",
                    //subtitles
                    showSubtitleButton: "yes",
                    subtitlesOffLabel: "Subtitle off",
                    startAtSubtitle: 1,
                    //audio visualizer
                    audioVisualizerLinesColor: "#0099FF",
                    audioVisualizerCircleColor: "#FFFFFF",
                    //advertisement on pause window
                    aopwTitle: "Advertisement",
                    aopwSource: "",
                    aopwWidth: 400,
                    aopwHeight: 240,
                    aopwBorderSize: 6,
                    aopwTitleColor: "#FFFFFF",
                    //playback rate / speed
                    showPlaybackRateButton: "no",
                    defaultPlaybackRate: "1", //0.25, 0.5, 1, 1.25, 1.5, 2
                    //embed window
                    embedWindowCloseButtonMargins: 0,
                    borderColor: "#333333",
                    mainLabelsColor: "#FFFFFF",
                    secondaryLabelsColor: "#a1a1a1",
                    shareAndEmbedTextColor: "#5a5a5a",
                    inputBackgroundColor: "#000000",
                    inputColor: "#FFFFFF"
                }
            }
        },
        async beforeMount() {
            this.$emit('update:isPageLoaderShow',true);
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            const user_detail = await this.apiService.getUserDetail({
                id: this.sessionStorage['user_id'],
                token: this.sessionStorage['access_token']
            });
            this.user_detail = user_detail.data;
            this.user_id = this.sessionStorage['user_id'] ? this.sessionStorage['user_id'] : false;
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            const id = this.$route.params.id;
            if (this.user_id && this.access_token) {
                this.sub_profile_id = this.sessionStorage['sub_profile_id'];
                this.user_type = this.sessionStorage['user_type'] ? this.sessionStorage['user_type'] : false;
                // this.user_type = true;
                this.height = $(window).height();
                this.page_not_changed = true;
                this.id = id;
                this.apiService.getSingleVideo(
                    {
                        id: this.user_id,
                        token: this.access_token,
                        device_type: 'web',
                        admin_video_id: id,
                        sub_profile_id:this.sub_profile_id,
                        video_type: 'video'
                    }
                )
                    .then((data) => {

                        data = data.data;

                        this.$emit('update:isPageLoaderShow',false);

                        if (data.success) {
                            this.videoData = data;
                            if (this.videoData.video_duration != null) {
                                this.opts.startAtTime = this.videoData.video_duration.duration;
                            }
                            this.embed_link = this.AppSettings.apiBase +
                                "embed/" + this.videoData.video.unique_id;
                            this.sessionStorage['saved_subscription_video_id'] = "";
                            localStorage.setItem('sessionStorage',
                                JSON.stringify(this.sessionStorage));
                            if (!this.videoData['pay_per_view_status']) {
                                this.page_not_changed = false;
                                this.sessionStorage['saved_subscription_video_id'] = this.id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                this.$router.push('/pay-per-view/' + this.videoData['video'].admin_video_id);
                            }
                            if (this.user_detail.subscription) {
                                if (!this.user_detail.subscription.amount > 0) {
                                    if (this.user_type) {
                                        this.page_not_changed = false;
                                        this.sessionStorage.saved_subscription_video_id = id;
                                        localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                        this.$router.push('/subscriptions/' + this.sessionStorage.sub_profile_id);
                                    }
                                }
                            } else {
                                this.page_not_changed = false;
                                this.sessionStorage.saved_subscription_video_id = id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                this.$router.push('/subscriptions/' + this.sessionStorage.sub_profile_id);
                            }
                            if (this.page_not_changed) {
                                this.sessionStorage.continous_watch_video_id = this.id;
                                this.sessionStorage.sub_profile_id = this.sessionStorage.sub_profile_id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                this.player_ins = "ins_" + this.videoData['video'].admin_video_id;
                                var video_src = this.videoData['video'].video;
                                this.source = video_src.replace('https://youtu.be/', 'https://www.youtube.com/embed/');
                                 this.addVideoSource(this.source, this.videoData['video'].default_image, id);
                                $("html>div").css("z-index", 1000);
                            }
                        } else {
                            if(data.error_code==103){
                                this.$router.push('/');
                            }
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
            } else {

                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        mounted() {
            window.setInterval(() => {
                this.getCurrentWatchTime();
            }, 5000)

            // $(document).on('mousemove', '.main-content div:first-child', function(event){
            //     if (event != '') {
            //         $('.back_button').show();
            //         console.log('in if');
            //     }                
            // },
            // function (){
            //     $('.back_button').hide();
            // });
        },
        watch: {
            AppSettings(newValue) {
                if (newValue.settings) {
                    return newValue.settings.site_logo;
                } else {
                    return {};
                }
            }
        },
        methods: {
            someMethod(event) 
    {
        // $('p:first-child').hide();
        // clientX/Y gives the coordinates relative to the viewport in CSS pixels.
        console.log(`${event.timeStamp}.`);
        console.log(event.clientX,event.clientY); // x coordinate
        console.log(event.pageX,event.pagey); 
        console.log(event.screenX,event.screenY);

    },
            myVideoOnLoad: function() 
            {
                $(document).on('click', '.content .main-content', function()
                {
                    alert('test');
                 //do action
                });
            },
            playerData()
            {
                console.log('player');
            },
            watchCount(videoId) 
            {
                this.apiService.setWatchCount({
                    id: this.user_id,
                    token: this.access_token,
                    admin_video_id: videoId
                })
            },
           
            getCurrentWatchTime()
            {
                this.countStyle = "margin: 0px; padding: 0px; max-width: none; max-height: none; border: none; line-height: 1; backface-visibility: visible; font-family: Arial; font-size: 12px; white-space: nowrap; text-align: center; color: rgb(136, 136, 136); -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility;";
                this.find_html = $('.content.main-content').html();
                
                if (undefined != this.find_html.split(this.countStyle)[1]) {
                    this.split_time = this.find_html.split(this.countStyle)[1].split('</div><div')[0].split('>')[1].split('/')[0];
                    this.ContinueWatch(this.split_time);
                }
            },
            ContinueWatch(duration)
            {

                this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
                if (this.sessionStorage) {
                    this.sub_profile_id = this.sessionStorage.sub_profile_id;
                    this.user_id = this.sessionStorage.user_id;
                    this.access_token = this.sessionStorage.access_token;
                    this.admin_video_id = this.sessionStorage.continous_watch_video_id

                }

                var href_location = window.location.href;
                var n_video_id = href_location.split("/video/")[1];
                // console.log();
                this.apiService.ContinueWatchVideo({
                    id: this.user_id,
                    token: this.access_token,
                    admin_video_id: n_video_id,
                    sub_profile_id: this.sub_profile_id,
                    duration: duration
                });          
            },
            // VideoStartTimeGet(){
            //     // setTimeout(function(){  
            //     this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            //     if (this.sessionStorage) {
            //         this.sub_profile_id = this.sessionStorage.sub_profile_id;
            //         this.user_id = this.sessionStorage.user_id;
            //         this.access_token = this.sessionStorage.access_token;
            //         this.admin_video_id = this.sessionStorage.continous_watch_video_id

            //     }

            //     this.apiService.ContinueWatchGetDuration({
            //         id: this.user_id,
            //         token: this.access_token,
            //         admin_video_id: this.admin_video_id,
            //         sub_profile_id: this.sub_profile_id
            //     }).then((resp) => {
            //         // console.log(resp.data)
            //         return resp.data;
            //     }) 
            //     // }, 5)
            // },
            redirect() 
            {
                $("html>div").remove();
                this.$router.push('/');
            },
            addVideoSource(videoLink, posterLink, id) 
            {
                this.videoLink = videoLink;
                this.opts.videoSource[0] = {source: videoLink, label: "small version", is360: "yes"};
                this.opts.posterPath = posterLink;
                this.videoFetched = true;
                this.watchCount(id);
                // console.log(this.opts.startAtTime);
                // this.opts.startAtTime = this.VideoStartTimeGet();
                // console.log(this.opts.startAtTime);
            },
            copyFromTextBox() 
            {
                const text = this.embed_link;
                const textArea = document.createElement("textarea");
                textArea.value = text;
                document.body.appendChild(textArea);

                textArea.select();

                $("#embed_link").select();

                try {
                    const successful = document.execCommand('copy');
                    const msg = successful ? 'successful' : 'unsuccessful';
                    console.log('Copying text command was ' + msg);
                } catch (err) {
                    console.log('Oops, unable to copy');
                }

                document.body.removeChild(textArea);
            }
        },
        created: function()
            {
                this.myVideoOnLoad()
            },
        destroyed(){
            this.$emit('update:isPageLoaderShow',false);
        },
        computed: {
            logoLink() {
                let link = localStorage.sessionStorage ? JSON.parse(localStorage.sessionStorage) : '';
                link = link.sub_profile_id;
                return link;
            }
        }
    }
</script>
<style scoped>
  
    .back_button{
        top: 2% !important;
        z-index:99999 !important;
    }
    .back_logo{
    position: absolute !important;
    top: 2% !important;
    right: 2% !important;
    }
</style>
