<template>
    <!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
    <div class="main-content">

        <!-- LOGIN FORM 
        ===================================================-->
        <div class="login-form" style="padding-top: 100px;padding-bottom: 40px;">
            <div class="container">
                <div class="login-form-inner grey-bg">
                    <h3 class="login-tit">Edit Profile</h3>
                    <form method="post" @submit.prevent="editProfile()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Full Name</label>
                            <input type="name" class="form-control" placeholder="Enter Your Name" required
                                   v-model="profile.name" name="name">

                        </div>

                        <div class="form-group" v-if="profile.login_by == 'manual'">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter Email" required
                                   v-model="profile.email" name="email">
                        </div>

                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Enter Mobile Number" required
                                   v-model="profile.mobile" pattern="[0-9]{0,}" maxlength="11" name="mobile">
                        </div>


                        <div>
                            <button type="submit" class="btn btn-primary form-btn">Save</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'EditAccount',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                site_settings: this.AppSettings,
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                paid_videos: {},
                profile: {
                    email: '',
                    name: '',
                    mobile: ''
                }
            }
        },

        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage.user_id != '' && this.sessionStorage.user_id != undefined) ? this.sessionStorage.user_id : false;
            this.access_token = (this.sessionStorage.access_token != undefined && this.sessionStorage.access_token != '') ? this.sessionStorage.access_token : '';
            this.$emit('update:isPageLoaderShow',true)
            if (this.user_id && this.access_token) {
                this.apiService.getUserDetail({id: this.user_id, token: this.access_token})
                    .then(data => {
                        data =data.data;
                        if (data.success) {
                            this.profile = data;
                            this.$emit('update:isPageLoaderShow',false)
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            return false;
                        }
                    });
            } else {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        methods: {
            editProfile() {
                // this.$emit('update:isPageLoaderShow', true);
                this.apiService.UpdateProfile({
                    id: this.user_id,
                    token: this.access_token,
                    email: this.profile.email,
                    name: this.profile.name,
                    mobile: this.profile.mobile,
                    device_token: '123456'
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            this.$notify(
                                {
                                    text: "Your account has been successfully updated",
                                    type: 'success'
                                });
                            this.$router.push('/account-setting/' + this.sessionStorage.sub_profile_id);
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            return false;
                        }
                    });
            }
        }
    }
</script>
