<template>
    <div class="main-content">
        <div class="content-panel" style="padding-top:100px;padding-bottom: 40px;">
            <!-- LOGIN FORM
            ===================================================-->
            <div class="login-form">
                <div class="container">
                    <div class="login-form-inner grey-bg">
                        <h3 class="login-tit">Change Password</h3>
                        <form method="post" @submit.prevent="changePassword()">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" placeholder="Enter Old Password" required
                                       v-model="old_password" name="old_password">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Enter Current Password"
                                       required v-model="password" name="password">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Enter Confirmation Password"
                                       required v-model="password_confirmation" name="password_confirmation">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary form-btn">Change Password</button>
                            </div>
                            <div class="clearfix"></div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- LOGIN FORM -->

        </div>
    </div>
</template>
<script>
    import {apiService} from '../api-service.js';


    export default {
        name: 'ForgotPassword',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id:'',
                old_password: '',
                password: '',
                password_confirmation: '',
            }
        },
        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage.user_id != '' && this.sessionStorage.user_id != undefined) ? this.sessionStorage.user_id : false;
            this.access_token = (this.sessionStorage.access_token != undefined && this.sessionStorage.access_token != '') ? this.sessionStorage.access_token : '';
            if (!(this.user_id && this.access_token)) {
                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                localStorage.removeItem("sessionStorage");

                localStorage.clear();

                this.$router.push('/');
            }
        },
        mounted() {
        },
        computed: {
        },
        methods: {
            changePassword() {


                this.apiService.ChangePassword({
                    id: this.user_id,
                    token: this.access_token,
                    old_password: this.old_password,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            this.$notify({
                                text: data.message + "Please login and continue your account details.",
                                type: 'success'
                            });
                            this.apiService.Logout({id: this.user_id, token: this.access_token})
                                .then(data => {
                                    data = data.data;
                                    if (data.success) {
                                        window.localStorage.setItem('logged_in', 'false');
                                        this.sessionStorage = {};
                                        localStorage.removeItem("sessionStorage");
                                        localStorage.clear();
                                        this.$router.push('/');
                                    } else {
                                        this.$notify({
                                            text: data.error_messages,
                                            type: 'error'
                                        });
                                        return false;
                                    }
                                });
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            return false;
                        }

                    });
            }
        }
    }
</script>
