<template>
    <div class="content" style="position: relative;">
        <div class="back_button" style="z-index: 2147483647;">
            <button @click="redirect()" style="background: transparent;border: none;">
                <i class="fa fa-arrow-circle-o-left" title="Back To Home"></i>
            </button>
        </div>
        <div style="width: 90% !important;margin: 0 auto;">
            <player :parentId="'video01'" :opts.sync="opts" :videoLink="videoLink" :videoFetched.sync="videoFetched"></player>
            <!--<fwd v-if="videoFetched" parentId="video01" [opts]="opts"></fwd>-->
        </div>
        <div class="embed-link">
            <div class="embed_icon">
                <div class="modal fade embed-top" id="embed-popup" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content embed-bg" style="background-image: url(../assets/img/img7.jpg);">
                            <div class="embed-overlay">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Video Name</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea type="text" row="" name="embed_link" v-model="embed_link"
                                              class="form-control" id="embed_link"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <div class="text-right">
                                        <button type="button" class="payment-submit" title="Copy Link"
                                                @click="copyFromTextBox()">Copy
                                        </button>
                                        <!-- <button type="button" class="btn btn-danger btn-sm" title="Cancel" (click)="closePopup()"  data-dismiss="modal">Cancel</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import JQuery from 'jquery'
    import {AppSettings} from '../config'

    let $ = JQuery;
    import Player from '../components/Player'

    export default {
        name: 'GenreVideo',
        props: ['AppSettings'],
        components: {Player},
        data() {
            return {
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                videoFetched:false,
                sessionStorage: {},
                access_token: '',
                apiService: new apiService(),
                page_not_changed: false,
                user_type: '',
                videoData: {},
                embed_link: '',
                player_ins: '',
                source: {},
                title: 'FWD',
                videoLink:'',
                id: '',
                opts: {
                    instanceName: 'first-video',
                    mainFolderPath: "/assets/fwd-content",
                    skinPath: "minimal_skin_dark",
                    initializeOnlyWhenVisible: "no",
                    displayType: "fullscreen",
                    autoScale: "yes",
                    fillEntireVideoScreen: "no",
                    openDownloadLinkOnMobile: "no",
                    useHEXColorsForSkin: "no",
                    normalHEXButtonsColor: "#FF0000",
                    selectedHEXButtonsColor: "#FFFFFF",
                    privateVideoPassword: "428c841430ea18a70f7b06525d4b748a",
                    startAtTime: "",
                    stopAtTime: "",
                    startAtVideoSource: 2,
                    videoSource: [],
                    posterPath: "/assets/fwd-content/posters/360.jpg",
                    showErrorInfo: "yes",
                    fillEntireScreenWithPoster: "no",
                    rightClickContextMenu: "default",
                    disableDoubleClickFullscreen: "no",
                    useChromeless: "no",
                    showPreloader: "no",
                    addKeyboardSupport: "yes",
                    autoPlay: "yes",
                    loop: "no",
                    maxWidth: 2500,
                    maxHeight: 1500,
                    volume: .8,
                    greenScreenTolerance: 200,
                    backgroundColor: "#000000",
                    posterBackgroundColor: "#0099FF",
                    //logo settings
                    showLogo: "yes",
                    hideLogoWithController: "yes",
                    logoPosition: "topRight",
                    logoLink: AppSettings.adminUrl + "uploads/images/SV-2019-09-06-16-54-04-cc603a9ee2b210ea3958f4902c5bad83e475a2e6.png",
                    logoMargins: 5,
                    //controller settings
                    showController: "yes",
                    showControllerWhenVideoIsStopped: "no",
                    showVolumeScrubber: "yes",
                    showVolumeButton: "yes",
                    showTime: "yes",
                    showQualityButton: "yes",
                    showShareButton: "yes",
                    showEmbedButton: "no",
                    showDownloadButton: "no",
                    showFullScreenButton: "yes",
                    repeatBackground: "yes",
                    controllerHeight: 41,
                    controllerHideDelay: 3,
                    startSpaceBetweenButtons: 7,
                    spaceBetweenButtons: 9,
                    mainScrubberOffestTop: 14,
                    scrubbersOffsetWidth: 4,
                    timeOffsetLeftWidth: 5,
                    timeOffsetRightWidth: 3,
                    volumeScrubberWidth: 80,
                    volumeScrubberOffsetRightWidth: 0,
                    timeColor: "#888888",
                    youtubeQualityButtonNormalColor: "#888888",
                    youtubeQualityButtonSelectedColor: "#FFFFFF",
                    //cuepoints
                    executeCuepointsOnlyOnce: "no",
                    //subtitles
                    showSubtitleButton: "yes",
                    subtitlesOffLabel: "Subtitle off",
                    startAtSubtitle: 1,
                    //audio visualizer
                    audioVisualizerLinesColor: "#0099FF",
                    audioVisualizerCircleColor: "#FFFFFF",
                    //advertisement on pause window
                    aopwTitle: "Advertisement",
                    aopwSource: "",
                    aopwWidth: 400,
                    aopwHeight: 240,
                    aopwBorderSize: 6,
                    aopwTitleColor: "#FFFFFF",
                    //playback rate / speed
                    showPlaybackRateButton: "no",
                    defaultPlaybackRate: "1", //0.25, 0.5, 1, 1.25, 1.5, 2
                    //embed window
                    embedWindowCloseButtonMargins: 0,
                    borderColor: "#333333",
                    mainLabelsColor: "#FFFFFF",
                    secondaryLabelsColor: "#a1a1a1",
                    shareAndEmbedTextColor: "#5a5a5a",
                    inputBackgroundColor: "#000000",
                    inputColor: "#FFFFFF"
                }
            }
        },
        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage['user_id'] != '' && this.sessionStorage['user_id'] != undefined )
                ? this.sessionStorage['user_id'] : false;
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            const id = this.$route.params.id;
            if (this.user_id && this.access_token) {
                this.sub_profile_id = this.sessionStorage['sub_profile_id'];
                this.user_type = (this.sessionStorage['user_type'] == undefined || this.sessionStorage['user_type'] == 0) ? true : false;
                // this.user_type = true;
                this.height = $(window).height();
                this.page_not_changed = true;
                this.id = AppSettings.apiBase + 'popupVideo/' + id;
                // this.watchCount(id);
                this.apiService.getSingleVideo(
                    {
                        id: this.user_id,
                        token: this.access_token,
                        device_type: 'web',
                        admin_video_id: id
                    }
                )
                    .then((data) => {
                        data = data.data;
                        if (data.success) {
                            this.videoData = data;

                            this.embed_link = this.AppSettings.apiBase +
                                "embed?v_t=2&u_id=" + this.videoData.video.unique_id;
                            this.sessionStorage['saved_subscription_video_id'] = "";
                            localStorage.setItem('sessionStorage',
                                JSON.stringify(this.sessionStorage));
                            if (!this.videoData['pay_per_view_status']) {
                                this.page_not_changed = false;
                                this.sessionStorage['saved_subscription_video_id'] = this.id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                this.watchCount(id);
                                this.$router.push('/pay_per_view/' + this.videoData['video'].admin_video_id);
                            }
                            if (this.videoData['pay_per_view_status'] && this.videoData['video'].amount <= 0) {
                                if (this.user_type) {
                                    this.page_not_changed = false;
                                    this.sessionStorage.saved_subscription_video_id = id;
                                    localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                    this.watchCount(id);
                                    this.$router.push('/subscriptions/' + this.sessionStorage.sub_profile_id);
                                }
                            }
                            if (this.page_not_changed) {
                                this.sessionStorage.continous_watch_video_id = this.id;
                                this.sessionStorage.continous_sub_profile_id = this.sessionStorage.sub_profile_id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                this.player_ins = "ins_" + this.videoData['video'].admin_video_id;
                                this.source = this.videoData['video'].video;
                                this.addVideoSource(this.source);
                                $("html>div").css("z-index", 1000);
                            }
                        } else {
                            if(data.error_code==103){
                                this.$router.push('/');
                            }
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
            } else {

                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.watchCount(id);
                this.$router.push('/');
            }
        },
        mounted() {
        },
        computed: {},
        methods: {
            watchCount(videoId) {
                this.apiService.setWatchCount({
                    id: this.user_id,
                    token: this.access_token,
                    admin_video_id: videoId
                })
                    .then(data => {
                        console.log(data)
                    })
            },

            redirect() {
                $("html>div").remove();
                this.$router.push('/');
            },
            addVideoSource(videoLink) {
                this.videoLink = videoLink;
                this.opts.videoSource.push(
                    {source: videoLink, label: "small version", is360: "yes"}
                );
                console.log(this.opts,'this opts')
                this.videoFetched = true;
            }
        }
    }
</script>
<style>

</style>
