<template>
    <div class="content">
        <!-- HIGHLIGHT -->
        <div class="highlight">
            <div class="tab-content">
                <!-- OVERVIEW Banner SECTION  -->
                <div role="tabpanel" class="tab-pane active" id="overview">
                    <div class="overview tab-section relative">
                        <div class="tab-section-content row no-margin">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 no-pad overview-details">
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: #333;">
                                        <div class="modal-header spam">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title bold">Report This Video</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="spamVideo(recent_video.admin_video_id, recent_video.admin_video_id, 989)">
                                                <div class="radio radio-danger"
                                                     v-for="(spam_reason, spamindex) in spam_reasons" :key="spamindex">
                                                    <input type="radio" name="reason"
                                                           :id="'reason_'+spamindex+'_'+recent_video.admin_video_id+'_989'" :value="spam_reason.value">
                                                    <label :for="'reason_'+spamindex+'_'+recent_video.admin_video_id+'_989'">
                                                        {{spam_reason.value}}
                                                    </label>
                                                </div>
                                                
                                                <p class="small bold text-center">If you report this video, you won't
                                                    see again the same video in
                                                    anywhere in your account except "Spam Videos".
                                                    If you want to continue to report this video as same. Click continue
                                                    and proceed the same.</p>
                                                <div class="text-right">
                                                    <button type="submit" class="payment-submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-pad">
                                <div class="linear-outer">
                                    <div class="linear">
                                    </div>

                                    <div class="rotate-img-outer">
                                        <div class="rotate-img highlight-img bg-img"
                                             :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}"></div>
                                    </div>

                                    <div class="play-icon-outer">
                  <span v-if="recent_video.pay_per_view_status">
                      <router-link class="play-icon" :to="'/video/'+recent_video.admin_video_id">
                          <i class="fa fa-play"></i>
                      </router-link>
                  </span>
                                        <span v-if="!recent_video.pay_per_view_status">

                      <router-link class="play-icon" :to="'/payment-option/'+recent_video.admin_video_id">
                          <i class="fa fa-play"></i>
                      </router-link>
                  </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="home-new-deatils">
                            <div class="overview-details" style="background-color: unset;">
                                <h3 class="content-tit"></h3>
                                <div class="row no-margin hidden-xs">
                                    <div class="pull-left">
                                        <div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 1), 'glyphicon-star' : (recent_video.ratings >= 1)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 2), 'glyphicon-star' : (recent_video.ratings >= 2)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 3), 'glyphicon-star' : (recent_video.ratings >= 3)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 4), 'glyphicon-star' : (recent_video.ratings >= 4)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 5), 'glyphicon-star' : (recent_video.ratings >= 5)}">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="content-txt bold seasons">
                  <span
                          class="green-clr">{{recent_video.release_date && recent_video.release_date !="0000-00-00" ? recent_video.release_date:'' }}</span>
                                        <span class="epi-count">{{recent_video.age}} / <i
                                                class="fa fa-eye"></i>&nbsp;{{recent_video.watch_count}}</span>
                                        <span>{{recent_video.duration}}</span>
                                    </p>
                                </div>
                                <div class="">
                                    <div class="pull-left">
                                        <a class="white-icon">
                                            <i class="fa fa-thumbs-up"></i><span
                                                :id="'like_count_'+recent_video.admin_video_id+'_989'">{{recent_video.like_count}}</span>
                                        </a>
                                        <a class="white-icon">
                                            <i class="fa fa-thumbs-down"></i><span
                                                :id="'dis_like_count_'+recent_video.admin_video_id+'_989'">{{recent_video.dis_like_count}}</span>
                                        </a>
                                    </div>
                                    <div class="pull-left">
                                        <div class="display_amount"
                                             v-if="recent_video.amount > 0 && !recent_video.pay_per_view_status"
                                             style="margin-left: 5px;">
                                            <span>PAY - ${{recent_video.amount}}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div>
                                    <p class="content-txt overview-des">{{recent_video.description}}
                                    </p>
                                </div>

                                <div :id="'my-list-txt'+recent_video.admin_video_id+'_989'" class="pull-left">
                                    <a @click="addWishlist(recent_video.admin_video_id, recent_video.admin_video_id, 989)"
                                       class="bold" v-if="!recent_video.wishlist_status" style="cursor: pointer;">
                                        <button class="my-list">
                                            <i class="fa fa-plus my-list-icon"></i>
                                            <span class="my-list-txt">My List</span>
                                        </button>
                                    </a>
                                    <a @click="removeWishlist(recent_video.wishlist_status, recent_video.admin_video_id,recent_video.admin_video_id, 989)"
                                       class="bold" v-if="recent_video.wishlist_status" style="cursor: pointer;">
                                        <button class="my-list">
                                            <i class="fa fa-check my-list-icon"></i>
                                            <span class="my-list-txt">My List</span>
                                        </button>
                                    </a>
                                </div>

                                <div class="banner-icon-sec hidden-xs">
                                    <a :id="'like_'+recent_video.admin_video_id+'_989'" style="cursor: pointer;"
                                       v-if="recent_video.is_liked == 1 || recent_video.is_liked == 0"
                                       @click="likeVideo(recent_video.admin_video_id, recent_video.admin_video_id, 989)">
                                        <button class="banner-icon">
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    </a>
                                    <a :id="'dis_like_'+recent_video.admin_video_id+'_989'" style="cursor: pointer;"
                                       v-if="recent_video.is_liked == -1 || recent_video.is_liked == 0"
                                       @click="dislikeVideo(recent_video.admin_video_id, recent_video.admin_video_id, 989)">
                                        <button class="banner-icon">
                                            <i class="fa fa-thumbs-down"></i>
                                        </button>
                                    </a>
                                    <a style="cursor: pointer;" data-toggle="modal" data-target="#myModal"
                                       title="Report as Spam">
                                        <button class="banner-icon">
                                            <i class="fa fa-exclamation"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- OVERVIEW Banner SECTION END -->

                <!-- EPISODES-SECTION
                      ======================================== -->
                <div role="tabpanel" class="tab-pane" id="episodes" v-if="recent_video.is_genre">
                    <div class="episodes-section tab-section tab-bg bg-img"
                         :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                        <div class="tab-overlay">

                            <div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
                                <h3 class="content-tit">{{recent_video.sub_category_name}}</h3>
                                <form class="season-select">
                                    <div class="form-group styled-select black rounde">
                                        <!-- <select id="exampleSelect1" ngModel="genres_name" ngChange="getSeasons(genres_name, '','','seasons', 'data_loader_seasons', recent_video.genre_id);">
                                                              <option value="">Select Seasons</option>
                                                              <option value="{{genrename.genre_id}}" v-for="let genrename of recent_video.genre_names">
                                                              {{genrename.genre_name}}
                                                              </option>
                                                          </select> -->
                                    </div>
                                </form>

                                <div class="episodes-list row no-margin">
                                    <data-loader :isShow.sync="isLoaderShow"/>

                                    <div id="seasons" class="row">
                                        <!-- episode list box -->
                                        <VueSlickCarousel v-bind="slideConfig" ref="slick">
                                            <div v-for="(genre_list, key) in recent_video.first_part" :key="key"
                                                 class="slide">
                                                <div class="episode-list-box">

                                                    <div class="episode-img bg-img"
                                                         :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                                                        <div class="episode-img-overlay">
                                                            <div class="episode-img-inner">
                                                                <div class="epi-count1">{{genre_list.age}} /
                                                                    <i class="fa fa-eye"></i>&nbsp;{{genre_list.watch_count}}
                                                                </div>
                                                            </div>
                                                            <div class="epi-play-icon-outer">

                              <span v-if="genre_list.pay_per_view_status">
                                <!-- <a href="/video/genre_list.admin_video_id" class="epi-play-icon"><i class="fa fa-play"></i></a> -->
                                <router-link :to="'/video/'+genre_list.admin_video_id" class="epi-play-icon">
                                    <i class="fa fa-play"></i>
                                </router-link>
                              </span>
                                                                <span v-if="!genre_list.pay_per_view_status">
                                    <router-link :to="'/payment-option/'+genre_list.admin_video_id"
                                                 class="epi-play-icon">
                                    <i class="fa fa-play"></i>
                                </router-link>
                              </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="episode-list-content">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-8">
                                                                <h4 class="epi-tit gray-color1 txt-overflow">
                                                                    {{genre_list.title}}</h4>
                                                            </div>

                                                            <div class="col-md-4 text-right hidden-sm">
                                                                <p class="bold epi-tit gray-color1 txt-overflow">
                                                                    {{genre_list.duration}}</p>
                                                            </div>
                                                        </div>

                                                        <div class="">
                                                            <p class="content-txt overview-des more-link mt-0">
                                                                {{genre_list.description}}</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </VueSlickCarousel>
                                    </div>
                                    <!-- episode-list-box end -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EPISODES-SECTION END-->
                <!-- TRAILERS SECTION -->
                <div role="tabpanel" class="tab-pane" id="trailers"
                     v-if="recent_video.is_genre || recent_video.trailer_video">
                    <div class="trailers-section tab-section tab-bg bg-img"
                         :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                        <div class="tab-overlay">

                            <div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
                                <h3 class="content-tit">{{recent_video.sub_category_name}}AAAAAAAA</h3>

                                <div class="trailers-list row">

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top"
                                         v-if="recent_video.trailer_video">
                                        <div class="episode-list-box">

                                            <div class="episode-img bg-img"
                                                 :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                                                <div class="episode-img-overlay">

                                                    <div class="epi-play-icon-outer">
                                                        <!-- <a href="//{{recent_video.admin_video_id}}" class="epi-play-icon"><class="fa fa-play"></i>
                                                        </a> -->
                                        <router-link :to="'/trailer_video/'+recent_video.admin_video_id"
                                                                     class="epi-play-icon">
                                                <i class="fa fa-play"></i>
                                        </router-link>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="episode-list-content">
                                                <div class="row no-margin">
                                                    <div class="">
                                                        <h4 class="epi-tit gray-color1">{{recent_video.title}}</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TRAILERS SECTION END -->

                <!-- MORE LIKE SECTION  -->
                <div role="tabpanel" class="tab-pane" id="more-like">
                    <div class="morelike-section tab-section tab-bg bg-img"
                         :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                        <div class="tab-overlay">

                            <div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
                                <h3 class="content-tit">{{recent_video.sub_category_name}}</h3>

                                <div class="morelike-list row">
                                    <!-- episode list box -->
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top"
                                         v-for="(video, videoKey) in recent_video.sub_videos" :key="videoKey">
                                        <div class="episode-list-box">

                                            <div class="episode-img bg-img"
                                                 :style="{ 'background-image': 'url(' + video.default_image + ')'}">
                                                <div class="episode-img-overlay">
                                                    <div class="episode-img-inner">
                                                        <p class="new-epi">{{video.title}}</p>
                                                    </div>

                                                    <div class="epi-play-icon-outer">
                                                        <!-- <a href="single_video({id : video.admin_video_id})" class="epi-play-icon">
                                                                                      <i class="fa fa-play"></i>
                                                                                  </a> -->
                                                        <span v-if="video.pay_per_view_status">
                            <!-- <a href="/video/{{video.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a> -->
                                                            <router-link :to="'/video/'+video.admin_video_id"
                                                                         class="epi-play-icon">
                                                                <i class="fa fa-play"></i>
                                                            </router-link>
                          </span>
                                                        <span v-if="!video.pay_per_view_status">

                                                            <router-link :to="'/payment-option/'+video.admin_video_id"
                                                                         class="epi-play-icon">
                                                                <i class="fa fa-play"></i>
                                                            </router-link>
                                                            <!-- <a  class="epi-play-icon" @click="otherPopup(video.admin_video_id, 960, 550)"><i class="fa fa-play"></i></a> -->
                          </span>
                                                    </div>

                                                    <div class="duration_more">
                                                        <span>{{video.duration}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="episode-list-content">
                                                <div class="row no-margin">
                                                    <div class="pull-left">
                                                        <div>
                                                            <div class="rating-symbol glyphicon"
                                                                 :class="{'glyphicon-star-empty' : (video.ratings < 1),
                                                                 'glyphicon-star' : (video.ratings >= 1)}">
                                                            </div>

                                                            <div class="rating-symbol glyphicon"
                                                                 :class="{'glyphicon-star-empty' : (video.ratings < 2),
                                                                 'glyphicon-star' : (video.ratings >= 2)}">
                                                            </div>

                                                            <div class="rating-symbol glyphicon"
                                                                 :class="{'glyphicon-star-empty' : (video.ratings < 3),
                                                                 'glyphicon-star' : (video.ratings >= 3)}">
                                                            </div>

                                                            <div class="rating-symbol glyphicon"
                                                                 :class="{'glyphicon-star-empty' : (video.ratings < 4),
                                                                 'glyphicon-star' : (video.ratings >= 4)}">
                                                            </div>
                                                            <div class="rating-symbol glyphicon"
                                                                 :class="{'glyphicon-star-empty' : (video.ratings < 5),
                                                                 'glyphicon-star' : (video.ratings >= 5)}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="content-txt bold seasons">
                                                        <span class="green-clr hidden-sm">{{video.release_date  &&
                                                            video.release_date !="0000-00-00" ?
                                                            video.release_date:''}}</span>
                                                        <span class="epi-count hidden-sm hidden-md">{{video.age}} / <i
                                                                class="fa fa-eye"></i>&nbsp;{{video.watch_count}}</span>
                                                        <!-- <span>{{video.duration}}</span> -->
                                                    </p>
                                                </div>

                                                <div>
                                                    <p class="content-txt overview-des more-link">
                                                        {{video.description}}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- episode-list-box end -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- MORE LIKE SECTION END -->

                <!-- DETAILS-SECTION -->
                <div role="tabpanel" class="tab-pane" id="details">
                    <div class="details-section tab-section tab-bg bg-img"
                         :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                        <div class="tab-overlay">

                            <div class="details-section-inner tab-section-content tab-sec-inner contain-width
                            details_section_tab">
                                <h3 class="content-tit">{{recent_video.title}}</h3>

                                <div class="row col-sm-12 col-sm-12 col-lg-12 col-md-12">
                                    <div class="detailsItem detailsMedia col-md-2">
                                        <h4>Directors</h4>
                                        <ul class="list-unstyled">
                                            <li v-for="(director, directorKey) in recent_video.directors"
                                                :key="directorKey" class="listLabel">
                                                <router-link :to="'/director/'+director.id">
                                                    {{director.name}}
                                                </router-link>
                                            </li>
                                        </ul>
                                        <h4>Writers</h4>
                                        <ul class="list-unstyled">
                                            <li v-for="(writer, writerKey) in recent_video.writers" :key="writerKey"
                                                class="listLabel">

                                                <router-link :to="'/writer/'+writer.id">
                                                    {{writer.name}}
                                                </router-link>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="detailsItem detailsMedia col-md-2">
                                        <h4>Actors</h4>

                                        <ul class="list-unstyled">

                                            <li v-for="(actor, actorKey) in recent_video.actors" :key="actorKey"
                                                class="listLabel">
                                                <router-link :to="'/actor/'+actor.id">
                                                    {{actor.name}}
                                                </router-link>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="detailsItem detailsMedia col-md-2">
                                        <h4>Category</h4>
                                        <ul class="list-unstyled">
                                            <li class="listLabel">
                                                {{recent_video.sub_category_name}}
                                            </li>
                                        </ul>
                                        <div class="clear-fix"></div>
                                        <h4>Publish Date</h4>
                                        <ul class="list-unstyled">
                                            <li class="listLabel">
                                                <p class="content-txt bold seasons">
                                                    <span class="green-clr hidden-sm">{{recent_video.release_date  &&
                                                        recent_video.release_date !="0000-00-00" ?
                                                        recent_video.release_date:''}}</span>
                                                </p>
                                            </li>
                                        </ul>
                                        <h4>Duration</h4>
                                        <ul class="list-unstyled">
                                            <li class="listLabel">
                                                <p class="content-txt bold seasons">
                                                    <span>{{recent_video.duration}}</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="detailsItem detailsMedia col-md-2">
                                        <h4>Ratings</h4>
                                        <div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 1),
                                                 'glyphicon-star' : (recent_video.ratings >= 1)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 2),
                                                 'glyphicon-star' : (recent_video.ratings >= 2)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 3),
                                                 'glyphicon-star' : (recent_video.ratings >= 3)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 4),
                                                 'glyphicon-star' : (recent_video.ratings >= 4)}">
                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (recent_video.ratings < 5),
                                                 'glyphicon-star' : (recent_video.ratings >= 5)}">
                                            </div>
                                        </div>
                                        <h4>Age</h4>
                                        <ul class="list-unstyled">
                                            <li class="listLabel">
                                                <p class="content-txt bold seasons">
                                                    Recommended for ages {{recent_video.age}} and up
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- DETAILS-SECTION END -->
            </div>
            <div class="drop-tab hidden-xs">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a style="cursor:pointer" @click="displayContent('overview')" aria-controls="overview"
                           role="tab"
                           data-toggle="tab">Overview</a>
                    </li>

                    <li role="presentation" v-if="recent_video.is_genre">
                        <a style="cursor:pointer" @click="displayContent('episodes')" aria-controls="episodes"
                           role="tab"
                           data-toggle="tab">Episodes</a>
                    </li>

                    <li role="presentation" v-if="recent_video.is_genre || recent_video.trailer_video">
                        <a style="cursor:pointer" @click="displayContent('trailers')" aria-controls="trailers"
                           role="tab"
                           data-toggle="tab">Trailers &amp; More</a>
                    </li>

                    <li role="presentation">
                        <a style="cursor:pointer" @click="displayContent('more-like')" aria-controls="more-like"
                           role="tab"
                           data-toggle="tab">More Like This</a>
                    </li>

                    <li role="presentation">
                        <a style="cursor:pointer" @click="displayContent('details')" aria-controls="details" role="tab"
                           data-toggle="tab">Details</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--this is the uncompleted parts-->
        <div :class="{'home_top_class' : recent_video, 'top_class' : !recent_video}" onresize>
            <div class="post slide-area" v-for="(data, keyindex) in datas" :key="keyindex">
                <div class="box-head">
                    <router-link :to="'/title/'+data.key">
                        <h3 @mouseover="showArrow(keyindex)" @mouseleave="hideArrow(keyindex)">
                            {{data.name}}&nbsp;&nbsp;
                            <i class="fa fa-angle-right" style="display: none" :id="keyindex"></i>
                        </h3>
                    </router-link>
                </div>
                <div class="box video-box-row">
                    <Slider :slideContent="data.list" :slideKey="data.key" :spam_reasons="spam_reasons"
                            v-if="data.list.length>0" @showVideoDrop="updateVideoDrop"/>
                </div>
                <div class="clearfix"></div>
                <div class="video-drop" :id="lastindex+'_'+data.key+'_video_drop'"
                     v-for="(value, lastindex) in data.list" :key="lastindex">
                    <video-drop :index="lastindex" :videoKey="data.key" :value="value"
                                :spam_reasons="spam_reasons"></video-drop>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import 'slick-carousel/slick/slick.css'
    import 'slick-carousel/slick/slick-theme.css'

    import VueSlickCarousel from 'vue-slick-carousel'
    import DataLoader from "../components/DataLoader";
    import Slider from "../components/Slider";
    import VideoDrop from "../components/VideoDrop"
    import JQuery from 'jquery'
    let $ = JQuery;
    export default {
        name: 'Home',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {Slider, DataLoader, VueSlickCarousel, VideoDrop},
        data() {
            return {
                isLoaderShow: true,
                slideConfig: {
                    slidesToShow: 6,
                    slidesToScroll: 6,
                    dots: false,
                    infinite: true,
                    variableWidth: true
                },
                slide_to_show: 6,
                slide_to_scroll: 6,
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                sessionStorage: {},
                access_token: '',
                apiService: new apiService(),
                window_width: window.innerWidth,
                media_height: {},
                isShowPageLoader: true,
                epdisode_slide_to_show: 6,
                epdisode_slide_to_scroll: 6,
                title: '',
                picture: '',
                recent_video: {},
                description: '',
                videos: [],
                spam_reasons: {},
                spam_reason_value: '',
                recpoent_video: '',
                datas: {},
                eye: '',
                showCount: 6,
                isShowDrop: false,
                selectedId: null,
            };
        },
        mounted() {
            this.$emit('update:isPageLoaderShow', true);
            this.windowsResize();
        },
        beforeMount() {
            if (localStorage.getItem('sessionStorage') == null) {
                this.$router.push('/');
                return false;
            }
            const key = this.$route.params.id;
            try {
                
                this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
                this.user_id = this.sessionStorage.user_id;
                this.access_token = this.sessionStorage.access_token;
                this.sub_profile_id = key;
                if (this.user_id && this.access_token) {
                    this.apiService.getHomeData({
                        id: this.user_id,
                        token: this.access_token,
                        sub_profile_id: this.sub_profile_id,
                        device_type: 'web'
                    })
                        .then(data => {
                            // console.log(data);
                            this.$emit('update:isPageLoaderShow', false);
                            data = data.data;
                            if (data.success) {
                                this.datas = data.data;
                                this.recent_video = data.recent_video;
                                
                            } else {
                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                                this.$router.push('/view-profiles');
                                return false;
                            }

                        })
                        .catch(() => {
                            this.$notify({
                                text: 'Something went wrong.',
                                type: 'error'
                            });
                        });
                    this.apiService.spamReasons()
                        .then((data) => {
                            data = data.data;
                            if (data.success) {
                                this.spam_reasons = data.data;
                            }
                        })
                } else {
                    this.redirectTohome();
                }
            } catch (e) {
                this.redirectTohome();
            }


        },
        methods: {
            redirectTohome() {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            },
            updateVideoDrop(newValue) {
                this.selectedId = newValue;
            },
            onInitCarousel() {
                $('.slick-active.slick-cloned').remove()
            },
            displayContent(id) {
                const overview = $("#overview");
                const episodes = $("#episodes");
                const trailers = $("#trailers");
                const morelike = $("#more-like");
                const details = $("#details");
                overview.hide();
                episodes.hide();
                trailers.hide();
                morelike.hide();
                details.hide();

                if (id === 'overview') {

                    overview.show().addClass('adtive');

                } else if (id === 'episodes') {

                    episodes.show().addClass('adtive');

                } else if (id === 'trailers') {

                    trailers.show().addClass('active')

                } else if (id === 'more-like') {

                    morelike.show().addClass('active')

                } else {

                    details.show().addClass('active')
                }


            },
            showArrow(id) {
                $("#" + id).css('line-height', 0);
                $("#" + id).fadeIn()
            },
            hideArrow(id) {
                $("#" + id).fadeOut()
            },
            hoverIn(event, id, key, length) {
                // console.log('#' + id + "_" + key)
                const video_drop = $(".video-drop").is(":visible");
                $('#' + id + "_" + key).addClass('transition-class').css('padding', '0');
                if (!video_drop) {

                    $('#' + id + "_" + key + "_desc").show();
                    $('#' + id + "_" + key + "_div").removeClass('play_icon_div');

                    //$('#' + id + "_" + key + "_desc").css('bottom', '30px');
                } else {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        // $('#'+i+"_"+key).removeClass('active_img');
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                        $('#' + i + "_" + key + "_desc").show();
                    }
                    // $('#' + id + "_" + key).removeClass('transition-class');
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                    $("#" + id + "_" + key + "_video_drop").show();
                }

            },
            hoverOut(event, id, key, length) {
                $('.slick-slide').css('margin', '0px');
                const value = id;
                if ((value + 1) % this.showCount == 0 && value != 0) {
                    $(".transition-class").css("margin-left", "0px");
                } else {
                    $(".transition-class").css("margin-left", "0px");
                }
                const video_drop = $(".video-drop").is(":visible");

                if (video_drop) {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                        $('#' + i + "_" + key + "_desc").show();
                    }

                    // $('#'+id+"_"+key).addClass('active_img');
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                    $("#" + id + "_" + key + "_video_drop").show();
                }

                $('#' + id + "_" + key).removeClass('transition-class');
            },
            likeVideo(admin_video_id, $index, key) {
                $("#like_" + $index + "_" + key).addClass('disabled_class');
                this.apiService.likeVideo(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    }
                )
                    .then(data => {
                        $("#like_" + $index + "_" + key).removeClass('disabled_class');
                        data = data.data;
                        if (data.success) {
                            $("#like_count_" + $index + "_" + key).html(data.like_count);

                            $("#dis_like_count_" + $index + "_" + key).html(data.dislike_count);
                            if (data.delete) {


                                // UIkit.notify({message : "We are very sorry you removed the video from like", timeout : 3000, pos : 'top-center', status : 'success'});
                                const dislikeElem = $("#dis_like_" + $index + "_" + key);
                                dislikeElem.show().removeClass('ng-hide').css('display', 'inline !important');

                            } else {

                                // UIkit.notify({message : "I'm glad you liked the video", timeout : 3000, pos : 'top-center', status : 'success'});

                                $("#dis_like_" + $index + "_" + key).fadeOut(500);

                            }
                        }
                    })
            },
            async dislikeVideo(admin_video_id, index, key) {

                $("#dis_like_" + index + "_" + key).addClass('disabled_class');
                let data = await this.apiService.dislikeVideo(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    })
                data = data.data;

                $("#dis_like_" + index + "_" + key).removeClass('disabled_class');
                if (data.success) {
                    $("#like_count_" + index + "_" + key).html(data.like_count);
                    $("#dis_like_count_" + index + "_" + key).html(data.dislike_count);
                    // setTimeout(function(){
                    if (data.delete) {
                        // UIkit.notify({message : "I'm glad you removed the video from dislike", timeout : 3000, pos : 'top-center', status : 'success'});
                        $("#like_" + index + "_" + key).show(500);
                        $("#like_" + index + "_" + key).removeClass('ng-hide');
                        $("#like_" + index + "_" + key).css('display', 'inline !important');
                    } else {
                        // UIkit.notify({message : "You disliked the video", timeout : 3000, pos : 'top-center', status : 'warning'});
                        $("#like_" + index + "_" + key).fadeOut(500);
                    }
                } else {
                    this.$notify({
                        text: data.error_messages,
                        type: 'error'
                    });
                    return false;
                }
            },
            addWishlist(id, $index, key) {
                $("#my-list-txt_" + $index + "_" + key)
                    .html('<a class="my-list bold">' +
                        '<i class="fa fa-check my-list-icon"></i>' +
                        '<span class="my-list-txt">Adding</span>' +
                        '</a>');
                this.apiService.AddWishList({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    admin_video_id: id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            $("#my-list-txt_" + $index + "_" + key)
                                .html('<a @click="removeWishlist(' + data.wishlist_id + ', ' + id + ', ' +
                                    $index + ', ' + "'" + key + "'" + ')" class="my-list bold" ' +
                                    'id="remove-my-list-txt" style="cursor: pointer;">' +
                                    '<i class="fa fa-check my-list-icon"></i>' +
                                    '<span class="my-list-txt">My List</span>' +
                                    '</a>');
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {
                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            removeWishlist(id, admin_video_id, $index, key) {
                $("#my-list-txt_" + $index + "_" + key)
                    .html('<a class="my-list bold"><i class="fa fa-plus my-list-icon"></i>' +
                        '<span class="my-list-txt">Removing</span></a>');
                this.apiService.deleteWishlist({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    wishlist_id: admin_video_id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then((data) => {
                        data = data.data;
                        if (data.success) {
                            $("#my-list-txt_" + $index + "_" + key)
                                .html('<a @click="addWishlist(' + admin_video_id + ', ' + $index + ', ' +
                                    "'" + key + "'" + ')" class="my-list bold" style="cursor: pointer;">' +
                                    '<i class="fa fa-plus my-list-icon"></i>' +
                                    '<span class="my-list-txt">My List</span>' +
                                    '</a>');
                        } else {

                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {

                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            showVideoDrop(event, idx, key) {
                $(".video-drop").hide();

                $("#" + idx + "_" + key + "_video_drop").fadeIn();
                // console.log("#" + idx + "_" + key + "_video_drop");
                // $('#'+idx+"_"+key).addClass('active_img');
                //console.log($('#'+idx+"_"+key).closest('.slide-box').siblings().find('tile-img').addClass('active_img'));
                $('#' + idx + "_" + key + "_img").addClass('active_img');
                $('#' + idx + "_" + key + "_desc").hide();
                $('#' + idx + "_" + key + "_div").addClass('play_icon_div');
                $('#' + idx + "_" + key).removeClass('transition-class');
            },
            windowsResize(e) {
                if (e) this.window_width = e.target.innerWidth;
                else this.window_width = window.innerWidth;
                if (this.window_width > 1200) {
                    this.epdisode_slide_to_show = 6;
                    this.epdisode_slide_to_scroll = 6;
                    this.slide_to_show = 6;
                    this.slide_to_scroll = 6;
                    this.media_height = {
                        "height": Math.round((this.window_width - 200)) / 6 * 1.5 + "px"
                    }
                }

                if (this.window_width > 991 && this.window_width < 1200) {
                    this.epdisode_slide_to_show = 4;
                    this.epdisode_slide_to_scroll = 4;
                    this.slide_to_show = 6;
                    this.slide_to_scroll = 6;
                    this.media_height = {
                        "height": Math.round((this.window_width - 200)) / 6 * 1.5 + "px"
                    }
                }

                if (this.window_width > 767 && this.window_width < 992) {
                    this.epdisode_slide_to_show = 4;
                    this.epdisode_slide_to_scroll = 4;
                    this.slide_to_show = 4;
                    this.slide_to_scroll = 4;
                    this.media_height = {
                        "height": Math.round((this.window_width - 100)) / 5 * 1.5 + "px"
                    }
                    // console.log('media height', this.media_height);
                }

                if (this.window_width > 479 && this.window_width < 768) {
                    this.epdisode_slide_to_show = 2;
                    this.epdisode_slide_to_scroll = 2;
                    this.slide_to_show = 2;
                    this.slide_to_scroll = 2;
                    this.media_height = {
                        "height": Math.round((this.window_width - 50)) / 2 * 1.5 + "px"
                    }
                }

                if (this.window_width < 480) {
                    this.epdisode_slide_to_show = 1;
                    this.epdisode_slide_to_scroll = 1;
                    this.slide_to_show = 1;
                    this.slide_to_scroll = 1;
                    this.media_height = {
                        "height": (this.window_width - 100) * 1.5 + "px"
                    }
                }
                this.slideConfig = {
                    "slidesToShow": this.epdisode_slide_to_show,
                    "slidesToScroll": this.epdisode_slide_to_scroll,
                    // "nextArrow":"<div class='nav-btn next-slide'></div>",
                    // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                    "dots": false,
                    "infinite": true
                };
                // console.log(this.media_height)
                // console.log(this.$refs, 'this is the refs')
            },
             spamVideo(admin_video_id) {

                if (confirm('Are you sure want to spam the video ?')) {

                    const reason = $('input[name=reason]:checked').val();

                    this.apiService.AddSpam({
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id,
                        reason: reason
                    })
                        .then(data => {
                            $('[id^=overviewmodal_]').modal('hide')
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    text: data.message,
                                    type: 'success'
                                });

                            } else {
                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                            }
                        })
                        // .catch(() => {
                        //     this.$notify({
                        //         text: 'Something Went Wrong, Please Try again later',
                        //         type: 'error'
                        //     });
                        // })
                }
            },
        },
        watch: {
            selectedId(newValue) {
                const dataByCategory = this.datas.filter((item) => item.key == newValue.key);
                let index;
                const dataSet = dataByCategory[0].list;
                for (let i in dataSet) {
                    if (dataSet[i] === newValue.selectedContent) {
                        index = i;
                        break;
                    }
                }
                this.showVideoDrop('', index, newValue.key);
            }
        },
        created() {
            window.addEventListener("resize", this.windowsResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.windowsResize);
        }
    }
</script>
<style scoped>
    .home_top_class {
        margin-left: 0px !important;
        margin-bottom: 50px !important;
    }
    .box-head h3 {
        color: #e5e5e5;
        font-weight: 700;
        font-size: 1.4vw !important;
        text-decoration: none;
        display: inline-block;
        margin: 0;
    }

    /*.slide-box {
        width: 16% !important;
    }*/

    .slide-image img {
        width: 100%;
    }

    .box-head {
        margin: 20px 4% 20px 5% !important;
    }

    .video-head a {
        font-size: 13px;
        color: #167ac6;
    }


    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;

    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }

    .box-head {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media screen and (max-width: 768px) {
        .box-head h3 {
            font-size: 15px !important;
        }
    }

    .video-drop {
        z-index: 1 !important;
        top: 55px !important;
    }
</style>
