<template>
    <!-- <div class="main-content form-content bg-img" style="background-image:url({{login_bg}})"> -->
    <div class="main-content" style="min-height: 1300px">

        <div style="padding-top:75px;"></div>
        <div>
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="plans" id="plan2">
                    <div class="plan-img1" style="background-image: url(../assets/img/invoice.gif);"></div>
                    <div class="white-bg1 spacing">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 ">
                                <div class="invoice-details text-center">
                                    <h3 class="black-clr no-margin top">{{plan?plan.title:''}}</h3>
                                    <p class="black-clr top">{{plan?plan.description:''}}</p>
                                    <h4 class="black-clr no-margin top">No of account -
                                        {{plan?plan.no_of_account:''}}</h4>
                                    <table class="table text-center">
                                        <tbody>
                                        <tr class="warning">
                                            <td>Amount</td>
                                            <td>-</td>
                                            <td>{{plan?plan.currency:''}}{{plan?plan.amount:''}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Tax</td>
                                            <td>- $10.00</td>
                                        </tr> -->
                                        <tr class="warning">
                                            <td>Total</td>
                                            <td>-</td>
                                            <td>{{plan?plan.currency:''}}{{plan?plan.amount:''}}</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <div v-if="plan.amount > 0">

                                        <h4 class="table-title">Have a coupon ?</h4>

                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <!-- <tr class="active"> -->
                                                <td style="width: 100px;vertical-align: middle;">Promo Code</td>
                                                <td><input type="text" name="coupon_code" id="coupon_code"
                                                           v-model="coupon_code" class="form-control coupon-form"></td>
                                                <td>
                                                    <button class="payment-submit" style="margin-top:0"
                                                            @click="apply_coupon_subscription(coupon_code)">Apply
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="showPay" style="display: none">
                                                <!-- <tr class="active"> -->
                                                <td>Coupon Amount</td>
                                                <td></td>
                                                <td>{{original_coupon_amount}}</td>
                                            </tr>
                                            <tr class="warning showPay" style="display: none">
                                                <!-- <tr class="active"> -->
                                                <td>Grant Total</td>
                                                <td></td>
                                                <td>{{plan?plan.currency:''}}{{remaining_amount}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div style="clear: both;"></div>

                                    <div v-if="plan.amount > 0">
                                        <h3 class="no-margin mt-35 black-clr"><span><i
                                                class="fa fa-credit-card-alt icon"></i></span>Payment Options</h3>
                                        <div class="black-clr">
                                            <label>
                                                <input type="radio" class="option-input radio" name="type_of_payment"
                                                       checked value="1"/>
                                                PayPal
                                            </label>
                                            <label>
                                                <input type="radio" class="option-input radio" name="type_of_payment"
                                                       value="0"/>
                                                Card Payment
                                            </label>
                                        </div>

                                    </div>

                                    <div class="text-center">
                                        <button class="paynow-btn1 top"
                                                @click="sendToPaypal(plan?plan.id:'', plan?plan.amount:'')"
                                                id="pay_now_subscription"><i class="fa fa-credit-card"></i> &nbsp; Pay
                                            Now
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import {apiService} from '../api-service.js';

    import JQuery from 'jquery'

    let $ = JQuery;
    export default {
        props: ['AppSettings', 'isPageLoaderShow'],
        name: 'invoice',
        components: {},
        data() {
            return {
                apiService: new apiService(),
                content: {},
                showModal: false,
                sessionStorage: {},
                subscriptions: [],
                plan: {},
                coupon_code: '',
                remaining_amount: '',
                one_time_subscription: '',
                original_coupon_amount: '',
                type_of_payment: 0,
                user_id:'',
                access_token:'',
                sub_profile_id:''
            }
        },
        beforeMount() {
            this.$emit('update:isPageLoaderShow', true);
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage.user_id ?
                this.sessionStorage.user_id : false;
            this.access_token =this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            this.sub_profile_id =this.sessionStorage.sub_profile_id ? this.sessionStorage.sub_profile_id : '';
            if (this.user_id && this.access_token) {
                const id = this.$route.params.id;
                this.apiService.PlanDetail({id: this.user_id, token: this.access_token, plan_id: id})
                    .then(data => {
                        this.$emit('update:isPageLoaderShow', false);
                        data = data.data;
                        if (data.success) {
                            this.plan = data.data;
                            console.log(this.plan);
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            return false;
                        }
                    });


                this.coupon_amount = 0;

                this.coupon_code = "";
            } else {

                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        computed: {
            site_settings() {
                return this.AppSettings.settings;
            }
        },
        watch: {}
        ,
        methods: {
            apply_coupon_subscription(coupon_code) {


                if (coupon_code == undefined || coupon_code == '') {

                    this.$notify({
                        text: "Promo Code is required",
                        type: 'error'
                    });

                    return false;

                }
                const id = this.$route.params.id;

                this.apiService.ApplyCouponSubscription({
                    id: this.user_id,
                    token: this.access_token,
                    subscription_id: id,
                    coupon_code: coupon_code
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {

                            this.remaining_amount = data.data.remaining_amount;

                            this.coupon_amount = data.data.coupon_amount;

                            this.coupon_code = coupon_code;

                            $(".showPay").show();

                            this.original_coupon_amount = data.data.original_coupon_amount;

                        } else {

                            this.coupon_amount = 0;

                            this.coupon_code = "";

                            this.remaining_amount = 0;

                            $(".showPay").hide();

                            this.original_coupon_amount = 0;

                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });

                            return false;
                        }
                    })
            },
            sendToPaypal(id, amt) {

                console.log(id, amt);

                this.type_of_payment = $("input[name='type_of_payment']:checked").val();

                if (this.coupon_code != '' && typeof (this.coupon_code) != undefined) {

                    amt = this.remaining_amount;

                }
                if (confirm('Are you sure want to subscribe the plan ?')) {
                    console.log(amt);

                    if (amt == 0) {

                        const data = new FormData;
                        data.append('id', this.user_id);
                        data.append('token', this.access_token);
                        data.append('coupon_code', this.coupon_code);
                        data.append('plan_id', id);
                        $("#pay_now_subscription").html("Request Sending...");
                        $("#pay_now_subscription").attr('disabled', true);

                        this.apiService.ZeroPlan(data)
                            .then(data => {
                                data = data.data;
                                if (data.success == true) {

                                    this.sessionStorage.one_time_subscription = 1;

                                    this.sessionStorage.user_type = 1;

                                    this.sessionStorage.no_of_account = data.plan.no_of_account;

                                    this.sessionStorage.access_token = data.user.token;

                                    this.one_time_subscription = this.sessionStorage.one_time_subscription;

                                    localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));

                                    this.$notify({
                                        text: "Successfully, subscribed to view videos",
                                        type: 'success'
                                    });

                                    this.$router.push('/subscription-success');

                                } else {

                                    this.$notify({
                                        text: data.error_messages,
                                        type: 'error'
                                    });
                                }

                                $("#pay_now_subscription").html("Pay Now");

                                $("#pay_now_subscription").attr('disabled', false);

                            });
                    } else {
                        if (this.type_of_payment == 1) {
                            console.log(this.AppSettings.apiBase)
                            let url;
                            if (this.coupon_code != '') {

                                url = this.AppSettings.apiBase + "paypal/" + id + '/' +
                                    this.user_id + '/' + this.coupon_code;

                            } else {
                                url = this.AppSettings.apiBase + "paypal/" + id + '/' + this.user_id;
                            }

                            window.open(url, '_blank');

                        } else {
                            const params = {
                                id: this.user_id,
                                token: this.access_token,
                                sub_profile_id: this.sub_profile_id,
                                subscription_id: id
                            };
                            if (this.coupon_code) {
                                params.coupon_code = this.coupon_code;
                            }
                            this.apiService.StripePayment(params)
                                .then(data => {
                                    data = data.data;
                                    if (data.success) {
                                        this.$router.push('/subscription-success');
                                    } else {
                                        this.$notify({
                                            text: data.error_messages,
                                            timeout: 3000,
                                            pos: 'top-center',
                                            type: 'error'
                                        });
                                        return false;
                                    }
                                })
                        }
                    }
                }
            }
        }
    }
</script>
