<template>
    <div class="container-fluid">
      <div class="row">
        <div class="basic-landing" v-if="loadStatus">
            <div class="landing-image bg-img"
            v-bind:style="{backgroundImage:'url('+ getAppSettings.home_page_bg_image +')'}">
            <!--v-bind:style="{backgroundImage:'url(../assets/imgs/bg-1.jpg)'}">-->
            <div class="basic-landing-image">
                    <div class="banner-spacing">
                        <div class="basic-header">
                            <div class="logo">
                                <a href="/index">
                                   <!--  <img :src="getAppSettings.site_logo" class="hidden-xs"> -->
                                    <img :src="getAppSettings.site_logo">
                                </a>
                            </div>
                            <div class="signin">
                                <a href="javascript:void(0)" @click="cascading=true">Sign In</a>
                            </div>
                        </div>
                        <!--end of basic-header-->
                        <div class="clear-both"></div>
                        <div class="text-wrap">
                            <div class="basic-text">
                                <h1 class="basic-title">{{getAppSettings.home_banner_heading}}</h1>
                                <p class="basic-para">{{getAppSettings.home_banner_description}}</p>
                                <a href="javascript:void(0)" class="join-free" @click="showSignUp">Join for FREE No Credit Card Needed</a>
                            </div>
                            <!--end of text-->
                        </div>
                        <!--end of text-wrap-->
                    </div>
                    <!--end of end of container-->
                </div>
                <!--end of basic-landing-image-->
            </div>
            <!--end of landing-image-->

            <div class="basic-tabs">
                <div class="banner-spacing1">
                    <div class="basic-tabs-title">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <i class="fa fa-clipboard tab-icon hidden-xs"></i>
                                    <span class="tab-wrap hidden-xs hidden-sm">No commitments Cancel online at anytime</span>
                                    <span class="visible-sm">Cancel at Anytime</span>
                                    <span class="visible-xs">Cancel</span>
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="fa fa-mobile tab-icon hidden-xs"></i>
                                    <span class="tab-wrap hidden-xs hidden-sm">Browse Anywhere</span>
                                    <span class="visible-sm">Browse Anywhere</span>
                                    <span class="visible-xs">Browse</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                    <i class="fa fa-tag tab-icon hidden-xs"></i>
                                    <span class="tab-wrap hidden-xs hidden-sm">About {{getAppSettings.site_name}}</span>
                                    <span class="visible-sm">About {{getAppSettings.site_name}}</span>
                                    <span class="visible-xs">About</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end of basic-tabs-title-->
                </div>
                <!--end of container-->

                <div class="basic-tabs-inner">
                    <div class="banner-spacing1">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="home">
                                <div class="row basic-row no-margin center-align-mob">
                                    <div class="col col-sm-6 basic-section">
                                        <div class="online-cancel">
                                            <p>{{getAppSettings.home_cancel_content}}</p>
                                            <a href="javascript:void(0)" @click="showSignUp" class="join-free">Join for FREE No Credit Card Needed</a>
                                        </div>
                                        <!--end of section-down-->
                                    </div>
                                    <!--end of column-->

                                    <div class="col-sm-6">
                                        <div class="cancel-image">
                                            <img :src="getAppSettings.home_cancel_image">
                                        </div>
                                        <!--end of cancel-image-->
                                    </div>
                                    <!--end of col-sm-6-->
                                </div>
                                <!--end of row-->
                            </div>
                            <!--end of tab-panel-->

                            <div role="tabpanel" class="tab-pane fade in active " id="profile">
                                <div class="all-device">
                                    <div class="device-join">
                                        <p class="device-join-txt">
                                            Watch TV shows and movies anytime, anywhere — personalized for you.
                                            <a href="javascript:void(0)" @click="showSignUp" class="device-join-link">JOIN FOR FREE</a>
                                        </p>
                                    </div>

                                    <div class="devices row no-margin">
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                                            <div class="device-section text-center">
                                                <div class="device-img"
                                                     v-bind:style="{backgroundImage:'url('+ getAppSettings.home_browse_desktop_image +')'}">
                                                    <!-- <img src="img/tv-ui.png"> -->
                                                </div>

                                                <div class="device-content">
                                                    <h3 class="device-tit">Watch on your TV</h3>
                                                    <p class="device-txt">Smart TVs, PlayStation, Xbox, Chromecast,
                                                        Apple TV, Blu-ray players and
                                                        more.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                                            <div class="device-section text-center">
                                                <div class="device-img"
                                                     v-bind:style="{backgroundImage:'url('+ getAppSettings.home_browse_tv_image +')'}">
                                                </div>

                                                <div class="device-content">
                                                    <h3 class="device-tit">Watch instantly on any mobile device.</h3>
                                                    <p class="device-txt">Available on phone or tablet, wherever you
                                                        go.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                                            <div class="device-section text-center">

                                                <div class="device-img"
                                                     v-bind:style="{backgroundImage:'url('+ getAppSettings.home_browse_mobile_image +')'}">
                                                </div>

                                                <div class="device-content">
                                                    <h3 class="device-tit">Use any computer</h3>
                                                    <p class="device-txt">Watch right on
                                                        {{getAppSettings.site_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                            <!--end of tab-panel-->

                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                <div class="">
                                    <div class="price-head text-center">
                                        <p class="device-join-txt">
                                            {{getAppSettings.home_about_site}}</p>
                                        <a href="javascript:void(0)" @click="showSignUp"
                                           class="device-join-link price-link">Join Free for a month</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of tab-content-->
                    </div>
                    <!--end of basic-tabs-->
                </div>
                <!--end of container-->
            </div>
            <!--end of basic-tabs-->
        </div>
        <sign-in v-bind:cascading.sync="cascading"/>
      </div>
    </div>
    <!--end of basic-landing-->
</template>

<script>
    // @ is an alias to /src
    import SignIn from '../components/SignIn';
    import {apiService} from "../api-service";
    export default 
    {
        name: 'landing',
        props: ['AppSettings'],
        beforeMount() {
            if(this.apiService.checkAuth())
            {
                this.$router.push('/view-profiles');
            }
            
            // console.log('hello jarvis new');
            this.loadStatus = true;
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));

        },
        data() 
        {
            return {
                loadStatus: this.loadStatus,
                sessionStorage: this.sessionStorage,
                cascading: false,
                apiService: new apiService()
            }
        },
        computed: {
            getAppSettings: function () {
                return this.AppSettings.settings ? this.AppSettings.settings : {};
            }
        },
        methods: {
            showSignUp() {
                this.cascading = true;
                this.mode = 1;
            }
        },
        components: {
            SignIn
        }
    }
</script>
