<template>
    <div class="content-wrapper">
        <div class="login-form" style="padding-top:100px;padding-bottom: 40px;">
            <div class="section-padding">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div class="white-bg  spacing1 res-spacing">
                            <h3 class="select-head text-center text-uppercase">Select Payment</h3>
                            <p>
                            <span v-if="video.type_of_user == 1 ">
                                <small><b>Note: </b>
                                    You are a Normal User. If you are Paid User, you no need to pay the video payment. You can watch the video anytime. If you want to paid user, Please choose plan and continue the same.
                                </small>
                            </span>
                            </p>
                            <p v-if="video.type_of_user == 2">
                                <small><b>Note: </b> If you subscribe also , you need to pay for this selected video</small>
                            </p>
                            <div class="card-1">
                                <div class="amount-sec">
                                    <h2 class="select-amount">Plans</h2>
                                </div>
                                <div class="text-sec">
                                    <h4 >Subscription plan</h4>
                                    <router-link :to="'/subscriptions/'+sub_profile_id"  class="text-uppercase">
                                        <P>Click here to subscribe</P>
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-1">
                                <div class="amount-sec">
                                    <h2 class="select-amount">{{video.currency}}{{video.amount}}</h2>
                                </div>
                                <div class="text-sec">
                                    <h4>Pay per video (<span v-if="video.type_of_subscription == 1">One Time Payment</span><span v-if="video.type_of_subscription == 2">Recurring Payment</span>)</h4>

                                    <router-link :to="'/pay_per_view/'+sub_profile_id"  class="text-uppercase">
                                        <P>Click here to pay per video</P>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'PaymentOption',
        props: ['AppSettings'],
        components: {
        },
        data() {
            return {
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                sessionStorage: {},
                access_token: '',
                apiService: new apiService()
            }
        },
        beforeMount() {

            if (localStorage.getItem('sessionStorage') == null) {
                this.$router.push('/');
                return false;
            }
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));

            this.user_id = this.sessionStorage['user_id'] ? this.sessionStorage['user_id'] : '';
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            const key = this.$route.params.id;
            if (this.user_id && this.access_token){
                this.sub_profile_id = this.sessionStorage['sub_profile_id'];
                if (this.sessionStorage.user_type == 1) {

                    this.sessionStorage['saved_subscription_video_id'] = key;
                    localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                    this.watchCount(key);
                    this.$router.push('/pay-per-view/' + key);
                    return false;
                }
                this.watchCount(key);
                this.apiService.getSingleVideo({ id: this.user_id, token: this.access_token, admin_video_id: key })
                    .then((data)=>{
                        data = data.data;
                        if(data.success){

                            this.video = data.video;

                            this.sessionStorage.saved_subscription_video_id = key;

                            localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                        }else{

                            this.$notify({
                                text: data.error_messages,
                                type:'error'
                            });
                        }
                    })
                    .catch((err)=>{
                        console.log(err);
                    })
            }
        },
        computed: {
            description() {
                const text1 = 'You are a Normal User. If you are Paid User, you no need to ' +
                    'pay the video payment. You can watch the video anytime. If you want ' +
                    'to paid user, Please choose plan and continue the same.';
                const text2 = 'If you subscribe also , you need to pay for this selected video';
                if (this.video.type_of_user === 1) return text1;
                if (this.video.type_of_user === 2) return text2;
                else return '';
            },
            subscriptionText() {
                let text = '';
                if (this.video.type_of_subscription === 1) text = 'One Time Payment';
                if (this.video.type_of_subscription === 2) text = 'Recurring Payment';
                return text;
            }
        },
        methods: {
            watchCount(key) {

                this.apiService.setWatchCount({id: this.user_id, token: this.access_token, admin_video_id: key})
                    .then((response) => {

                        if (!response.data.success) {

                            this.$notify({
                                text: response.data.error_messages,
                                type:'error'
                            });
                            this.$router.push('/');
                        }
                    })
                    .catch((err) => {
                        this.$notify({
                            text: err.message,
                            type:'error'
                        });
                    })

            }
        }
    }
</script>
