<template>
    <div class="content-wrapper" :style="{backgroundImage:'url('+login_bg+')'}">
        <div class="login-form" style="padding-top: 100px; padding-bottom:40px;">
            <div class="section-padding">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div class="white-bg spacing1 text-center payment-status">
                            <img src="../assets/img/failure.png" class="failure-img">
                            <h1>OH NOOO!</h1>
                            <!-- <h3>UNABLE TO COMPLETE TRANSACTION, INVALID PAYMENT METHOD, PAYEE FILTER RESTRICTIONS, etc. Please verify your billing information and retry.</h3> -->
                            <p>UNABLE TO COMPLETE TRANSACTION, INVALID PAYMENT METHOD, PAYEE FILTER RESTRICTIONS, etc.
                                Please verify your billing information and retry.</p>
                            <router-link :to="'/home/'+sub_profile_id">
                                <button class="payment-submit"><i class="fa fa-home"></i> Go Home</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'PaymentFailure',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {},
        data() {
            return {
                site_settings: this.AppSettings,
                apiService: new apiService(),
                sessionStorage: {},
                access_token: '',
                user_id: '',
                sub_profile_id: '',
                paid_videos: {},
                profile: {}
            }
        },
        computed: {
            login_bg(){
                return this.site_settings?this.site_settings.common_bg_image:'';
            }
        },
        async beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.sub_profile_id = this.sessionStorage.sub_profile_id;
            this.user_id = this.sessionStorage.user_id ? this.sessionStorage.user_id : '';
            this.access_token = this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            if (!(this.user_id && this.access_token)) {
                this.$router.push('/');
            }
        }
    }
</script>
