<template>
    <div class="content-wrapper">
        <!-- <div class="content-wrapper" style="background-image:url({{login_bg}})"> -->

        <div class="login-form" style="padding-top:100px;padding-bottom:40px;">
            <div class="section-padding">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                        <div class="white-bg">
                            <div class="row  m-0 red-bg">
                                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 p-0">
                                    <div class="section1">

                                        <p><i class="fa fa-suitcase pay-icon"></i>Category</p>
                                        <p class="right"><strong>{{video.category_name}}</strong></p>
                                        <p class="section1-line top"></p>

                                        <p><i class="fa fa-suitcase pay-icon"></i>Sub Category</p>
                                        <p class="right"><strong>{{video.sub_category_name}}</strong></p>
                                        <p class="section1-line top"></p>

                                        <p><i class="fa fa-file-o pay-icon"></i>Title</p>
                                        <p class="right"><strong>{{video.title}}</strong></p>
                                        <p class="section1-line"></p>

                                        <p><i class="fa fa-user pay-icon"></i> User Type</p>
                                        <p class="right"><strong>
                              <span v-if="video.type_of_user == 1">
                                    Normal Users
                                  </span>
                                            <span v-if="video.type_of_user == 2">
                                    Paid Users
                                  </span>
                                            <span v-if="video.type_of_user == 3">
                                    Both Users
                                  </span>
                                        </strong></p>
                                        <p class="section1-line"></p>

                                        <p><i class="fa fa-hand-o-up pay-icon"></i> Subcription type</p>
                                        <p class="right"><strong>
                            <span v-if="video.type_of_subscription == 1">
                                    One Time Payment
                                  </span>
                                            <span v-if="video.type_of_subscription == 2">
                                    Recurring Payment
                                  </span>

                                        </strong></p>
                                        <p class="section1-line"></p>

                                        <p><i class="fa fa-usd pay-icon"></i> Amount</p>
                                        <p class="right"><strong>{{video.currency}}{{video.amount}}</strong></p>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 p-0 whte-bg">
                                    <div class="spacing payment-status payment-status1">
                                        <h3 class="pay-head"><i
                                                class="fa fa-globe pay-icon1"></i><span>Pay per view</span></h3>
                                        <h3 class="table-title">Amount</h3>

                                        <p style="color: #000" class="pay-para" v-if="video.type_of_user == 3">
                                            <small>If you subscribe also , you need to pay for this selected video
                                            </small>
                                        </p>

                                        <table class="table payment-tabel">
                                            <tbody>
                                            <tr>
                                                <!-- <tr class="active"> -->
                                                <td>Subtotal</td>
                                                <td>{{video.currency}}{{video.amount}}</td>
                                            </tr>
                                            <!--  <tr>
                                                 <td>Tax</td>
                                                 <td>$0.00</td>
                                             </tr> -->
                                            <tr class="warning">
                                                <!-- <tr class="active"> -->
                                                <td>Total</td>
                                                <td>{{video.currency}}{{video.amount}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <h4 class="table-title">Have a coupon ?</h4>

                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <!-- <tr class="active"> -->
                                                <td style="width: 100px;vertical-align: middle;">Promo Code</td>
                                                <td><input type="text" name="coupon_code" id="coupon_code"
                                                           v-model="coupon_code" class="form-control coupon-form">
                                                </td>
                                                <td>
                                                    <button class="payment-submit" style="margin-top:0"
                                                            @click="apply_coupon_ppv(coupon_code)">Apply
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="showPay" style="display: none">
                                                <!-- <tr class="active"> -->
                                                <td>Coupon Amount</td>
                                                <td></td>
                                                <td>{{original_coupon_amount}}</td>
                                            </tr>
                                            <tr class="warning showPay" style="display: none">
                                                <!-- <tr class="active"> -->
                                                <td>Grant Total</td>
                                                <td></td>
                                                <td>{{video.currency}}{{remaining_amount}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <h3 class="no-margin top1 black-clr"><span><i
                                                class="fa fa-credit-card-alt icon"></i></span>Payment Options</h3>
                                        <div class="black-clr">
                                            <label>
                                                <input type="radio" class="option-input radio" v-model="type_of_payment"
                                                       name="type_of_payment"
                                                       checked value="1"/>
                                                PayPal
                                            </label>
                                            <label>
                                                <input type="radio" class="option-input radio" v-model="type_of_payment"
                                                       name="type_of_payment"
                                                       value="0"/>
                                                Card Payment
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="text-right">
                                            <button class="payment-submit payment-tabel-btn"
                                                    @click="sendToPaypal(video.admin_video_id)" ref="payment_ppv_button"
                                                    id="payment_ppv_button">
                                                <i class="fab fa-cc-mastercard"></i> Pay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'PayPerView',
        props: ['AppSettings'],
        components: {},
        beforeMount() {

            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage['user_id'] ? this.sessionStorage['user_id'] : '';
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            if (this.user_id && this.access_token) {
                this.sub_profile_id = this.sessionStorage['sub_profile_id'];
                const key = this.$route.params.id;
                this.apiService.getSingleVideo({id: this.user_id, token: this.access_token, admin_video_id: key})
                    .then((response) => {
                        let data = response.data;
                        if (data.success) {
                            this.video = data.video;
                            console.log(this.video, 'this is the video')
                            if (data.pay_per_view_status) {
                                this.$notify({
                                    text: 'Already you paid the amount for the particular video',
                                    type: 'success'
                                });
                                this.$router.push('/video/' + this.video['admin_video_id']);
                            }

                        } else {
                            this.$notify({
                                text: response.data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {
                        this.$notify({
                            text: 'An error occurred.',
                            type: 'error'
                        });
                    });

                this.coupon_amount = 0;

                this.coupon_code = "";
            } else {

                window.localStorage.setItem('logged_in', 'false');

                this.sessionStorage = {};

                window.localStorage.removeItem("sessionStorage");

                window.localStorage.clear();

                this.$router.push('/');
            }
        },
        mounted() {

        },
        computed: {
            description() {
                const text1 = 'You are a Normal User. If you are Paid User, you no need to ' +
                    'pay the video payment. You can watch the video anytime. If you want ' +
                    'to paid user, Please choose plan and continue the same.';
                const text2 = 'If you subscribe also , you need to pay for this selected video';
                if (this.video.type_of_user === 1) return text1;
                if (this.video.type_of_user === 2) return text2;
                else return '';
            },
            subscriptionText() {
                let text = '';
                if (this.video.type_of_subscription === 1) text = 'One Time Payment';
                if (this.video.type_of_subscription === 2) text = 'Recurring Payment';
                return text;
            },
            site_name() {
                return this.apiService.getAppSettingInfo().data.site_name
            }
        },
        methods: {
            beforeEnter(el) {
                this.elHeight = el.scrollHeight;
            },
            enter(el) {
                el.style.height = this.elHeight + 'px';
            },
            beforeLeave(el) {
                el.style.height = 0;
            },
            handlePaneOpened: function (num) {
                if (this.openPaneNum == num) {
                    return (this.openPaneNum = null);
                }
                this.openPaneNum = num;

            },
            testFunction: function () {

                this.$notify({
                    text: 'test',
                    type:'success'
                });
            },
            apply_coupon_ppv: function (coupon_code) {

                if (coupon_code == undefined || coupon_code == '') {
                    this.$notify({
                        text: 'Promo Code is required',
                        type:'error'
                    });
                    // this.$notify.error({
                    //     message: 'Promo Code is required',
                    //     position: 'top center',
                    //     timeOut: 3000
                    // });
                    return false;
                }
                const id = this.$route.params.id;
                this.apiService.ApplyCouponPpv(
                    {
                        id: this.user_id,
                        token: this.access_token,
                        admin_video_id: id,
                        coupon_code: coupon_code
                    }
                )
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            this.coupon_amount = data.data.coupon_amount;

                            this.remaining_amount = data.data.remaining_amount;

                            this.coupon_code = coupon_code;

                            this.original_coupon_amount = data.data.original_coupon_amount;
                            this.isShowCoupon = true

                        } else {
                            this.coupon_amount = 0;

                            this.coupon_code = "";

                            this.remaining_amount = 0;
                            this.isShowCoupon = false;
                            this.original_coupon_amount = 0;

                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })

            },
            sendToPaypal: function (id) {
                let amt = 1;
                if (this.coupon_code) {
                    amt = this.remaining_amount;
                }
                if (amt <= 0) {
                    this.apiService.Payppv(
                        {
                            id: this.user_id,
                            token: this.access_token,
                            admin_video: id,
                            coupon_code: this.coupon_code
                        }
                    )
                        .then(data => {
                                data = data.data;
                            this.$refs.payment_ppv_button.text = 'Pay Now';
                            this.$refs.payment_ppv_button.disabled = false;
                                if (data.success) this.$router.push('/pay-per-view-success/' + id);
                                else {
                                    this.$notify({
                                        text: data.error_messages,
                                        type: 'error'
                                    });

                                    return false;
                                }
                            }
                        )
                        .catch(() => {
                            this.$notify({
                                text: 'An error occurred. Please try it again later',
                                type: 'error'
                            });
                        });
                } else {
                    if (confirm('Are you sure want to proceed to see the video ?')) {

                        this.$refs.payment_ppv_button.text = 'Request Sending...';
                        this.$refs.payment_ppv_button.disabled = true;
                        if (this.type_of_payment === 1) {
                            let url;
                            if (this.coupon_code) {
                                url =
                                    this.AppSettings.apiBase + "videoPaypal/" + id + '/' + this.user_id + '/' + this.coupon_code;

                            } else {
                                url =
                                    this.AppSettings.apiBase + "videoPaypal/" + id + '/' + this.user_id;
                            }
                            window.location.href = url;

                        } else {
                            let params = {
                                id: this.user_id,
                                token: this.access_token,
                                admin_video_id: id,
                            };
                            if (this.coupon_code) {
                                params.coupon_code = this.coupon_code
                            }
                            this.apiService.Stripe1ppv(params)
                                .then(data => {
                                    data = data.data;
                                    this.$refs.payment_ppv_button.text = 'Pay Now';
                                    this.$refs.payment_ppv_button.disabled = false;
                                    if (data.success) {
                                        this.$router.push('/pay-per-view-success/' + id);
                                    } else {

                                        this.$notify({
                                            text: data.error_messages,
                                            type: 'error'
                                        });

                                        return false;
                                    }
                                })

                                .catch(() => {
                                    this.$notify({
                                        text: 'An error occurred. Please try it again later.',
                                        type: 'error'
                                    });
                                });
                        }
                    }
                }

            }
        },
        data() {
            return {
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                sessionStorage: {},
                access_token: '',
                apiService: new apiService(),
                coupon_amount: 0,
                coupon_code: '',
                remaining_amount: 0,
                original_coupon_amount: 0,
                isShowCoupon: false,
                type_of_payment: 1,
                openPaneNum: 0
            }
        }

    }
</script>
<style>
    .select-head {
        margin-top: 0;
        margin-bottom: 20px;
        color: #333;
    }

    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .main {
        background-color: #141414;
        color: #fff;
    }

    .select-amount {
        color: white;
        margin: 0;
    }

    .white-bg {
        background-color: white;
    }

    .price {
        padding-top: 3.5rem !important;
    }

    .btn-link {

        color: white;
        font-weight: bolder;
        text-decoration: none !important;
    }

    .card-header {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    @media screen and (min-width: 992px) {
        section.payment-option {
            min-height: 500px;
        }
    }

    p.p-4 {
        padding: 0px 24px 0px 24px !important;
    }

</style>
