<template>
    <!-- <div class="content-wrapper" style="background-image:url({{login_bg}})"> -->
    <div class="content-wrapper">
        <div class="login-form" style="padding-top:100px;padding-bottom: 40px;">
            <div class="section-padding">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div class="white-bg spacing1 text-center">
                            <img src="../assets/img/red.png" class="succes-img">
                            <h1>Thank you!</h1>
                            <h3>Your Payment is received successfully !!</h3>
                            <p>Now you can watch Video</p>
                            <router-link :to="'/video/'+video_id">
                                <button class="payment-submit"><i class="fa fa-video-camera"></i> Watch</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
</template>
<script>

    import {apiService} from '../api-service.js';

    export default {
        props: ['AppSettings', 'isPageLoaderShow'],
        name: 'PayPerViewSuccess',
        components: {},
        data() {
            return {
                apiService: new apiService(),
                profile: {},
                showModal: false,
                sessionStorage: {},
                subscriptions: [],
                video_id: '',
                admin_video_id: ''
            }
        },
        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage.user_id ? this.sessionStorage.user_id : '';
            this.access_token = this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            if (this.user_id && this.access_token) {
                this.video_id = this.$route.params['id'];
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        }
        ,
        computed: {
            site_settings() {
                console.log(this.AppSettings.settings);
                return this.AppSettings.settings;
            }
        }
        ,
        watch: {}
        ,
        methods: {}
    }
</script>
