<template>
    <div class="content" id="page_content">

        <div style="margin-top:80px !important;margin:5%; padding: 10px;">

            <div class="box-head" style="margin-bottom: 2%;">
                <h3>"{{title}}" Search Results</h3>
            </div>


            <!-- <p>{{no_results_found}}</p>
             -->


            <div class="text-center" style="margin-top:40px !important" v-if="no_results_found">
                <img :src="no_results_found" class="img-responsive auto-margin height-250">
            </div>
            <div id="all_data"></div>
            <div class="box video-box-row" v-for="(video, parentindex) in datas.data" :key="parentindex">

                <div :id="childindex+'_'+parentindex" :mouseover="hoverIn(this,childindex, parentindex, video.length)"
                     @mouseleave="hoverOut(this, childindex, parentindex, video.length)"
                     class="tile col-lg-2 col-md-2 col-sm-2 col-xs-6 slide-box video-box"
                     v-for="(value,childindex) in video" :key="1+childindex">
                    <div class="video-box-outer">

                        <div class="tile-media" :id="childindex+'_'+parentindex+'_img'">
                            <img class="tile-img" :src="value.default_image" alt="" :style="media_height"/>
                            <!-- 3rd image-->
                            <!-- <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/>
                            <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/> -->
                        </div>

                        <div class="tile-details">

                            <div class="video_amount" v-if="value.amount > 0 && !value.pay_per_view_status">
                                <!-- <span v-if="value.pay_per_view_status">PAID</span> -->
                                <span>PAY- {{value.currency}} {{value.amount}}</span>

                            </div>
                            <!-- <a ui-sref="single_video({id : value.admin_video_id})">
                              <div class="hover-icon" id="{{parentindex}}_{{parentindex}}_div">
                                <i class="fa fa-play"></i>
                              </div>
                            </a> -->
                            <span v-if="value.pay_per_view_status">
                                <router-link :to="'/video/'+value.admin_video_id">                                    
                                    <div class="hover-icon" :id="childindex+'_'+parentindex+'_div'">
                                      <i class="fa fa-play" :id="childindex+'_'+parentindex+'_icon'"></i>
                                    </div>
                                </router-link>
                            </span>
                            <span v-if="value.pay_per_view_status">
              
                                <router-link :to="'/payment-option/'+value.admin_video_id">                                    
                                    <div class="hover-icon" :id="childindex+'_'+parentindex+'_div'">
                                      <i class="fa fa-play" :id="childindex+'_'+parentindex+'_icon'"></i>
                                    </div>
                                </router-link>
                            </span>

                            <div class="tile-content" :id="childindex+'_'+parentindex+'_desc'">
                                <h3 class="tile-tit">{{value.title}}</h3>

                                <div class="row no-margin hidden-cls">
                                    <div class="pull-left">
                                        <div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">

                                            </div>
                                            <div class="rating-symbol glyphicon"
                                                 :class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">

                                            </div>
                                        </div>
                                    </div>
                                    <p class="video-season">
                                        <span>{{value.release_date && value.release_date !="0000-00-00" ? value.release_date:'' }}</span>
                                        <span class="video-epi-count">{{value.age}} / <i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                                        <span>{{value.duration}}</span>
                                    </p>
                                </div>

                                <div class="">
                                    <div class="video-des">
                                        <p class="video-des-inner">{{value.description}}</p>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <a @click="showVideoDrop(this, childindex, parentindex,video.length)" class="arrow">
                                        <img src="../assets/img/down-arrow-red.png" class="arrow_down"/></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- <div class="clearfix"></div> -->

                <div class="video-drop" style="margin-top: 1% !important; clear: both;"

                     :id="lastindex+'_'+parentindex+'_video_drop'" v-for="(value, lastindex) in video" :key="2+lastindex">
                    <div class="tab-content">

                        <!-- OVERVIEW SECTION  -->
                        <div role="tabpanel" class="tab-pane active" :id="lastindex+'_'+parentindex+'_overview'">
                            <div class="overview tab-section relative">
                                <div class="close-tab">
                                    <a style="cursor: pointer;" @click="closeDiv(lastindex,parentindex)"
                                       class="close-btn">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>

                                <div class="tab-section-content row no-margin">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 no-pad overview-details">

                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-pad">
                                        <div class="linear-outer">

                                            <div class="linear">
                                            </div>
                                            <div class="rotate-img-outer">
                                                <div class="rotate-img highlight-img bg-img"
                                                     :style="{ 'background-image': 'url(' + value.default_image + ')'}"></div>
                                                <!-- <div class="rotate-img highlight-img bg-img" style="background-image: url({{value.video_gif_image}});"></div> -->
                                            </div>

                                            <div class="play-icon-outer">
                                                <!-- <a ui-sref="single_video({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a> -->

                                                <span v-if="value.pay_per_view_status">
                                                    <router-link :to="'/video/'+value.admin_video_id" class="play-icon">
                                                        <i class="fa fa-play"></i>
                                                    </router-link>

                                                </span>
                                                <span v-if="!value.pay_per_view_status">

                                                    <router-link :to="'/payment-option/'+value.admin_video_id" class="play-icon">
                                                        <i class="fa fa-play"></i>
                                                    </router-link>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="home-new-deatils">
                                    <div class="overview-details" style="background-color: unset;">
                                        <h3 class="content-tit">{{value.title}}</h3>

                                        <div class="row no-margin hidden-xs">
                                            <div class="pull-left">
                                                <div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">

                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">

                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">

                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">

                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">

                                                    </div>
                                                </div>
                                            </div>
                                            <p class="content-txt bold seasons">
                                                <span class="green-clr">{{value.release_date && value.release_date !="0000-00-00" ? value.release_date:'' }}</span>
                                                <span class="epi-count">{{value.age}} / <i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                                                <span>{{value.duration}}</span>
                                            </p>
                                        </div>


                                        <div class="">

                                            <div class="pull-left">

                                                <a class="white-icon">
                                                    <i class="fa fa-thumbs-up"></i><span
                                                        :id="'like_count_'+lastindex+'_'+parentindex">{{value.like_count}}</span>
                                                </a>
                                                <a class="white-icon">
                                                    <i class="fa fa-thumbs-down"></i><span
                                                        :id="'dis_like_count_'+lastindex+'_'+parentindex">{{value.dis_like_count}}</span>
                                                </a>

                                            </div>


                                            <div class="pull-left">

                                                <div class="display_amount"
                                                     v-if="value.amount > 0 && !value.pay_per_view_status"
                                                     style="margin-left: 5px;">
                                                    <!-- <span v-if="recent_video.pay_per_view_status">PAID</span> -->
                                                    <span>PAY - {{value.currency}} {{value.amount}}</span>
                                                </div>

                                            </div>

                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <p class="content-txt overview-des">{{value.description}}</p>

                                            <!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
                                        </div>

                                        <div :id="'my-list-txt_'+lastindex+'_'+parentindex" class="pull-left">

                                            <a @click="addWishlist(value.admin_video_id, lastindex, parentindex)"
                                               class="bold" id="" v-if="!value.wishlist_status"
                                               style="cursor: pointer;">
                                                <button class="my-list">
                                                    <i class="fa fa-plus my-list-icon"></i>
                                                    <span class="my-list-txt">My List</span>
                                                </button>
                                            </a>
                                            <a @click="removeWishlist(value.wishlist_status, value.admin_video_id,lastindex, parentindex)"
                                               class="bold" v-if="value.wishlist_status" style="cursor: pointer;">
                                                <button class="my-list">
                                                    <i class="fa fa-check my-list-icon"></i>
                                                    <span class="my-list-txt">My List</span>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="banner-icon-sec hidden-xs">
                                            <a :id="'like_'+lastindex+'_'+parentindex" style="cursor: pointer;"
                                               v-if="value.is_liked == 1 || value.is_liked == 0"
                                               @click="likeVideo(value.admin_video_id, lastindex, parentindex)">
                                                <button class="banner-icon">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </button>
                                            </a>
                                            <a :id="'dis_like_'+lastindex+'_'+parentindex" style="cursor: pointer;"
                                               v-if="value.is_liked == -1 || value.is_liked == 0"
                                               @click="dislikeVideo(value.admin_video_id, lastindex, parentindex)">
                                                <button class="banner-icon">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </button>
                                            </a>
                                            <a data-toggle="modal" :data-target="'#myModal_'+lastindex+'_'+parentindex"
                                               title="Report as Spam" style="cursor: pointer;">
                                                <button class="banner-icon">
                                                    <i class="fa fa-exclamation "></i>
                                                </button>
                                            </a>
                                        </div>

                                        <div class="modal fade"  :id="'myModal_'+lastindex+'_'+parentindex"
                                             role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content" style="background-color: #333;">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title bold">Report This Video</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- <form [ngSubmit]="spamVideo(value.admin_video_id, parentindex, parentindex)">
                                                            <div class="radio radio-danger" *ngFor="let spam_reason of spam_reasons">
                                                                  <input type="radio" name="reason" id="reason_{{value.admin_video_id}}_{{lastindex}}_{{parentindex}}" value="{{spam_reason.value}}">
                                                                  <label for="reason_{{value.admin_video_id}}_{{lastindex}}_{{parentindex}}">
                                                                      {{spam_reason.value}}
                                                                  </label>
                                                              </div>
                            
                                                              {{spam_reason_value}}
                                                              <p class="small bold text-center">If you report this video, you won't see again the same video in anywhere in your account except "Spam Videos". If you want to continue to report this video as same. Click continue and proceed the same.</p>
                                                              <div class="text-right">
                                                                <button type="submit" class="payment-submit">Submit</button>
                                                              </div>
                                                        </form> -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- OVERVIEW SECTION END -->


                        <!-- EPISODES-SECTION
                                ======================================== -->
                        <div role="tabpanel" class="tab-pane" :id="lastindex+'_'+parentindex+'_episodes'"
                             v-if="value.is_genre">
                            <div class="episodes-section tab-section tab-bg bg-img"
                                 :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                                <div class="tab-overlay">

                                    <div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
                                        <h3 class="content-tit">{{value.sub_category_name}}</h3>
                                        <!-- <form class="season-select">
                                          <div class="form-group styled-select black rounde">
                                               <select id="exampleSelect1" [ngModel]="genres_name" (change)="getSeasons(genres_name, {{parentindex}},{{parentindex}},'_sessions', '_loader_seasons', value.genre_id);">
                                                <option value="">Select Seasons</option>
                                                <option value="{{genrename.genre_id}}" *ngFor="genrename in value.genre_names">
                                                {{genrename.genre_name}}
                                                </option>
                                              </select>
                                          </div>
                                        </form> -->

                                        <div class="episodes-list">

                                            <div :id="childindex+parentindex+'_loader_seasons'"
                                                 style="margin-top: 10px;text-align: center;display: none">
                                                <img src="../assets/img/ellipsis.svg" style="width: 40px;">
                                            </div>

                                            <div :id="childindex+parentindex+'_sessions'" class="row">

                                                <!-- <slick slides-to-show="{{epdisode_slide_to_show}}" slides-to-scroll="{{epdisode_slide_to_scroll}}" dots="false" class="episode-slider"> -->

                                                <VueSlickCarousel v-bind="slideConfig" ref="slick">
                                                    <div v-for="(genre_list, key) in recent_video.first_part" :key="key"
                                                         class="slide">
                                                        <div class="episode-list-box">

                                                            <div class="episode-img bg-img"
                                                                 :style="{ 'background-image': 'url(' + recent_video.default_image + ')'}">
                                                                <div class="episode-img-overlay">
                                                                    <div class="episode-img-inner">
                                                                        <div class="epi-count1">{{genre_list.age}} /
                                                                            <i class="fa fa-eye"></i>&nbsp;{{genre_list.watch_count}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="epi-play-icon-outer">

                              <span v-if="genre_list.pay_per_view_status">
                                <!-- <a href="/video/genre_list.admin_video_id" class="epi-play-icon"><i class="fa fa-play"></i></a> -->
                                <router-link :to="'/video/'+genre_list.admin_video_id" class="epi-play-icon">
                                    <i class="fa fa-play"></i>
                                </router-link>
                              </span>
                                                                        <span v-if="!genre_list.pay_per_view_status">
                                    <router-link :to="'/payment-option/'+genre_list.admin_video_id"
                                                 class="epi-play-icon">
                                    <i class="fa fa-play"></i>
                                </router-link>
                              </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="episode-list-content">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-8">
                                                                        <h4 class="epi-tit gray-color1 txt-overflow">
                                                                            {{genre_list.title}}</h4>
                                                                    </div>

                                                                    <div class="col-md-4 text-right hidden-sm">
                                                                        <p class="bold epi-tit gray-color1 txt-overflow">
                                                                            {{genre_list.duration}}</p>
                                                                    </div>
                                                                </div>

                                                                <div class="">
                                                                    <p class="content-txt overview-des more-link mt-0">
                                                                        {{genre_list.description}}</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </VueSlickCarousel>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- EPISODES-SECTION END-->


                        <!-- TRAILERS SECTION -->
                        <div role="tabpanel" class="tab-pane" :id="lastindex+'_'+parentindex+'_trailers'"
                             v-if="value.is_genre || value.trailer_video">
                            <div class="trailers-section tab-section tab-bg bg-img"
                                 :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                                <div class="tab-overlay">

                                    <div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
                                        <h3 class="content-tit">{{value.sub_category_name}}</h3>

                                        <div class="trailers-list row">

                                            <!-- episode list box -->
                                            <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top" *ngFor="let trailer of value.genres" v-if="value.is_genre">
                                              <div class="episode-list-box">
                            
                                                <div class="episode-img bg-img"  :style="{ 'background-image': 'url(' + trailer.genre_image + ')'}">
                                                  <div class="episode-img-overlay">
                            
                                                    <div class="epi-play-icon-outer">
                                                      <a href="/genre_video/{{trailer.genre_id}}" class="epi-play-icon">
                                                        <i class="fa fa-play"></i>
                                                      </a>
                                                    </div>
                                                  </div>
                                                </div>
                            
                                                <div class="episode-list-content">
                                                  <div class="row no-margin">
                                                    <div class="">
                                                      <h4 class="epi-tit gray-color1">{{trailer.genre_name}}</h4>
                                                    </div>
                                                  </div>
                                                </div>
                            
                                              </div>
                                            </div>
                             -->
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top"
                                                 v-if="value.trailer_video">
                                                <div class="episode-list-box">

                                                    <div class="episode-img bg-img"
                                                         :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                                                        <div class="episode-img-overlay">

                                                            <div class="epi-play-icon-outer">
                                                            <router-link :to="'/trailer_video/'+value.admin_video_id"
                                                            class="epi-play-icon"><i class="fa fa-play"></i></router-link>
                   
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="episode-list-content">
                                                        <div class="row no-margin">
                                                            <div class="">
                                                                <h4 class="epi-tit gray-color1">{{value.title}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- MORE LIKE SECTION  -->
                        <div role="tabpanel" class="tab-pane" :id="lastindex+'_'+parentindex+'_more-like'">
                            <div class="morelike-section tab-section tab-bg bg-img"
                                 :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                                <div class="tab-overlay">

                                    <div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
                                        <h3 class="content-tit">{{value.sub_category_name}}</h3>

                                        <div class="morelike-list row">
                                            <!-- episode list box -->
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top"
                                                 v-for="(video, videoKey) in value.sub_videos" :key="videoKey">
                                                <div class="episode-list-box">

                                                    <div class="episode-img bg-img"
                                                         :style="{ 'background-image': 'url(' + video.default_image + ')'}">
                                                        <div class="episode-img-overlay">
                                                            <div class="episode-img-inner">
                                                                <p class="new-epi">{{video.title}}</p>
                                                            </div>

                                                            <div class="epi-play-icon-outer">
                                                                <!-- <a href="single_video({id : video.admin_video_id})" class="epi-play-icon">
                                                            <i class="fa fa-play"></i>
                                                            </a> -->
                                                            <span v-if="video.pay_per_view_status">
                                                            <!-- <a href="/video/{{video.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a> -->
                                                            <router-link :to="'/video/'+video.admin_video_id"
                                                                         class="epi-play-icon">
                                                                <i class="fa fa-play"></i>
                                                            </router-link>
                                                            </span>
                                                                <span v-if="!video.pay_per_view_status">

                                                            <router-link :to="'/payment-option/'+video.admin_video_id"
                                                                         class="epi-play-icon">
                                                                <i class="fa fa-play"></i>
                                                            </router-link>
                                                                    <!-- <a  class="epi-play-icon" @click="otherPopup(video.admin_video_id, 960, 550)"><i class="fa fa-play"></i></a> -->
                          </span>
                                                            </div>

                                                            <div class="duration_more">
                                                                <span>{{video.duration}}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="episode-list-content">
                                                        <div class="row no-margin">
                                                            <div class="pull-left">
                                                                <div>
                                                                    <div class="rating-symbol glyphicon"
                                                                         :class="{'glyphicon-star-empty' : (video.ratings < 1),
                                                                 'glyphicon-star' : (video.ratings >= 1)}">
                                                                    </div>

                                                                    <div class="rating-symbol glyphicon"
                                                                         :class="{'glyphicon-star-empty' : (video.ratings < 2),
                                                                 'glyphicon-star' : (video.ratings >= 2)}">
                                                                    </div>

                                                                    <div class="rating-symbol glyphicon"
                                                                         :class="{'glyphicon-star-empty' : (video.ratings < 3),
                                                                 'glyphicon-star' : (video.ratings >= 3)}">
                                                                    </div>

                                                                    <div class="rating-symbol glyphicon"
                                                                         :class="{'glyphicon-star-empty' : (video.ratings < 4),
                                                                 'glyphicon-star' : (video.ratings >= 4)}">
                                                                    </div>
                                                                    <div class="rating-symbol glyphicon"
                                                                         :class="{'glyphicon-star-empty' : (video.ratings < 5),
                                                                 'glyphicon-star' : (video.ratings >= 5)}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="content-txt bold seasons">
                                                        <span class="green-clr hidden-sm">{{video.release_date  &&
                                                            video.release_date !="0000-00-00" ?
                                                            video.release_date:''}}</span>
                                                                <span class="epi-count hidden-sm hidden-md">{{video.age}} / <i
                                                                        class="fa fa-eye"></i>&nbsp;{{video.watch_count}}</span>
                                                                <!-- <span>{{video.duration}}</span> -->
                                                            </p>
                                                        </div>

                                                        <div>
                                                            <p class="content-txt overview-des more-link">
                                                                {{video.description}}</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- episode-list-box end -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- MORE LIKE SECTION END -->

                        <!-- DETAILS-SECTION -->
                        <div role="tabpanel" class="tab-pane" :id="lastindex+'_'+parentindex+'_details'">
                            <div class="details-section tab-section tab-bg bg-img"
                                 :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                                <div class="tab-overlay">

                                    <div class="details-section-inner tab-section-content tab-sec-inner contain-width
                            details_section_tab">
                                        <h3 class="content-tit">{{value.title}}</h3>

                                        <div class="row col-sm-12 col-sm-12 col-lg-12 col-md-12">
                                            <div class="detailsItem detailsMedia col-md-2">
                                                <h4>Directors</h4>
                                                <ul class="list-unstyled">
                                                    <li v-for="(director, directorKey) in value.directors"
                                                        :key="directorKey" class="listLabel">
                                                        <router-link :to="'/director/'+director.id">
                                                            {{director.name}}
                                                        </router-link>
                                                    </li>
                                                </ul>
                                                <h4>Writers</h4>
                                                <ul class="list-unstyled">
                                                    <li v-for="(writer, writerKey) in value.writers" :key="writerKey"
                                                        class="listLabel">

                                                        <router-link :to="'/writer/'+writer.id">
                                                            {{writer.name}}
                                                        </router-link>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="detailsItem detailsMedia col-md-2">
                                                <h4>Actors</h4>

                                                <ul class="list-unstyled">

                                                    <li v-for="(actor, actorKey) in value.actors" :key="actorKey"
                                                        class="listLabel">
                                                        <router-link :to="'/actor/'+actor.id">
                                                            {{actor.name}}
                                                        </router-link>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="detailsItem detailsMedia col-md-2">
                                                <h4>Category</h4>
                                                <ul class="list-unstyled">
                                                    <li class="listLabel">
                                                        {{value.sub_category_name}}
                                                    </li>
                                                </ul>
                                                <div class="clear-fix"></div>
                                                <h4>Publish Date</h4>
                                                <ul class="list-unstyled">
                                                    <li class="listLabel">
                                                        <p class="content-txt bold seasons">
                                                    <span class="green-clr hidden-sm">{{value.release_date  &&
                                                        value.release_date !="0000-00-00" ?
                                                        value.release_date:''}}</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                                <h4>Duration</h4>
                                                <ul class="list-unstyled">
                                                    <li class="listLabel">
                                                        <p class="content-txt bold seasons">
                                                            <span>{{value.duration}}</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="detailsItem detailsMedia col-md-2">
                                                <h4>Ratings</h4>
                                                <div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 1),
                                                 'glyphicon-star' : (value.ratings >= 1)}">
                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 2),
                                                 'glyphicon-star' : (value.ratings >= 2)}">
                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 3),
                                                 'glyphicon-star' : (value.ratings >= 3)}">
                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 4),
                                                 'glyphicon-star' : (value.ratings >= 4)}">
                                                    </div>
                                                    <div class="rating-symbol glyphicon"
                                                         :class="{'glyphicon-star-empty' : (value.ratings < 5),
                                                 'glyphicon-star' : (value.ratings >= 5)}">
                                                    </div>
                                                </div>
                                                <h4>Age</h4>
                                                <ul class="list-unstyled">
                                                    <li class="listLabel">
                                                        <p class="content-txt bold seasons">
                                                            Recommended for ages {{value.age}} and up
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- DETAILS-SECTION END -->
                    </div>

                    <div class="drop-tab hidden-xs">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a style="cursor:pointer" @click="dynamicContent(lastindex, parentindex,'overview')"
                                   aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
                            </li>

                            <li role="presentation" v-if="value.is_genre">
                                <a style="cursor:pointer" @click="dynamicContent(lastindex, parentindex,'episodes')"
                                   aria-controls="episodes" role="tab" data-toggle="tab">Episodes</a>
                            </li>

                            <li role="presentation" v-if="value.is_genre || value.trailer_video">
                                <a style="cursor:pointer" @click="dynamicContent(lastindex,parentindex,'trailers')"
                                   aria-controls="trailers" role="tab" data-toggle="tab">Trailers &amp; More</a>
                            </li>

                            <li role="presentation">
                                <a style="cursor:pointer" @click="dynamicContent(lastindex,parentindex,'more-like')"
                                   aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
                            </li>

                            <li role="presentation">
                                <a style="cursor:pointer" @click="dynamicContent(lastindex,parentindex,'details')"
                                   aria-controls="details" role="tab" data-toggle="tab">Details</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</template>
<script>
    import {apiService} from "../api-service";
    import JQuery from 'jquery'
    import 'slick-carousel/slick/slick.css'
    import 'slick-carousel/slick/slick-theme.css'

    import VueSlickCarousel from 'vue-slick-carousel'

    let $ = JQuery;


    export default {
        name: 'Search',
        props: ['AppSettings', 'isPageLoaderShow'],

        components: { VueSlickCarousel},
        data() {
            return {
                isLoaderShow: true,
                slideConfig: {
                    slidesToShow: 6,
                    slidesToScroll: 6,
                    // "nextArrow":"<div class='nav-btn next-slide'></div>",
                    // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                    dots: false,
                    infinite: true,
                    variableWidth: true
                },
                slideConfig1: {
                    "slidesToShow": this.slide_to_show,
                    "slidesToScroll": this.slide_to_scroll,
                    "dots": false,
                    "infinite": true,
                    "variableWidth": true
                },
                slide_to_show: 6,
                slide_to_scroll: 6,
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                sessionStorage: {},
                access_token: '',
                apiService: new apiService(),
                window_width: window.innerWidth,
                media_height: {},
                isShowPageLoader: true,
                epdisode_slide_to_show: 6,
                epdisode_slide_to_scroll: 6,
                title: '',
                picture: '',
                recent_video: {},
                description: '',
                videos: [],
                spam_reasons: {},
                spam_reason_value: '',
                recpoent_video: '',
                datas: {},
                eye: '',
                showCount: 6,
                no_results_found: ''
            };
        },
        mounted() {
            this.$emit('update:isPageLoaderShow', true);
            this.windowsResize();
        },
        beforeMount() {
            if (localStorage.getItem('sessionStorage') == null) {
                this.$router.push('/');
                return false;
            }
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            this.user_id = this.sessionStorage.user_id ? this.sessionStorage.user_id : '';
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            if (this.user_id && this.access_token) {
                const key = this.$route.params.id;
                this.sub_profile_id = this.sessionStorage['sub_profile_id'];
                this.apiService.SearchVideo({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    key: key,
                    sub_profile_id: this.sub_profile_id,
                    device_type: 'web'
                })

                    .then(data => {

                        this.$emit('update:isPageLoaderShow', false);
                        data = data.data;
                        if (data.success) {
                            if (data.data.length > 0) {

                                this.datas = data;

                                this.no_results_found = "";


                            } else {

                                this.no_results_found = "../assets/img/NoResult.jpg";
                            }
                            setInterval(function () {
                                // $('#div1').contents().appendTo('#div2')
                                $('.video-box-row').contents().appendTo('#all_data');
                            }, 2000);

                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            this.$router.push('/view-profiles');
                            return false;
                        }
                    })
                    .catch(() => {
                        this.$notify({
                            text: 'Something went wrong.',
                            type: 'error'
                        });
                    })
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }


        },
        methods: {
            spamVideo(admin_video_id) {

                if (confirm('Are you sure want to spam the video ?')) {

                    const reason = $('input[name=reason]:checked').val();

                    this.apiService.AddSpam({
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id,
                        reason: reason
                    })
                        .then(data => {
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    text: 'You have marked the video as spam, the video won\'t appear anywhere except spam videos section',
                                    type: 'success'
                                });

                            } else {
                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                            }
                        })
                        .catch(() => {
                            this.$notify({
                                text: 'Something Went Wrong, Please Try again later',
                                type: 'error'
                            });
                        })
                }
            },
            displayContent(id) {
                const overview = $("#overview");
                const episodes = $("#episodes");
                const trailers = $("#trailers");
                const morelike = $("#more-like");
                const details = $("#details");
                overview.hide();
                episodes.hide();
                trailers.hide();
                morelike.hide();
                details.hide();

                if (id === 'overview') {

                    overview.show().addClass('active');

                } else if (id === 'episodes') {

                    episodes.show().addClass('active');

                } else if (id === 'trailers') {

                    trailers.show().addClass('active')

                } else if (id === 'more-like') {

                    morelike.show().addClass('active')

                } else {

                    details.show().addClass('active')
                }


            },
            addWishlist(id, $index, key) {
                $("#my-list-txt_" + $index + "_" + key)
                    .html('<a class="my-list bold">' +
                        '<i class="fa fa-check my-list-icon"></i>' +
                        '<span class="my-list-txt">Adding</span>' +
                        '</a>');
                this.apiService.AddWishList({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    admin_video_id: id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            $("#my-list-txt_" + $index + "_" + key)
                                .html('<a @click="removeWishlist(' + data.wishlist_id + ', ' + id + ', ' +
                                    $index + ', ' + "'" + key + "'" + ')" class="my-list bold" ' +
                                    'id="remove-my-list-txt" style="cursor: pointer;">' +
                                    '<i class="fa fa-check my-list-icon"></i>' +
                                    '<span class="my-list-txt">My List</span>' +
                                    '</a>');
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {
                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            closeDiv(index, key) {

                $("#" + index + "_" + key + "_video_drop").fadeOut();

                // $("#"+index+"_"+key+"_video_drop").fadeOut();

                $('#' + index + "_" + key + "_img").removeClass('active_img');

                $('#' + index + "_" + key + "_desc").show();

                $('#' + index + "_" + key + "_div").removeClass('play_icon_div');
            },
            removeWishlist(id, admin_video_id, $index, key) {
                $("#my-list-txt_" + $index + "_" + key)
                    .html('<a class="my-list bold"><i class="fa fa-plus my-list-icon"></i>' +
                        '<span class="my-list-txt">Removing</span></a>');
                this.apiService.deleteWishlist({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    wishlist_id: admin_video_id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then((data) => {
                        data = data.data;
                        if (data.success) {
                            $("#my-list-txt_" + $index + "_" + key)
                                .html('<a @click="addWishlist(' + admin_video_id + ', ' + $index + ', ' +
                                    "'" + key + "'" + ')" class="my-list bold" style="cursor: pointer;">' +
                                    '<i class="fa fa-plus my-list-icon"></i>' +
                                    '<span class="my-list-txt">My List</span>' +
                                    '</a>');
                        } else {

                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {

                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            likeVideo(admin_video_id, $index, key) {
                $("#like_" + $index + "_" + key).addClass('disabled_class');
                this.apiService.likeVideo(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    }
                )
                    .then(data => {
                        $("#like_" + $index + "_" + key).removeClass('disabled_class');
                        data = data.data;
                        if (data.success) {
                            $("#like_count_" + $index + "_" + key).html(data.like_count);

                            $("#dis_like_count_" + $index + "_" + key).html(data.dislike_count);
                            if (data.delete) {


                                // UIkit.notify({message : "We are very sorry you removed the video from like", timeout : 3000, pos : 'top-center', status : 'success'});
                                const dislikeElem = $("#dis_like_" + $index + "_" + key);
                                dislikeElem.show().removeClass('ng-hide').css('display', 'inline !important');

                            } else {

                                // UIkit.notify({message : "I'm glad you liked the video", timeout : 3000, pos : 'top-center', status : 'success'});

                                $("#dis_like_" + $index + "_" + key).fadeOut(500);

                            }
                        }
                    })
            },
            async dislikeVideo(admin_video_id, index, key) {

                $("#dis_like_" + index + "_" + key).addClass('disabled_class');
                let data = await this.apiService.dislikeVideo(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    })
                data = data.data;

                $("#dis_like_" + index + "_" + key).removeClass('disabled_class');
                if (data.success) {
                    $("#like_count_" + index + "_" + key).html(data.like_count);
                    $("#dis_like_count_" + index + "_" + key).html(data.dislike_count);
                    // setTimeout(function(){
                    if (data.delete) {
                        // UIkit.notify({message : "I'm glad you removed the video from dislike", timeout : 3000, pos : 'top-center', status : 'success'});
                        $("#like_" + index + "_" + key).show(500);
                        $("#like_" + index + "_" + key).removeClass('ng-hide');
                        $("#like_" + index + "_" + key).css('display', 'inline !important');
                    } else {
                        // UIkit.notify({message : "You disliked the video", timeout : 3000, pos : 'top-center', status : 'warning'});
                        $("#like_" + index + "_" + key).fadeOut(500);
                    }
                } else {
                    this.$notify({
                        text: data.error_messages,
                        type: 'error'
                    });
                    return false;
                }
            },
            showArrow(id) {
                $("#" + id).css('line-height', 0);
                $("#" + id).fadeIn()
            },

            hideArrow(id) {
                $("#" + id).fadeOut()
            },
            hoverIn(event, id, key, length) {


                const video_drop = $(".video-drop").is(":visible");

                if (!video_drop) {
                    $('#' + id + "_" + key).addClass('transition-class').css('padding', '0');
                    $('#' + id + "_" + key + "_desc").show();
                    $('#' + id + "_" + key + "_div").removeClass('play_icon_div');

                    //$('#' + id + "_" + key + "_desc").css('bottom', '30px');
                } else {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        // $('#'+i+"_"+key).removeClass('active_img');
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                        $('#' + i + "_" + key + "_desc").show();
                    }
                    $('#' + id + "_" + key).removeClass('transition-class');
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                    $("#" + id + "_" + key + "_video_drop").show();
                }
            },
            hoverOut(event, id, key, length) {
                $('.slick-slide').css('margin', '0px');
                const value = id;

                if ((value + 1) % this.showCount == 0 && value != 0) {
                    $(".transition-class").css("margin-left", "0px");
                } else {
                    $(".transition-class").css("margin-left", "0px");
                }
                const video_drop = $(".video-drop").is(":visible");

                if (video_drop) {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                        $('#' + i + "_" + key + "_desc").show();
                    }

                    // $('#'+id+"_"+key).addClass('active_img');
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                    $("#" + id + "_" + key + "_video_drop").show();
                }

                $('#' + id + "_" + key).removeClass('transition-class');
            },
            showVideoDrop(event, idx, key) {
                $(".video-drop").hide();
                $("#" + idx + "_" + key + "_video_drop").show();
                // $('#'+idx+"_"+key).addClass('active_img');
                //console.log($('#'+idx+"_"+key).closest('.slide-box').siblings().find('tile-img').addClass('active_img'));
                $('#' + idx + "_" + key + "_img").addClass('active_img');
                $('#' + idx + "_" + key + "_desc").hide();
                $('#' + idx + "_" + key + "_div").addClass('play_icon_div');
                $('#' + idx + "_" + key).removeClass('transition-class');
            },
            dynamicContent(index, key, id) {
                const overviewElem = $("#" + index + "_" + key + "_overview");
                const episodesElem = $("#" + index + "_" + key + "_episodes");
                const trailersElem = $("#" + index + "_" + key + "_trailers");
                const moreLikeElem = $("#" + index + "_" + key + "_more-like");
                const detailsElem =  $("#" + index + "_" + key + "_details");
                overviewElem.removeClass('active');
                episodesElem.removeClass('active');
                trailersElem.removeClass('active');
                moreLikeElem.removeClass('active');
                overviewElem.removeClass('active');
                detailsElem.removeClass('active');

                if (id === "overview") {

                    overviewElem.addClass('active');

                } else if (id === "episodes") {

                    episodesElem.addClass('active');


                } else if (id === "trailers") {

                    trailersElem.addClass('active');

                } else if (id === "more-like") {

                    moreLikeElem.addClass('active');

                } else {

                    detailsElem.addClass('active');
                }

            },

            windowsResize(e) {
                if (e) this.window_width = e.target.innerWidth;
                else this.window_width = window.innerWidth;
                if (this.window_width > 1200) {
                    this.epdisode_slide_to_show = 6;
                    this.epdisode_slide_to_scroll = 6;
                    this.slide_to_show = 6;
                    this.slide_to_scroll = 6;
                    this.media_height = {
                        "height": Math.round((this.window_width - 200)) / 6 * 1.5 + "px"
                    }
                }

                if (this.window_width > 991 && this.window_width < 1200) {
                    this.epdisode_slide_to_show = 4;
                    this.epdisode_slide_to_scroll = 4;
                    this.slide_to_show = 6;
                    this.slide_to_scroll = 6;
                    this.media_height = {
                        "height": Math.round((this.window_width - 200)) / 4 * 1.5 + "px"
                    }
                }

                if (this.window_width > 767 && this.window_width < 992) {
                    this.epdisode_slide_to_show = 3;
                    this.epdisode_slide_to_scroll = 3;
                    this.slide_to_show = 4;
                    this.slide_to_scroll = 4;
                    this.media_height = {
                        "height": Math.round((this.window_width - 100)) / 3 * 1.5 + "px"
                    }
                    // console.log('media height', this.media_height);
                }

                if (this.window_width > 479 && this.window_width < 768) {
                    this.epdisode_slide_to_show = 2;
                    this.epdisode_slide_to_scroll = 2;
                    this.slide_to_show = 2;
                    this.slide_to_scroll = 2;
                    this.media_height = {
                        "height": Math.round((this.window_width - 50)) / 2 * 1.5 + "px"
                    }
                }

                if (this.window_width < 480) {
                    this.epdisode_slide_to_show = 1;
                    this.epdisode_slide_to_scroll = 1;
                    this.slide_to_show = 1;
                    this.slide_to_scroll = 1;
                    this.media_height = {
                        "height": (this.window_width - 100) * 1.5 + "px"
                    }
                }
                this.slideConfig = {
                    "slidesToShow": this.epdisode_slide_to_show,
                    "slidesToScroll": this.epdisode_slide_to_scroll,
                    // "nextArrow":"<div class='nav-btn next-slide'></div>",
                    // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                    "dots": false,
                    "infinite": true
                };
                this.slideConfig1 = {
                    "slidesToShow": this.slide_to_show,
                    "slidesToScroll": this.slide_to_scroll,
                    "dots": false,
                    "infinite": true
                };

                // console.log(this.media_height)
                // console.log(this.$refs, 'this is the refs')
            }
        },
        created() {
            window.addEventListener("resize", this.windowsResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.windowsResize);
        }
    }
</script>
<style scoped>
    .box-head h3 {
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        margin: 0;
    }

    .slick-slider {
        width: 90%;
        margin: 0 auto !important;
        /* background: #000; */

    }

    .slick-cloned {
        display: none !important;
    }
</style>
