<template>
    <div class="content" id="page_content">
        <div style="margin-top:80px !important; margin:5%; padding: 10px;">
            <div class="container">
                <div class="row mt-4 pb-4">
                    <div class="col-md-3 single-avatar">
                        <img :src="picture"/>
                        <!--<img src="../assets/img/bg-1.jpg"/>-->
                    </div>
                    <div class="col-md-9 pl-4">
                        <h1>{{title}}</h1>
                        <h4 style="line-height: 1.5;">{{description}}</h4>
                    </div>
                </div>
            </div>

            <div class="row" v-if="videos.length == 0">
                <p>No videos found</p>
            </div>
            <div class="row" v-for="(sub_videos, parentindex) in videos" :key="parentindex">
                <div class="box video-box-row">
                    <div :id="'video_'+video.admin_video_id" v-for="(video, key) in sub_videos"
                         :key="key" class="tile col-lg-2 col-md-3 col-sm-4 col-xs-6 video-box"
                         @mouseover="hoverIn(this, key, parentindex, sub_videos.length)"
                         @mouseleave="hoverOut(this, key, parentindex, sub_videos.length)"
                    >

                        <div class="video-box-outer">
                            <div class="tile-media" :id="video?video.admin_video_id+'_img':''">
                                <img class="tile-img" :src="video?video.default_image:''" alt="" :style="media_height"/>
                                <!--<img class="tile-img" src="../assets/img/bg-1.jpg" alt="" :style="media_height"/>-->
                            </div>
                            <div class="tile-details">
                                <div class="video_amount" v-if="video.amount > 0 && !video.pay_per_view_status">
                                    <!-- <span ng-if="video.pay_per_view_status">PAID</span> -->
                                    <span>PAY - {{video.currency}} {{video.amount}}</span>
                                </div>
                                <span>
                                <router-link :to="video?('/video/'+video.admin_video_id):''">
                                    <div class="hover-icon" :id="video.admin_video_id+'_div'">
                                    <i class="fa fa-play"></i>
                                    </div>
                                </router-link>
                            </span>
                                <div class="tile-content" :id="video?video.admin_video_id+'_desc':''">
                                    <h3 class="tile-tit">{{video.title}}</h3>
                                    <div class="row no-margin hidden-cls">
                                        <div class="pull-left">
                                            <div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (video.ratings < 1), 'glyphicon-star' : (video.ratings >= 1)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (video.ratings < 2), 'glyphicon-star' : (video.ratings >= 2)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (video.ratings < 3), 'glyphicon-star' : (video.ratings >= 3)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (video.ratings < 4), 'glyphicon-star' : (video.ratings >= 4)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (video.ratings < 5), 'glyphicon-star' : (video.ratings >= 5)}">
                                                </div>
                                            </div>
                                        </div>
                                        <p class="video-season">
                                            <span>{{video.release_date && video.release_date !="0000-00-00" ? video.release_date:'' }}</span>
                                            <span class="video-epi-count">{{video.age}} / <i class="fa fa-eye"></i>&nbsp;{{video.watch_count}}</span>
                                            <span>{{video.duration}}</span>
                                        </p>
                                    </div>
                                    <div class="video-des">
                                        <p class="video-des-inner">{{video.description}}</p>
                                    </div>
                                    <div class="text-center">
                                        <a @click="showVideoDrop(this, key,parentindex, video.length)"
                                           class="arrow">
                                            <img src="../assets/img/down-arrow-red.png" class="arrow_down"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div :id="key+'_'+parentindex+'_video_drop'" class="video-drop" v-for="(video, key) in sub_videos"
                     :key="'drop_'+key">

                    <video-drop :index="key" :videoKey="parentindex" :value="video"
                                :spam_reasons="spam_reasons"></video-drop>
                </div>
            </div>
            <h1 class="text-center" v-if="videos[0] && videos[0].length<=0">No videos found.</h1>
            <button @click="loadMoreDetails()" id="load_more_details" v-if="display"
                    class="btn btn-success">Load More
            </button>
            <div class="clearfix"></div>
            <DataLoader :isShow="isDataShow" id="dataLoader"></DataLoader>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import JQuery from 'jquery'
    import DataLoader from "../components/DataLoader";
    import VideoDrop from "../components/VideoDrop";

    let $ = JQuery;

    export default {
        name: 'SingleChannel',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {DataLoader, VideoDrop},
        data() {
            return {
                slideConfig: {
                    slidesToShow: this.epdisode_slide_to_show,
                    slidesToScroll: this.epdisode_slide_to_scroll,
                    // "nextArrow":"<div class='nav-btn next-slide'></div>",
                    // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                    dots: false,
                    infinite: true
                },
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                sessionStorage: {},
                access_token: '',
                apiService: new apiService(),
                window_width: window.innerWidth,
                show_count: 6,
                media_height: {},
                isShowPageLoader: true,
                epdisode_slide_to_show: 6,
                epdisode_slide_to_scroll: 1,
                title: '',
                picture: '',
                description: '',
                videos: [],
                isDataShow: false,
                spam_reasons:{},
                display:false
            }
        },
        async beforeMount() {

            this.$emit('update:isPageLoaderShow', true);
            this.slideConfig = {
                slidesToShow: this.epdisode_slide_to_show,
                slidesToScroll: this.epdisode_slide_to_scroll,
                // "nextArrow":"<div class='nav-btn next-slide'></div>",
                // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                dots: false,
                infinite: true
            };
            if (localStorage.getItem('sessionStorage') == null) {
                this.$router.push('/');
                return false;
            }
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));

            this.user_id = this.sessionStorage['user_id'] ? this.sessionStorage['user_id'] : '';
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            if (this.user_id && this.access_token) {
                const spamResponse = await this.apiService.spamReasons();
                if (spamResponse.data.success) this.spam_reasons = spamResponse.data.data;
                this.detailsFn();
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        mounted() {
        },
        computed: {},
        methods: {
            loadMoreDetails(){

                const dataLength = Object.keys(this.videos).length;
                if (dataLength === 0) this.display = false;
                let length = 0;

                for (let i = 0; i < dataLength; i++) {
                    length += Object.keys(this.videos[i]).length;
                }

                let total = length;

                if (total == this.total) return false;
                this.total = total;
                this.detailsFn(total, 12);
            },
            async detailsFn(skip, take) {
                this.isDataShow = true;
                this.display = false;

                const key = this.$route.params.id;
                const params = {
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    cid: key,
                    skip: skip,
                    take: take
                };
                let detailsResponse = await this.apiService.getSingleChannel(params);
                this.isDataShow = false;
                this.$emit('update:isPageLoaderShow', false);
                detailsResponse = detailsResponse.data;
                if (detailsResponse.success) {
                    this.title = detailsResponse.channel.name;
                    this.picture = detailsResponse.channel.picture;
                    this.description = detailsResponse.channel.description;
                    const videos_all = detailsResponse.channel.videos[0];
                    let videos_s = [];
                    let videos_item = [];
                    let count = 1;
                    videos_all.forEach((item) => {
                        if (count % (this.show_count + 1) == 0) {
                            videos_s.push(videos_item);
                            videos_item = [];
                            videos_item.push(item);
                            count = 1;
                        } else {
                            videos_item.push(item);
                        }
                        count++;
                    }, this);
                    videos_s.push(videos_item);
                    if (videos_all.length < 12) {
                        this.display = false;
                    } else {
                        this.display = true;
                    }
                    if (Object.keys(detailsResponse.channel.videos[0]).length > 0) {
                        this.title = detailsResponse.title;
                        if (Object.keys(this.videos).length > 0) {
                            this.videos = $.merge(this.videos, videos_s);
                        } else {
                            this.videos = videos_s;
                        }

                    }

                } else {
                    this.$notify({
                        type: 'error',
                        text: detailsResponse.error_messages
                    });
                    this.$router.push('/');
                    return false;
                }
            },

            showVideoDrop (event, idx, key) {
                $("#" + idx + "_" + key + "_video_drop").show();
                $('#' + idx + "_" + key).removeClass('transition-class');
                $('#' + idx + "_" + key + "_img").addClass('active_img');
                $('#' + idx + "_" + key + "_desc").hide();
                $('#' + idx + "_" + key + "_div").addClass('play_icon_div');
            },


            hoverIn(event, id, key, length) {
                //$(".video-drop").hide();
                let video_drop = $(".video-drop").is(":visible");
                if (!video_drop) {
                    $('#' + id + "_" + key).addClass('transition-class');
                    /*
                    var n_w = $('#' + id + "_" + key).width();
                    var added_w = n_w * 0.4 / 2;
                    if($('#' + id + "_" + key).prev().length > 0){
                      $('#' + id + "_" + key).prev().css('margin-right', added_w + 'px');
                      $('#' + id + "_" + key).css('margin-left', '-' + added_w + 'px');
                    }
                    if($('#' + id + "_" + key).next().length > 0){
                      $('#' + id + "_" + key).next().css('margin-left', added_w + 'px');
                      $('#' + id + "_" + key).css('margin-right', added_w + 'px');
                    }
                    */
                } else {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_desc").show();
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                    }
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $("#" + id + "_" + key + "_video_drop").show();
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                }
            },

            hoverOut(event, id, key, length) {
                let video_drop = $(".video-drop").is(":visible");
                if (video_drop) {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_desc").show();
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                    }
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $("#" + id + "_" + key + "_video_drop").show();
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                }
                $('#' + id + "_" + key).removeClass('transition-class');
            },
            windowsResize() {
                this.window_width = window.innerWidth;
                let height, show_count;
                if (this.window_width > 1200) {
                    show_count = 6;
                    height = Math.round((this.window_width - 200)) / 6 * 1.5 + "px";
                }

                if (this.window_width > 991 && this.window_width < 1200) {
                    show_count = 4;
                    height = Math.round((this.window_width - 200)) / 4 * 1.5 + "px"
                }

                if (this.window_width > 768 && this.window_width < 991) {
                    show_count = 3;
                    height = Math.round((this.window_width - 200)) / 3 * 1.5 + "px"
                }

                if (this.window_width < 768) {
                    height = Math.round((this.window_width - 200)) / 2 * 1.5 + "px";
                    show_count = 2;
                }
                this.media_height = {height};
                this.show_count = show_count;
            }
        },
        created() {
            this.windowsResize();
            window.addEventListener("resize", this.windowsResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.windowsResize);
        }
    }
</script>
<style scoped>
    .tile-img {
        max-height: 420px;
        object-fit: fill;
    }

    .tile-media {
        /*border: 2px solid #141414;*/
        height: auto !important;
        text-align: center;
    }

    .tile {
        height: auto !important;
    }

    .slick-initialized .slick-slide {
        display: inline-block !important;
        height: 100% !important;
        padding: 0 10px;
    }

    .tab-overlay {
        background: rgba(0, 0, 0, .90);
    }

    .box-head h3 {
        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        margin: 0;
    }

    .video-box-row {
        font-size: 14px;
        white-space: normal;
    }

    .video-drop {
        margin-top: 6px !important;
    }

    /*.slide-box {
        width: 16% !important;
    }*/

    .slide-image img {
        width: 100%;
    }

    .box-head h3 {

        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        margin: 0;

    }

    .video-head a {
        font-size: 13px;
        color: #167ac6;
    }

    /*.video-box-outer {

        margin: 0px 5px;

    }*/


    .slick-track {
        /*width:100% !important;*/
    }

    .slide-image {
        width: 100%;
        height: 110px !important;
        overflow: hidden;
        position: relative;
    }

    .slide-image img {
        width: 100%;
        min-height: 100%;
    }

    .slick-initialized .slick-slide {
        display: block;
        /*  padding: 5px;*/
    }

    .slick-prev, .slick-next {
        font-weight: bold;
        padding: 0;
        display: inline-block;
        width: 30px;
        line-height: 7px;
        position: absolute;
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        /*height: 74%;*/
        height: calc(100% - 102px);

    }

    .arrow_down {
        height: 9px;
        width: 29px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .slick-prev {

        left: 0;

    }

    .slick-next {

        right: 0;

    }

    .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
        /*background-color: #bbb;*/
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
    }

    .slick-next:hover, .slick-next:active, .slick-next:focus {
        /*background-color: #bbb;*/
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width: 992px) {
        .slide-image {
            width: 100%;
            height: 90px;
            overflow: hidden;
        }
    }


    /* Custom, iPhone Retina */
    @media only screen and (max-width: 320px) {
        .slide-image {
            width: 100%;
            height: 123px;
            overflow: hidden;
        }
    }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        margin-left: -5px;
    }

    .active_img {
        border: 4px solid #fff !important;
    }

    .active_img:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -5%;
        z-index: 100;
    }

    .tile-media {
        border: 4px solid #141414;
        height: 141px;
    }

    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;

    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }

    #load_more_details {
        margin: 100px auto 0 auto;
        width: 150px;
        height: 40px;
        font-size: 20px;
        display: block;
    }
</style>
