<template>
    <div class="content" style="padding-top: 8%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="text-center">{{title}}</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4" style="margin-top:40px !important; margin:5%; padding: 10px; min-height: 430px;">
            <div class="col-md-3" v-for="(item, key) in items" :key="key">
                <div class="card hovercard">
                    <img src="http://localhost/img/billing-back.jpg" alt="" />
                    <div class="avatar">
                         <div class="title mb-2">
                            <h5 style="font-size: 14px;">Title - {{item.title}}</h5>
                        </div>
                        <img :src="item.default_image" alt="" height="300"/>
                    </div>
                    
                    <div class="info mt-2">
                        <div  class="title mb-2">
                            <h6 style="font-size: 14px;">Reason - {{item.reason}}</h6>
                        </div>
                         <div class="bottom">
                            <a class="btn form-btn" @click="deleteSpam(item.video_id)" style="cursor: pointer;">Remove Spam</a>
                                
                        </div>
                       
                    </div>
                   
                </div>
                 
            </div>

        </div>
        
        <!-- Tab section -->
       
        <!-- Tab Section -->
    </div>
</template>
<script>
    export default {
        name: 'Spamlist',
        props: ['AppSettings', 'apiService'],
        components: {},
        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            this.user_id = this.sessionStorage ? this.sessionStorage['user_id'] : false;
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            if (this.user_id && this.access_token) 
            {
                this.apiService.GetSpam(
                    {id: this.sessionStorage['user_id'], token: this.sessionStorage['access_token']}
                )
                    .then(data => {
                        const response = data.data;
                        if (response.success) this.items = response.spamlist;
                        else{
                            this.$notify({
                                text: response.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(err => {
                        this.$router.push('/');
                        throw new Error(err);
                    })
            }
             else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
         methods: 
        {
            deleteSpam(video_id) 
            {
                if (confirm('Are you sure want to remove this video ?')) 
                {
                    this.apiService.DeleteSpam({
                        sub_profile_id: this.$route.params.id,
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        user_id: this.sessionStorage.user_id,
                        video_id:video_id,
                    })
                        .then(data => {
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    type: 'success',
                                    text: 'Successfully, the spam video has been remove'
                                });
                                // for (let item in this.cards) {
                                //     if (this.cards[item].card_id == 3) {
                                //         delete this.cards[item]
                                //     }
                                // }
                            } else {
                                this.$notify({
                                    type: 'error',
                                    text: data.error_messages
                                });
                            }
                        })
                        .catch(() => {
                            this.$notify({
                                type: 'error',
                                text: 'Something Went Wrong, Please Try again later'
                            });
                        })
                }
            }
        },
        data() {
            return {
                sessionStorage: {},
                user_id: '',
                access_token: '',
                title: 'Spam Video',
                items: {}
            };
        }
    }
</script>

<style scoped>
    img{
        width: 100% !important;
    }
    .desc{
        min-height: 150px !important;
    }
    .form-btn{
        padding-top: 10px !important;
    }
</style>
