<template>
    <transition name="modal" v-if="showModal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-dialog grey-bg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 style="display: inline-block">{{(content.heading || '').toUpperCase()}}</h2>
                            <button type="button" class="close" style="margin-top: 20px;"
                                    @click="showModal=false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div v-html="content.description || ''"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-red btn-md" @click="showModal=false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>

    import {apiService} from '../api-service.js';

    export default {
        props: ['page'],
        name: 'static',
        components: {
        },
        data() {
            return {
                apiService: new apiService(),
                content: {},
                showModal: false
            }
        },
        computed: {
            pageId: function () {

                return this.page;
            }
        },
        watch: {
            async pageId(newValue) {
                if (newValue > -1) {
                    const data = await this.apiService.GetPage(this.pageId);
                    this.content = data.data;
                    this.showModal = true;
                }
            }
        }
        ,
        methods: {
            closeModal() {
                this.$emit('update:page', -1);
                this.showModal = false;
            }
        }
    }
</script>
<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        transition: opacity .3s ease;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5) !important;
    }

    .modal-content {
        background-color: transparent !important;

        box-shadow: none !important;
        border: none !important;
    }

    .modal-wrapper {
        display: table-cell;
    }

    @media screen and (max-width: 768px) {
        .login-form-inner {
            width: auto;
        }
    }
    .btn-red{
        background-color: #E50914;
    }
    .btn-red:hover{
        color: white;
    }
</style>
