<template>
    <div>
        <div class="content-wrapper">

            <div class="login-form" style="padding-top:100px; padding-bottom: 40px;">

                <div class="banner-spacing">

                    <ul class="card-list row">
                        <li class="col-sm-6 col-md-4 card course syllabus topic-javascript"
                            v-for="(subscription, key) in subscriptions" :key="key">

                            <a class="card-box">
                                <div class="card-progress">
                                    {{subscription.title}}
                                </div>
                                <div :class="{'sub-red-bg': (subscription.popular_status == 1) , 'sub-black-bg': (subscription.popular_status == 0)}"
                                     class="sub-black-bg">
                                    <!-- <div class="sub-red-bg"> -->
                                    <strong class="card-type white-clr">Plan</strong>
                                    <h3 class="card-title white-clr">{{subscription.currency}} {{subscription.amount}} /
                                        {{subscription.plan}} month</h3>
                                </div>
                                <div class="spacing-30">
                                    <strong class="card-type">Maintain Account</strong>
                                    <h3 class="card-title"><i class="fa fa-user-plus"></i>
                                        {{subscription.no_of_account}}
                                    </h3>
                                    <p class="card-description">
                                        {{subscription.description}}
                                    </p>
                                </div>
                            </a>
                            <div class="clearfix"></div>
                            <ul class="card-actions">
                                <li class="card-action resume">

                                    <!-- <a class="btn btn-md" ng-class="{'orange-btn': (subscription.popular_status == 1) , 'pink-btn': (subscription.popular_status == 0)}" ui-sref="profile.invoice({subscription_id:subscription.id})">Pay Now</a> -->
                                    <router-link class="btn btn-md" :to="'/invoice/'+subscription.id"
                                                 :class="{'orange-btn': (subscription.popular_status == 1) ,
                                                 'black-btn': (subscription.popular_status == 0)}">Pay Now
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>
<script>

    import {apiService} from '../api-service.js';

    import JQuery from 'jquery'

    let $ = JQuery;
    export default {
        props: ['AppSettings','isPageLoaderShow'],
        name: 'subscriptions',
        components: {},
        data() {
            return {
                apiService: new apiService(),
                content: {},
                showModal: false,
                sessionStorage: {},
                subscriptions: []
            }
        },
        beforeMount() 
        {
            this.$emit('update:isPageLoaderShow',true);
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage.user_id ? this.sessionStorage.user_id : false;
            this.access_token = this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            if (this.user_id && this.access_token) 
            {
                console.log(this.user_id);
                this.one_time_subscription = this.sessionStorage.one_time_subscription;
                this.subscription_index();
            } 
            else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        computed: {
            site_settings() {
                console.log(this.AppSettings.settings);
                return this.AppSettings.settings;
            }
        },
        watch: {}
        ,
        methods: {
            async subscription_index() {
                $("#before_loader").fadeIn();
                const data = new FormData;
                data.append('id', this.user_id);
                data.append('token', this.access_token);
                let response = await this.apiService.SubscriptionIndex(data);
                this.$emit('update:isPageLoaderShow',false)
                response = response.data;

                if (response.success) {
                    this.subscriptions = response.data;
                } else {

                    if (response.error_code == 101) {

                        this.$router.push('/');

                    } else {

                        this.$notify({
                            text: 'Something Went wrong, Please try again later',
                            type: 'error'
                        });
                    }
                }
                $("#before_loader").fadeOut();
            }
        }
    }
</script>
<style scoped>
    li.syllabus{

        background: white;
        border: solid 2px #000000 !important;
        padding-top: 30px;
        padding-bottom: 30px;
        list-style: none !important;
        cursor: pointer;
    }
    button{
        font-size: 20px;
    }
    .black-btn{
        background-color: #fe0000;
        color: #fff;
    }
    .red{
        background-color: #fe0000;
        color: #fff;
    }
</style>
