<template>
    <div class="content-wrapper">
        <!-- <div class="content-wrapper" style="background-image:url({{login_bg}})"> -->
        <div class="login-form" style="padding-top:100px;padding-bottom: 40px;">
            <div class="section-padding">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <div class="white-bg spacing1 text-center payment-status">
                            <img src="../assets/img/red.png" class="succes-img">
                            <h1>Thank you!</h1>
                            <h3>Your Payment is received successfully !!</h3>
                            <p>Now you can watch Video</p>
                            <router-link :to="'/video/'+admin_video_id" v-if="admin_video_id > 0">
                                <button class="payment-submit"><i class="fa fa-video-o"></i> View Video</button>
                            </router-link>
                            <router-link :to="'/view-profiles/'" v-if="admin_video_id <= 0">
                                <button class="payment-submit"><i class="fa fa-video-o"></i> Home</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import {apiService} from '../api-service.js';

    export default {
        props: ['AppSettings', 'isPageLoaderShow'],
        name: 'SubscriptionSuccess',
        components: {},
        data() {
            return {
                apiService: new apiService(),
                profile: {},
                showModal: false,
                sessionStorage: {},
                subscriptions: [],
                video_id: '',
                admin_video_id: ''
            }
        },
        beforeMount() {
            this.$emit('update:isPageLoaderShow', true);
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = (this.sessionStorage.user_id != '' && this.sessionStorage.user_id != undefined) ? this.sessionStorage.user_id : false;
            this.access_token = (this.sessionStorage.access_token != undefined && this.sessionStorage.access_token != '') ? this.sessionStorage.access_token : '';
            if (this.user_id && this.access_token) {


                this.admin_video_id = this.sessionStorage.saved_subscription_video_id > 0 ? this.sessionStorage.saved_subscription_video_id : '';
                this.apiService.getUserDetail({id: this.user_id, token: this.access_token})
                    .then(data => {
                        this.$emit('update:isPageLoaderShow', false);

                        data = data.data;
                        if (data.success) {
                            this.profile = data;

                            this.sessionStorage.access_token = data.token;

                            this.sessionStorage.user_id = data.id;

                            this.sessionStorage.user_type = data.user_type;

                            this.sessionStorage.login_by = data.login_by;

                            this.sessionStorage.user_picture = data.picture;

                            this.sessionStorage.user_name = data.name;

                            this.sessionStorage.sub_profile_id = data.sub_profile_id;

                            this.sessionStorage.one_time_subscription = data.one_time_subscription;

                            this.sessionStorage.saved_subscription_video_id = "";

                            localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));

                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                            return false;
                        }
                    })
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        }
        ,
        computed: {
            site_settings() {
                console.log(this.AppSettings.settings);
                return this.AppSettings.settings;
            }
        }
        ,
        watch: {}
        ,
        methods: {
        }
    }
</script>
