<template>
    <div class="content" id="page_content">
        <div style="margin-top:80px !important; margin:5%; padding: 10px;">
            <div class="box-head" style="margin-bottom: 2%;">
                <h3>{{title}}</h3>
                <span style="position:relative;">
				<span class="secondary-menu custom-menu" @click="ShowGeners()">{{title}}: <i
                        class="glyphicon glyphicon-triangle-bottom arrow-down"></i>
					<div id="geners_menu" class="secondary-dropdown">
						<ul class="sub-drop list-unstyled" v-for="(col, colKey) in geners" :key="colKey">
							<li v-for="(item, itemKey) in col" :key="itemKey">
                                <router-link :to="'/title/'+item.name+'/'+item.id">{{item.name}}</router-link>
							</li>
						</ul>
					</div>
				</span>
			</span>
            </div>
            <div class="box video-box-row" v-if="!datas.length">
                <p v-if="title === 'wishlist'">You have not added any video to wishlist Yet</p>
                <p v-if="title === 'watchlist'"> You haven’t watched anything yet</p>
            </div>
            <div v-for="(video,parentindex) in datas" :key="parentindex">
                <div class="box video-box-row">
                    <div :id="childindex+'_'+parentindex"
                         @mouseover="hoverIn(this, childindex, parentindex, video.length)"
                         @mouseleave="hoverOut(this, childindex, parentindex, video.length)"
                         class="tile col-lg-2 col-md-3 col-sm-4 col-xs-6 slide-box video-box"
                         v-for="(value, childindex) in video" :key="childindex">
                        <div class="video-box-outer">
                            <div class="tile-media" :id="childindex+'_'+parentindex+'_img'">
                                <img class="tile-img" :src="value.default_image" alt="" :style="media_height"/>
                                <!--<img class="tile-img" src="../assets/img/bg-1.jpg" alt="" :style="media_height"/>-->
                            </div>
                            <div class="tile-details">
                                <div class="video_amount" v-if="value.amount > 0 && !value.pay_per_view_status">
                                    <span>PAY - {{value.currency}} {{value.amount}}</span>
                                </div>
                                <span v-if="value.pay_per_view_status">
								<router-link :to="'/video/'+value.admin_video_id">
									<div class="hover-icon" :id="childindex+'_'+parentindex+'_div'">
										<i class="fa fa-play"></i>
									</div>
								</router-link>
							</span>
                                <span v-if="!value.pay_per_view_status">
								<router-link :to="'/payment-option/'+value.admin_video_id">
									<div class="hover-icon" :id="childindex+'_'+parentindex+'_div'">
										<i class="fa fa-play"></i>
									</div>
								</router-link>
							</span>
                                <div class="tile-content" :id="childindex+'_'+parentindex+'_desc'">
                                    <h3 class="tile-tit">{{value.title}}</h3>
                                    <div class="row no-margin hidden-cls">
                                        <div class="pull-left">
                                            <div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">
                                                </div>
                                                <div class="rating-symbol glyphicon"
                                                     :class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">
                                                </div>
                                            </div>
                                        </div>
                                        <p class="video-season">
                                            <span>{{value.release_date && value.release_date !="0000-00-00" ? value.release_date:'' }}</span>
                                            <span class="video-epi-count">{{value.age}} / <i class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                                            <span>{{value.duration}}</span>
                                        </p>
                                    </div>
                                    <div class="video-des">
                                        <p class="video-des-inner">{{value.description}}</p>
                                    </div>
                                    <div class="text-center">
                                        <a @click="showVideoDrop(this, childindex, parentindex,video.length)"
                                           class="arrow">
                                            <img src="../assets/img/down-arrow-red.png" class="arrow_down"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="video-drop" style="margin-top: 1% !important;"
                     :id="childindex+'_'+parentindex+'_video_drop'"
                     v-for="(value, childindex) in video" :key="childindex">
                    <video-drop :index="childindex" :videoKey="parentindex" :value="value"
                                :spam_reasons="spam_reasons"></video-drop>
                </div>
            </div>

            <h1 class="text-center" v-if="datas[0] && datas[0].length<=0">No videos found.</h1>
            <button @click="loadMoreDetails()" id="load_more_details" v-if="display"
                    class="btn btn-success">Load More
            </button>
            <div class="clearfix"></div>
            <DataLoader :isShow="isDataShow" id="dataLoader"></DataLoader>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import JQuery from 'jquery'
    import 'slick-carousel/slick/slick.css'
    import 'slick-carousel/slick/slick-theme.css'

    import DataLoader from "../components/DataLoader";
    import VideoDrop from "../components/VideoDrop";
    let $ = JQuery;
    // import DataLoader from "../components/DataLoader"


    export default {
        name: 'Title',
        props: ['AppSettings', 'isPageLoaderShow'],
        components: {DataLoader, VideoDrop},
        data() {
            return {
                site_settings: this.AppSettings,
                sessionStorage: {},
                spam_reasons: {},
                geners: [],
                isDataShow: false,
                datas: {},
                display: false,
                access_token: '',
                apiService: new apiService(),
                sub_profile_id: '',
                window_width: window.innerWidth,
                media_height: 0,
                show_count: 6,
                user_id: '',
                user_type: '',
                title: '',
                id: 0,
            }
        },
        async beforeMount() {
            if (!localStorage.getItem('sessionStorage')) {
                this.$router.push('/');
                return false;
            }
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            this.user_id = this.sessionStorage.user_id;
            this.access_token = this.sessionStorage.access_token;
            this.user_type = this.sessionStorage.user_type;
            this.sub_profile_id = this.sessionStorage.sub_profile_id;
            if (this.user_id && this.access_token) {
                this.$emit('update:isPageLoaderShow',true);
                this.title = this.$route.params.title;
                this.id = this.$route.params.id;
                const spamResponse = await this.apiService.spamReasons();
                this.$emit('update:isPageLoaderShow',false);
                if (spamResponse.data.success) this.spam_reasons = spamResponse.data.data;
                else return false;
                // const vm = this;
                // $(window).scroll(() => {
                //     setTimeout(function () {
                //         vm.loadMoreDetails();
                //     }, 5000);
                // });
                this.$emit('update:isPageLoaderShow', true);
                this.detailsFn(0, 12, true);
            } else {
                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        computed: {
        },
        methods: {
            windowsResize(e) {
                this.window_width = e.target.innerWidth;
                let height, show_count;
                if (this.window_width > 1200) {
                    height = Math.round((this.window_width - 200)) / 6 * 1.5 + "px";
                    show_count = 6;
                }

                if (this.window_width > 991 && this.window_width < 1200) {

                    show_count = 4;
                    height = Math.round((this.window_width - 200)) / 4 * 1.5 + "px"
                }

                if (this.window_width > 768 && this.window_width < 991) {

                    show_count = 3;
                    height = Math.round((this.window_width - 150)) / 3 * 1.5 + "px"
                }

                if (this.window_width < 768) {
                    show_count = 2;
                    height = Math.round((this.window_width - 100)) / 2 * 1.5 + "px"
                }
                this.media_height = {height};
                this.show_count = show_count;
            },


            showVideoDrop (event, idx, key) {
                $("#" + idx + "_" + key + "_video_drop").show();
                $('#' + idx + "_" + key).removeClass('transition-class');
                $('#' + idx + "_" + key + "_img").addClass('active_img');
                $('#' + idx + "_" + key + "_desc").hide();
                $('#' + idx + "_" + key + "_div").addClass('play_icon_div');
            },


            hoverIn(event, id, key, length) {
                //$(".video-drop").hide();
                let video_drop = $(".video-drop").is(":visible");
                if (!video_drop) {
                    $('#' + id + "_" + key).addClass('transition-class');
                    /*
                    var n_w = $('#' + id + "_" + key).width();
                    var added_w = n_w * 0.4 / 2;
                    if($('#' + id + "_" + key).prev().length > 0){
                      $('#' + id + "_" + key).prev().css('margin-right', added_w + 'px');
                      $('#' + id + "_" + key).css('margin-left', '-' + added_w + 'px');
                    }
                    if($('#' + id + "_" + key).next().length > 0){
                      $('#' + id + "_" + key).next().css('margin-left', added_w + 'px');
                      $('#' + id + "_" + key).css('margin-right', added_w + 'px');
                    }
                    */
                } else {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_desc").show();
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                    }
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $("#" + id + "_" + key + "_video_drop").show();
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                }
            },

            hoverOut(event, id, key, length) {
                let video_drop = $(".video-drop").is(":visible");
                if (video_drop) {
                    for (let i = 0; i < length; i++) {
                        $("#" + i + "_" + key + "_video_drop").hide();
                        $('#' + i + "_" + key + "_img").removeClass('active_img');
                        $('#' + i + "_" + key + "_desc").show();
                        $('#' + i + "_" + key + "_div").removeClass('play_icon_div');
                    }
                    $('#' + id + "_" + key + "_img").addClass('active_img');
                    $("#" + id + "_" + key + "_video_drop").show();
                    $('#' + id + "_" + key + "_desc").hide();
                    $('#' + id + "_" + key + "_div").addClass('play_icon_div');
                }
                $('#' + id + "_" + key).removeClass('transition-class');
            },

            ShowGeners() {
                const genersMenu = $("#geners_menu");
                if (!genersMenu.hasClass("active")) {
                    genersMenu.css('display', 'block').addClass("active");
                } else {
                    genersMenu.css('display', 'none').removeClass("active");
                }
            },

            loadMoreDetails() {
                const dataLength = Object.keys(this.datas).length;
                if (dataLength === 0) this.display = false;
                let length = 0;

                for (let i = 0; i < dataLength; i++) {
                    length += Object.keys(this.datas[i]).length;
                }

                let total = length;

                if (total == this.total) return false;
                this.total = total;
                this.detailsFn(total, 12);
            },

            async detailsFn(skip, take, isInit) {
                this.isDataShow = true;
                this.display = false;
                if (isInit) this.datas = [];
                const data = new FormData;
                data.append('id', this.sessionStorage.user_id);
                data.append('token', this.sessionStorage.access_token);
                data.append('sub_profile_id', this.sessionStorage.sub_profile_id);
                data.append('key', this.title);
                data.append('skip', skip);
                data.append('take', take);
                if (this.id) data.append('cate_id', this.id);
                let detailsResponse = await this.apiService.getDetails(data);
                this.isDataShow = false;
                // console.log(detailsResponse, 'this is the detailsResponse');
                this.$emit('update:isPageLoaderShow', false);
                detailsResponse = detailsResponse.data;
                if (detailsResponse.success) {
                    this.geners = detailsResponse.sub_category;
                    let videos_all = [];
                    videos_all = detailsResponse.data;
                    let videos_s = [];
                    let videos_item = [];
                    let count = 1;
                    videos_all[0] && videos_all[0].forEach((item) => {
                        if (count % (this.show_count + 1) == 0) {
                            videos_s.push(videos_item);
                            videos_item = [];
                            videos_item.push(item);
                            count = 1;
                        } else {
                            videos_item.push(item);
                        }
                        count++;
                    }, this);
                    videos_s.push(videos_item);

                    if (videos_all[0].length < 12) {
                        this.display = false;
                    } else {
                        this.display = true;
                    }
                    if (Object.keys(detailsResponse.data).length > 0) {
                        this.title = detailsResponse.title;
                        if (Object.keys(this.datas).length > 0) {
                            this.datas = $.merge(this.datas, videos_s);
                        } else {
                            this.datas = videos_s;
                        }

                    }


                } else {
                    this.$notify({
                        type: 'error',
                        text: detailsResponse.error_messages
                    });
                    this.$router.push('/');
                    return false;
                }
            }

        },
        watch:{
            $route(newValue){
                this.title=  newValue.params.title;
                this.id=  newValue.params.id;
                this.detailsFn(0, 12, true)
            }
        },
        created() {
            window.addEventListener("resize", this.windowsResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.windowsResize);
        }
    }
</script>
<style scoped>
    .tile-img {
        max-height: 420px;
        object-fit: fill;
        min-height: 350px;
    }

    .tile-media {
        /*border: 2px solid #141414;*/
        height: auto !important;
        text-align: center;
    }

    .tile {
        height: auto !important;
    }

    .slick-initialized .slick-slide {
        display: inline-block !important;
        height: 100% !important;
        padding: 0 10px;
    }

    .tab-overlay {
        background: rgba(0, 0, 0, .90);
    }

    .box-head h3 {

        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        margin: 0;
    }

    .video-box-row {

        font-size: 14px;

        white-space: normal;
    }

    /*.slide-box {
        width: 16% !important;
    }*/

    .slide-image img {
        width: 100%;
    }

    .box-head h3 {

        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        margin: 0;

    }

    .video-head a {
        font-size: 13px;
        color: #167ac6;
    }

    /*.video-box-outer {

        margin: 0px 5px;

    }*/


    .slick-track {
        /*width:100% !important;*/
    }

    .slide-image {
        width: 100%;
        height: 110px !important;
        overflow: hidden;
        position: relative;
    }

    .slide-image img {
        width: 100%;
        min-height: 100%;
    }

    .slick-initialized .slick-slide {
        display: block;
        /*  padding: 5px;*/
    }

    .slick-prev, .slick-next {
        font-weight: bold;
        padding: 0;
        display: inline-block;
        width: 30px;
        line-height: 7px;
        position: absolute;
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        /*height: 74%;*/
        height: calc(100% - 102px);

    }

    .arrow_down {
        height: 9px;
        width: 29px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .slick-prev {

        left: 0;

    }

    .slick-next {

        right: 0;

    }

    .slick-prev:hover, .slick-prev:active, .slick-prev:focus {
        /*background-color: #bbb;*/
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
    }

    .slick-next:hover, .slick-next:active, .slick-next:focus {
        /*background-color: #bbb;*/
        background: #000;
        opacity: 0.7;
        z-index: 1000;
        color: #fff;
    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width: 992px) {
        .slide-image {
            width: 100%;
            height: 90px;
            overflow: hidden;
        }
    }


    /* Custom, iPhone Retina */
    @media only screen and (max-width: 320px) {
        .slide-image {
            width: 100%;
            height: 123px;
            overflow: hidden;
        }
    }

    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        margin-left: -5px;
    }

    .active_img {
        border: 4px solid #fff !important;
    }

    .active_img:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -5%;
        z-index: 100;
    }

    .tile-media {
        border: 4px solid #141414;
        height: 141px;
    }

    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;

    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }

    #load_more_details {
        margin: 100px auto 0 auto;
        width: 150px;
        height: 40px;
        font-size: 20px;
        display: block;
    }

    #dataLoader {
        margin-top: 100px !important;
    }
</style>
