<template>
    <!-- http://adminview.streamhash.com/embed?v_t=2&u_id=45a0862c455212 -->
    <div class="content" style="position: relative;">



        <player :parentId="$route.params['id']" :opts.sync="opts" :videoFetched.sync="videoFetched" style="margin: 0 auto;"></player>


        <div class="embed-responsive embed-responsive-16by9" id="flash_error_display" style="display: none;">
            <div style="width: 100%;background: black; color:#fff; align-items: center; justify-content: center; padding:15px;text-align: center;margin-top:25%;">
                <div>Flash is missing. Download it from <a target="_blank" href="http://get.adobe.com/flashplayer/"
                                                           class="underline">Adobe</a>.
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="back_button">
            <router-link :to="'/home/'+sub_profile_id">
                <i class="fas fa-arrow-circle-left" title="Back to home"></i>
            </router-link>

        </div>


        <div class="embed-link">

            <div class="embed_icon">


                <div class="modal fade embed-top" id="embed-popup" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content embed-bg" style="background-image: url(../assets/img/img7.jpg);">
                            <div class="embed-overlay">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Video Name</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea type="text" row="" name="embed_link" v-model="embed_link"
                                              class="form-control" id="embed_link"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <div class="text-right">

                                        <button type="button" class="payment-submit" title="Copy Link"
                                                @click="copyFromTextBox()">Copy
                                        </button>

                                        <!-- <button type="button" class="btn btn-danger btn-sm" title="Cancel" ng-click="closePopup()"  data-dismiss="modal">Cancel</button> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import JQuery from 'jquery'
    import Player from '../components/Player'
    import {AppSettings} from '../config'

    let $ = JQuery;

    export default {
        name: 'TrailerVideo',
        props: ['AppSettings'],
        components: {Player},
        data() {
            return {
                site_settings: this.AppSettings,
                video: {},
                sub_profile_id: '',
                videoFetched:false,
                sessionStorage: {},
                access_token: '',
                apiService: new apiService(),
                page_not_changed: false,
                user_type: '',
                videoData: {},
                embed_link: '',
                player_ins: '',
                source: {},
                title: 'FWD',
                videoLink:'',
                id: '',
                videoFile:'',
                user_detail: {},
                opts: {
                    instanceName: 'player' + this.$route.params['id'],
                    mainFolderPath: AppSettings.apiBase + "fwd-content",
                    skinPath: "minimal_skin_dark",
                    initializeOnlyWhenVisible: "no",
                    displayType: "responsive",
                    autoScale: "yes",
                    fillEntireVideoScreen: "no",
                    openDownloadLinkOnMobile: "no",
                    useHEXColorsForSkin: "no",
                    normalHEXButtonsColor: "#FF0000",
                    selectedHEXButtonsColor: "#FFFFFF",
                    privateVideoPassword: "428c841430ea18a70f7b06525d4b748a",
                    startAtTime: "",
                    stopAtTime: "",
                    startAtVideoSource: 2,
                    videoSource: [],
                    posterPath: "/assets/fwd-content/posters/360.jpg",
                    showErrorInfo: "yes",
                    fillEntireScreenWithPoster: "yes",
                    rightClickContextMenu: "default",
                    disableDoubleClickFullscreen: "no",
                    useChromeless: "no",
                    showPreloader: "yes",
                    addKeyboardSupport: "yes",
                    autoPlay: "yes",
                    loop: "no",
                    maxWidth: window.innerWidth,
                    maxHeight: window.innerHeight,
                    volume: .8,
                    greenScreenTolerance: 0,
                    backgroundColor: "#000000",
                    posterBackgroundColor: "#0099FF",
                    //logo settings
                    showLogo: "yes",
                    hideLogoWithController: "yes",
                    logoPosition: "topRight",
                    logoLink: "/#/home/" + JSON.parse(localStorage.sessionStorage).sub_profile_id,
                    logoMargins: 5,
                    //controller settings
                    showController: "yes",
                    showControllerWhenVideoIsStopped: "no",
                    showVolumeScrubber: "yes",
                    showVolumeButton: "yes",
                    showTime: "yes",
                    showQualityButton: "yes",
                    showShareButton: "yes",
                    showEmbedButton: "no",
                    showDownloadButton: "no",
                    showFullScreenButton: "yes",
                    repeatBackground: "yes",
                    controllerHeight: 41,
                    controllerHideDelay: 3,
                    startSpaceBetweenButtons: 7,
                    spaceBetweenButtons: 9,
                    mainScrubberOffestTop: 14,
                    scrubbersOffsetWidth: 4,
                    timeOffsetLeftWidth: 5,
                    timeOffsetRightWidth: 3,
                    volumeScrubberWidth: 80,
                    volumeScrubberOffsetRightWidth: 0,
                    timeColor: "#888888",
                    youtubeQualityButtonNormalColor: "#888888",
                    youtubeQualityButtonSelectedColor: "#FFFFFF",
                    //cuepoints
                    executeCuepointsOnlyOnce: "no",
                    //subtitles
                    showSubtitleButton: "yes",
                    subtitlesOffLabel: "Subtitle off",
                    startAtSubtitle: 1,
                    //audio visualizer
                    audioVisualizerLinesColor: "#0099FF",
                    audioVisualizerCircleColor: "#FFFFFF",
                    //advertisement on pause window
                    aopwTitle: "Advertisement",
                    aopwSource: "",
                    aopwWidth: 400,
                    aopwHeight: 240,
                    aopwBorderSize: 6,
                    aopwTitleColor: "#FFFFFF",
                    //playback rate / speed
                    showPlaybackRateButton: "no",
                    defaultPlaybackRate: "1", //0.25, 0.5, 1, 1.25, 1.5, 2
                    //embed window
                    embedWindowCloseButtonMargins: 0,
                    borderColor: "#333333",
                    mainLabelsColor: "#FFFFFF",
                    secondaryLabelsColor: "#a1a1a1",
                    shareAndEmbedTextColor: "#5a5a5a",
                    inputBackgroundColor: "#000000",
                    inputColor: "#FFFFFF"
                }
            }
        },
        async beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage.user_id
                ? this.sessionStorage.user_id : false;
            this.access_token = this.sessionStorage.access_token ? this.sessionStorage.access_token : '';
            const id = this.$route.params.id;
            const user_detail = await this.apiService.getUserDetail({
                id: this.sessionStorage['user_id'],
                token: this.sessionStorage['access_token']
            });
            this.user_detail = user_detail.data;
            if (this.user_id && this.access_token) {
                this.sub_profile_id = this.sessionStorage.sub_profile_id;
                this.user_type = this.sessionStorage.user_type ? this.sessionStorage.user_type : false;
                // this.user_type = true;
                this.height = $(window).height();
                this.page_not_changed = true;
                this.id = AppSettings.apiBase + 'popupVideo/' + id;
                // this.watchCount(id);
                this.apiService.getSingleVideo(
                    {
                        id: this.user_id,
                        token: this.access_token,
                        device_type: 'web',
                        admin_video_id: id,
                        video_type: 'trailer'
                    }
                )
                    .then((data) => {
                        data = data.data;
                        if (data.success) {
                            this.videoData = data;

                            this.embed_link = this.AppSettings.apiBase +
                                "embed?v_t=2&u_id=" + this.videoData.video.unique_id;
                            this.sessionStorage['saved_subscription_video_id'] = "";
                            localStorage.setItem('sessionStorage',
                                JSON.stringify(this.sessionStorage));
                            if (!this.videoData['pay_per_view_status']) {
                                this.page_not_changed = false;
                                this.sessionStorage['saved_subscription_video_id'] = this.id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                this.$router.push('/pay-per-view/' + this.videoData['video'].admin_video_id);
                            }
                            // if (this.user_detail.subscription) {
                            //     if (!this.user_detail.subscription.amount > 0) {
                            //         if (this.user_type) {
                            //             this.page_not_changed = false;
                            //             this.sessionStorage.saved_subscription_video_id = id;
                            //             localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                            //             this.$router.push('/subscriptions/' + this.sessionStorage.sub_profile_id);
                            //         }
                            //     }
                            // } else {
                            //     this.page_not_changed = false;
                            //     this.sessionStorage.saved_subscription_video_id = id;
                            //     localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                            //     this.$router.push('/subscriptions/' + this.sessionStorage.sub_profile_id);
                            // }
                            if (this.page_not_changed) {
                                this.sessionStorage.continous_watch_video_id = this.id;
                                this.sessionStorage.continous_sub_profile_id = this.sessionStorage.sub_profile_id;
                                localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                                const videoId = this.getId(this.videoData['trailer_video']);
                                if(videoId != 'error'){
                                    this.opts.useYoutube = true;
                                    this.opts.showYoutubeQualityButton = 'yes';
                                    this.opts.youtubeQualityButtonNormalColor="#888888";
                                    this.opts.youtubeQualityButtonSelectedColor="#fff";
                                    this.opts.videoSourcePath = videoId;
                                } else {
                                    // this.videoFile = this.videoData.trailer_video;
                                    var video_src = this.videoData.trailer_video;
                                    this.videoFile = video_src.replace('https://youtu.be/', 'https://www.youtube.com/embed/');
                                    this.addVideoSource(this.videoFile);
                                }
                            }
                        } else {
                            if(data.error_code==103){
                                this.$router.push('/');
                            }
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
            } else {

                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.watchCount(id);
                this.$router.push('/');
            }
        },
        mounted() {
        },
        computed: {},
        methods: {
            watchCount(videoId) {
                this.apiService.setWatchCount({
                    id: this.user_id,
                    token: this.access_token,
                    admin_video_id: videoId
                })
                    .then(data => {
                        console.log(data)
                    })
            },

            redirect() {
                $("html>div").remove();
                this.$router.push('/');
            },
            addVideoSource(videoLink) {
                this.videoLink = videoLink;
                this.opts.videoSource.push(
                    {source: videoLink, label: "small version", is360: "yes"}
                );
                this.videoFetched = true;
            },
            getId(url) {
                    const regExp = "/^.*(youtu.be\\/|v\\/|u\\/\\w\\/|embed\\/|watch\\?v=|\\&v=)([^#\\&\\?]*).*/";
                    const match = url.match(regExp);
                    if (match && match[2].length == 11) {
                        return match[2];
                    } else {
                        return 'error';
                    }
            }
        }
    }
</script>
<style>

</style>
