<template>

    <div class="content" id="page_content">
        <div style="margin-top:80px !important; margin-bottom:5%;">
            <div class="box-head" style="margin-bottom: 2%;">
                <h3>{{datas.title}}</h3>
                <span v-if="datas.title === 'Movies'" style="position:relative;">
				<span class="secondary-menu custom-menu" @click="ShowGeners()">Genres: <i
                        class="glyphicon glyphicon-triangle-bottom arrow-down"></i>
					<div id="geners_menu" class="secondary-dropdown">
						<ul class="sub-drop list-unstyled" v-for="(cols, colsKey) in datas.sub_category" :key="colsKey">
							<!--<li *ngFor="let col of cols|keyvalue">-->
							<li v-for="(col, colkey) in cols" :key="colkey">
                                <router-link :to="'/title/'+colkey+'/'+col">{{colkey}}</router-link>
							</li>
						</ul>
					</div>
				</span>
			</span>
            </div>
            <!-- <div class="box video-box-row" v-if="datas.length == 0">
                <p>No videos found</p>
            </div> -->
            <div class="video-full-box" v-for="(category, categoryKey) in datas.data" :key="categoryKey">
                <div class="box-title" v-if="category.videos && category.videos.length > 0">
                    <div class="box-head row no-margin">
                        <h3 class="main-title pull-left">{{categoryKey}}</h3>
                        <router-link :to="'/title/'+categoryKey+'/'+category.id" style="color: #fff"
                                     class="see-all pull-right">
                            See All
                        </router-link>
                    </div>
                </div>
                <div class="box video-box-row" v-if="category.videos && category.videos.length > 0">
                    <Slider :slideContent="category.videos" :slideKey="categoryKey" :spam_reasons="spam_reasons"
                            v-if="category.videos.length>0" @showVideoDrop="updateVideoDrop"/>
                </div>

                <div class="clearfix"></div>
                <div class="video-drop" v-for="(video, parentindex) in category.videos" :key="parentindex"
                     :id="categoryKey.split(' ').join('')+'_'+video.admin_video_id+'_video_drop'">
                    <video-drop :index="selectedId.key.split(' ').join('')" :videoKey="video.admin_video_id" :value="video"
                                :spam_reasons="spam_reasons"></video-drop>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</template>
<script>
    import {apiService} from "../api-service";
    import Slider from "../components/Slider";
    import VideoDrop from "../components/VideoDrop"
    import JQuery from 'jquery'
    let $ = JQuery;

    export default {
        name: 'Browse',
        props: ['AppSettings','isPageLoaderShow'],
        components: {Slider, VideoDrop},
        // components: {VueSlickCarousel},
        data() {
            return {
                media_height: {},
                user_id: '',
                access_token: '',
                sessionStorage: {},
                user_type: null,
                spam_reason_value: '',
                datas: {},
                spam_reasons: {},
                apiService: new apiService(),
                selectedId: {
                    key:''
                },
            }
        },
        beforeMount() {
            this.sessionStorage = JSON.parse(localStorage.sessionStorage);
            this.user_id = this.sessionStorage['user_id'] ? this.sessionStorage['user_id'] : '';
            this.access_token = this.sessionStorage['access_token'] ? this.sessionStorage['access_token'] : '';
            const id = this.$route.params.id;
            if (this.user_id && this.access_token) {
                this.$emit('update:isPageLoaderShow', true);
                this.user_type = (this.sessionStorage['user_type'] == undefined ||
                    this.sessionStorage['user_type'] == 0) ? true : false;

                this.apiService.getVideoData(
                    {
                        id: this.user_id,
                        token: this.access_token,
                        key: id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    }
                ).then(data => {

                    this.$emit('update:isPageLoaderShow',false)
                    data = data.data;

                    if (data.success) {
                        this.datas = data;
                    } else {

                        this.$notify({
                            text: data.error_messages,
                            type: 'error'
                        });
                        return false;
                    }
                    $("#page_preloader").hide();

                })
                this.apiService.spamReasons()
                        .then((data) => {
                            data = data.data;
                            if (data.success) {
                                this.spam_reasons = data.data;
                            }
                        })
            } else {

                window.localStorage.setItem('logged_in', 'false');
                this.sessionStorage = {};
                localStorage.removeItem("sessionStorage");
                localStorage.clear();
                this.$router.push('/');
            }
        },
        methods: {
            updateVideoDrop(newValue, slideKey) {
                this.selectedId = newValue;
                console.log(this.selectedId, 'this is the selectedId')
                console.log(slideKey, 'this is the selectedId')
            },
            showVideoDrop(event, sub, key) {
                $('.video-drop').hide();
                $("#" + sub + '_' + key + "_video_drop").fadeIn();
                $('#' + sub + '_' + key).removeClass('transition-class');
                $('#' + sub + '_' + key + "_img").addClass('active_img');
                $('#' + sub + '_' + key + "_desc").hide();
                $('#' + sub + '_' + key + "_div").addClass('play_icon_div');
            },
            ShowGeners() {
                if (!$("#geners_menu").hasClass("active")) {
                    $("#geners_menu").css('display', 'block');
                    $("#geners_menu").addClass("active");
                } else {
                    $("#geners_menu").css('display', 'none');
                    $("#geners_menu").removeClass("active");
                }
            },
            hoverIn(event, sub, id, key, length) {
                const video_drop = $(".video-drop").is(":visible");
                if (!video_drop) {

                    $('#' + sub + '_' + id + "_" + key).addClass('transition-class');
                    $('#' + sub + '_' + id + "_" + key + "_desc").show();
                    $('#' + sub + '_' + id + "_" + key + "_desc").css('bottom', '30px');
                    $('#' + sub + '_' + id + "_" + key).css('padding', '0');


                } else {
                    for (let i = 0; i < length; i++) {
                        $("#" + sub + '_' + i + "_" + i + "_video_drop").hide();
                        $('#' + sub + '_' + i + "_" + i + "_img").removeClass('active_img');
                        $('#' + sub + '_' + i + "_" + i + "_div").removeClass('play_icon_div');
                        $('#' + sub + '_' + i + "_" + i + "_desc").show();
                    }
                    $('#' + sub + '_' + id + "_" + key).removeClass('transition-class');
                    $('#' + sub + '_' + id + "_" + key + "_img").addClass('active_img');
                    $('#' + sub + '_' + id + "_" + key + "_desc").hide();
                    $('#' + sub + '_' + id + "_" + key + "_div").addClass('play_icon_div');
                    $("#" + sub + '_' + id + "_" + key + "_video_drop").show();
                }
            },
            hoverOut(event, sub, id, key, length) {
                $('.slick-slide').css('margin', '0px');
                var video_drop = $(".video-drop").is(":visible");
                if (video_drop) {
                    for (var i = 0; i < length; i++) {
                        $("#" + sub + '_' + i + "_" + i + "_video_drop").hide();
                        $('#' + sub + '_' + i + "_" + i + "_img").removeClass('active_img');
                        $('#' + sub + '_' + i + "_" + i + "_desc").show();
                        $('#' + sub + '_' + i + "_" + i + "_div").removeClass('play_icon_div');
                    }
                    $("#" + sub + '_' + i + "_" + key + "_video_drop").hide();
                    $('#' + sub + '_' + id + "_" + key + "_img").addClass('active_img');
                    $("#" + sub + '_' + id + "_" + key + "_video_drop").show();
                    $('#' + sub + '_' + id + "_" + key + "_desc").hide();
                    $('#' + sub + '_' + id + "_" + key + "_div").addClass('play_icon_div');
                }

                $('#' + sub + '_' + id + "_" + key).removeClass('transition-class');
            },
        },

        watch: {
            selectedId(newValue) {
                this.showVideoDrop('', newValue.key.split(' ').join(''), newValue.selectedContent.admin_video_id,
                    newValue.selectedContent.admin_video_id);
            }
        }
    }
</script>
<style scoped>
    #page_content {
        padding-top: 50px;
    }

    .video-drop {
        top: 50px;
    }
    .box-head h3 {
        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 4px 0px;
    }

    .video-box-row {
        font-size: 14px;
        white-space: normal;
    }

    .tile {
        height: auto !important;
        width: 100%;
    }

    .tile-img {
        max-height: 420px;
        object-fit: fill;
    }

    .tile-media {
        /*border: 2px solid #141414;*/
        height: auto !important;
        text-align: center;
    }

    .slick-initialized .slick-slide {
        display: inline-block !important;
        height: 100% !important;
        padding: 0;
    }

    .tab-overlay {
        background: rgba(0, 0, 0, .90);
    }

    /*.slide-box {
        width: 16% !important;
    }*/

    .slide-image img {
        width: 100%;
    }

    .box-title {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .box-head {
        margin: 0 4% 0.5em 5%;
    }

    .box-head h3 {

        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        margin: 0;

    }

    .video-head a {
        font-size: 13px;
        color: #167ac6;
    }

    /*.video-box-outer {

        margin: 0px 5px;

    }*/

    .active_img {
        border: 4px solid #fff !important;
    }

    .active_img:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -5%;
        z-index: 100;
    }

    .tile-media {
        border: 4px solid #141414;
        height: 141px;
    }

    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;

    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }
</style>
<style>
    a.close-btn {
        text-shadow: 0px 1px 5px #141414;
    }
</style>
