<template>
    <div id="data_loader" v-if="isShow" style="margin-top: 5px;text-align: center;">
        <img src="../assets/img/ellipsis.svg" style="width: 40px;">
    </div>
</template>
<script>

    export default {
        name: 'DataLoader',
        props: ['isShow'],
        components: {},
        methods: {
            show: function () {
                // this.isShow = true;
            },
            hide: function () {
                // this.isShow = false;
            }
        }
    }
</script>
