<template>
    <div>
        <!-- Footer Modeal -->
                             <!-- Modal -->
                                <!-- Privacy &amp; Cookies Footer Modal -->
                            <div class="modal fade" id="myModalprivacy" role="dialog">
                                <div style="width: 445px;" class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: rgba(0,0,0,.85); margin-top: 100px;">
                                        <div class="modal-header spam">
                                            <button style="color: #fff;opacity:1.2;" type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title bold">{{items.heading}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="font-size: 80%;line-height: 20px; color: #d7d8dc; font-weight: 400" class="small bold text-center">{{items.description}}</p>
                                              <div class="text-right">
                                                    <button data-dismiss="modal" type="submit" class="payment-submit">Close</button>
                                              </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!-- Privacy &amp; Cookies Footer Modal -->

                                  <!-- Terms & Conditions Footer Modal -->
                            <div class="modal fade" id="myModalTerms" role="dialog">
                                <div style="width: 445px;" class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: rgba(0,0,0,.85);margin-top: 100px;">
                                        <div class="modal-header spam">
                                            <button style="color: #fff;opacity:1.2;" type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title bold">{{value.heading}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="font-size: 80%;line-height: 20px;color: #d7d8dc; font-weight: 400" class="small bold text-center">{{value.description}}</p>
                                             <div class="text-right">
                                                    <button data-dismiss="modal" type="submit" class="payment-submit">Close</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!-- Terms & Conditions Footer Modal -->

                                   <!-- Legal Disclaimer Footer Modal -->
                            <div class="modal fade" id="myModalLegal" role="dialog">
                                <div style="width: 445px;" class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: rgba(0,0,0,.85);margin-top: 100px;">
                                        <div class="modal-header spam">
                                            <button style="color: #fff;opacity:1.2;" type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title bold">{{ legals.heading }}</h4>
                                        </div>
                                        <div class="modal-body">
                                                <p style="font-size: 80%; line-height: 20px;color: #d7d8dc; font-weight: 400" class="small bold text-center">{{legals.description}}</p>
                                                 <div class="text-right">
                                                    <button data-dismiss="modal" type="submit" class="payment-submit">Close</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!-- Legal Disclaimer Footer Modal -->
                                   <!-- Community Footer Modal -->
                            <div class="modal fade" id="myModalCommunity" role="dialog">
                                <div style="width: 440px;" class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: rgba(0,0,0,.85);margin-top: 100px;">
                                        <div class="modal-header spam">
                                            <button style="color: #fff;opacity:1.2;" type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title bold">{{ communit.heading }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="font-size: 80%; line-height: 20px;color: #d7d8dc; font-weight: 400" class="small bold text-center">{{ communit.description }}</p>
                                             <div class="text-right">
                                                    <button data-dismiss="modal" type="submit" class="payment-submit">Close</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!-- Community Footer Modal -->
                               <!-- About Footer Modal -->
                                 <div class="modal fade" id="myModalaboutsite" role="dialog">
                                <div style="width: 440px;" class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content" style="background-color: rgba(0,0,0,.85);margin-top: 100px;">
                                        <div class="modal-header spam">
                                            <button style="color: #fff;opacity:1.2;" type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title bold">{{ aboutsite.heading }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="font-size: 80%; line-height: 20px;color: #d7d8dc; font-weight: 400" class="small bold text-center">{{ aboutsite.description }}</p>
                                             <div class="text-right">
                                                    <button data-dismiss="modal" type="submit" class="payment-submit">Close</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <!-- About Footer Modal -->
                            <!-- Footer Modeal -->
    <footer class="footer" style="background: #3E4551">
        <div class="footer-copyright-area ptb30">
          <div class="container">
             <div class="row">
                <div class="col-md-8">
                    <div class="d-flex">
                      <div class="links">
                         <ul class="list-inline">
                            <li class="list-inline-item">
                              <a @click="aboutsiteData()" style="cursor: pointer;" data-toggle="modal" data-target="#myModalaboutsite">About Us</a>
                            </li>
                            <li class="list-inline-item"><a href="#"></a>
                             <a @click="termsData()" style="cursor: pointer;" data-toggle="modal" data-target="#myModalTerms">Terms & Conditions</a>
                            </li>
                            <li class="list-inline-item">
                                <a @click="privacyData()" style="cursor: pointer;" data-toggle="modal" data-target="#myModalprivacy">Privacy &amp; Cookies</a>
                            </li>
                            <li class="list-inline-item">
                              <a @click="legalData()" style="cursor: pointer;" data-toggle="modal" data-target="#myModalLegal">Legal Disclaimer</a>
                            </li>
                            <li class="list-inline-item">
                              <a @click="communityData()" style="cursor: pointer;" data-toggle="modal" data-target="#myModalCommunity">Community</a>
                            </li>
                          
                         </ul>
                      </div>
                      
                    </div>
                </div>
                <div class="col-md-4" style="margin-top:13px !important;">
                    <div style="float: right;" class="copyright ml-auto">Flashington © 2020 All rights reserved.</div>
                </div>
               <!--  <div class="col-md-1">
                    <div id="backtotop" class="visible">
                         <a href="#"></a>
                    </div>
                </div> -->
             </div>
          </div>
       </div>
    </footer>
        <static v-bind:showModal.sync="showModal" v-bind:page.sync="page"/>
    </div>
</template>
<script>

    import Static from "../views/Static";
    export default {
        name: 'Footer',
        props: ['AppSettings', 'apiService'],
        components: {Static},
        async created() {
            const response = await this.apiService.getAllPages();
            this.footerPages = response.data[0];
        },
        computed: {
            facebook_link() {
                const settings = this.AppSettings.settings;
                return settings?settings['facebook_link']:'';
            },

            getAppSettings: function () {
                return this.AppSettings.settings ? this.AppSettings.settings : {};
            },
       

            linkedin_link() {
                const settings = this.AppSettings.settings;
                return settings?settings['linkedin_link']:'';
            },

            twitter_link() {
                const settings = this.AppSettings.settings;
                return settings?settings['twitter_link']:'';
            },

            pinterest_link() {
                const settings = this.AppSettings.settings;
                return settings?settings['pinterest_link']:'';
            },

            google_plus_link() {
                const settings = this.AppSettings.settings;
                return settings?settings['google_plus_link']:'';
            }
        },
        data() {
            return {
                page: -1,
                footerPages: {},
                showModal:false,
                 items: {},
                 value:{},
                 legals:{},
                 communit:{},
                 aboutsite:{}
            }
        },
        methods:{
            openModal(pageId){
                this.showModal = true;
                this.page = pageId;

            },
               aboutsiteData()
            {
                 const sendData = {
                        about:'about'
                    };
                    this.apiService. getAppaboutSettingInfo(sendData).then(data => 
                    {
                        data = data.data;
                         
                        if (data.success) this.aboutsite = data.about;
                    })
            },
            privacyData()
            {
                 const sendData = {
                        privacy:'privacy'
                    };
                    this.apiService. getAppFooterSettingInfo(sendData).then(data => 
                    {
                        data = data.data;
                         
                        if (data.success) this.items = data.privacy;
                    })
            },
            termsData()
            {
                 const sendData = {
                        privacy:'terms'
                    };
                    this.apiService. getApptermSettingInfo(sendData).then(data => 
                    {
                        data = data.data;
                         
                        if (data.success) this.value = data.terms;
                    })
            },
            legalData()
            {
                 const sendData = {
                        privacy:'legal'
                    };
                    this.apiService. getApplegalSettingInfo(sendData).then(data => 
                    {
                        data = data.data;
                         
                        if (data.success) this.legals = data.legal;
                    })
            },
            communityData()
            {
                const sendData = {
                        privacy:'community'
                    };
                    this.apiService. getAppcommunitySettingInfo(sendData).then(data => 
                    {
                        data = data.data;
                         
                        if (data.success) this.communit = data.community;
                    })

            },
         
        }
    }
</script>
<style>
footer.footer-copyright-area {
    border-top: 1px solid rgba(255, 255, 255, .2)!important;
}
    footer {
        position: relative !important;
        height:110px !important;
    }
</style>
<style scoped>
    h3 {
        font-weight: bold;
        /*text-align: center;*/
    }
    .contentRow{
        margin-top: 30px;
    }
    .footer-copyright{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .foot-share{
        width: 270px;
        margin: 0 auto;
    }
    .foot-app{
        width: 237px;
        margin: 0 auto !important;
    }
    .foot-app li{
        display: inline-block;
    }
    .foot-head, .foot-app, .foot-share{
        margin-bottom: 25px;
    }
    .list-inline-item:not(:last-child) {
    margin-right: .5rem;
    }
    .list-inline-item {
        display: inline-block;
    }
    li {
     padding-top:15px !important;
     margin-left:10px;
    margin-bottom: 5px;
    }
    ul li a{
   
    color: inherit;
    }
    list-inline {
    padding-left: 0;
    list-style: none;
    }
    a:visited {
    text-decoration: none!important;
    outline: 0!important;
    }
    ul li a:hover{
        color:red !important;
    }
     .modal-dialog {
    margin: 8vh auto 0px auto
}
 
</style>
