<template>
    <nav class="navbar navbar-default navbar-fixed-top nav-scroll black_bg" role="navigation">
        <div class="header_section" id="header-section">
            <div class="navbar-header left-align">
                <router-link :to="'/home/'+sub_profile_id" class="navbar-brand">
                    <img :src="AppSettings.settings?AppSettings.settings.site_logo:''"/>
                </router-link>
            </div>

            <button style="margin-top:10px; margin-right: 15px; border: none !important;" id="navbar_btn" class="navbar-toggler visible-xs right-align" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span> 
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav left-align" v-if="layoutStatus">

                    <li class="primary-menu">
                        <router-link :to="'/home/'+sub_profile_id">Home</router-link>
                    </li>

                    <li class="primary-menu" :key="index"
                          v-for="(value, index) in ActiveCategories">
                        <template v-if="value.name === 'Movies'">
                          <router-link :to="'/movies/'+value.id">{{value?value.name:''}}</router-link>
                        </template>
                         <template v-if="value.name === 'Music'">
                        <router-link :to="'/music/'+value.id">{{value?value.name:''}}</router-link>
                        </template>
                         <template v-if="value.name === 'TV Shows'">
                        <router-link :to="'/tvshow/'+value.id">{{value?value.name:''}}</router-link>
                        </template>
                    </li>
                    <li class="primary-menu">
                        <router-link :to="'/channels'">Channels</router-link>
                    </li>
                    <li class="primary-menu">
                        <router-link :to="'/browse/recent'">Recently Added</router-link>
                    </li>
                    <li class="primary-menu">
                        <router-link :to="'/title/wishlist'">My List</router-link>
                    </li>
                  
                   
                </ul>

                <ul class="nav navbar-nav navbar-right right-align" v-if="layoutStatus">
                    <li>
                        <form style="padding-top: 9px;">
                            <input id="search-box" type="text" class="search-box" autocomplete="true"
                                   @keyup.13="searchShow()" v-model="search_key"
                                   placeholder="Search.."/>
                            <label for="search-box">
                                <span class="glyphicon glyphicon-search search-icon"></span>
                            </label>
                        </form>
                      <!--   <a class="search-box-xs visible-xs" @click="searchShow()" style="cursor: pointer;"><i class="fa fa-search search-icon1"></i>
                        </a> -->
                   </li>

                    <li class="dropdown">

                        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="position: relative; margin-top: 5px;"
                           @click="redNotification">
                            <i class="glyphicon glyphicon-bell"></i>
                            <span class="notification_badge" id="notification_badge" v-if="notifications_count > 0">
                                {{notifications_count}}
                            </span>
                        </a>

                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">


                            <div class="notifications-wrapper">
                                <div v-for="(notification, key) in notifications" :key="key">
                                    <router-link class="content" :to="'/video/'+ notification.admin_video_id"
                                                 v-if="notification.pay_per_view_status">
                                        <div class="notification-item">

                                            <div class="row">

                                                <div class="col-lg-3">
                                                    <div :style="{ backgroundImage: 'url(' + notification.img + ')'}"
                                                         class="noti-img"></div>
                                                </div>

                                                <div class="col-lg-9">
                                                    <h4 class="item-title" style="text-overflow: ellipsis;">
                                                        {{notification.title}}</h4>
                                                    <p class="item-info">
                                                        {{notification.time}}

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </router-link>
                                </div>

                                <div v-if="notifications.length === 0">

                                    <p style="color: #fff;padding: 15px; margin: 0;">Sorry - You dont have any
                                        notifications</p>

                                </div>
                            </div>
                            <div class="notification-footer" v-if="notifications.length > 0">
                                <router-link to="/title/recent">
                                    <h4 class="menu-title pull-right">View all&nbsp;
                                        <i class="fa fa-chevron-right"></i>
                                    </h4>
                                </router-link>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>

                    <li class="dropdown nav-profile">
                        <a class="dropdown-toggle l-height-27" data-toggle="dropdown"
                           style="cursor: pointer;">                           
                            <img class="nav-profile-img bg-img head-prof" v-bind:src="sub_profile?sub_profile.picture:''">
                            <span class="nav-profile-name head-prof t-0">{{sub_profile?sub_profile.name:''}}</span>
                            <strong class="caret top-4"> </strong>
                        </a>
                        <a class="dropdown-toggle visible-xs" data-toggle="dropdown" style="cursor: pointer;">
                            <!-- <div class="nav-profile-img bg-img" style="background-image: url({{sub_profile.picture}});"></div> -->
                        </a>
                        <ul class="dropdown-menu nav-profile-menu" style="margin-top: 10px;">
                            <div class="border-bot more-profile padding15">
                                <!-- <li class="row no-margin" :key="key" v-for="(value, key) in profiles">
                                    <a href="javascript:void(0)" @click="activeProfiles(value.id)">
                                            <img class="nav-profile-img bg-img" v-bind:src="value?value.picture:''">
                                        <div class="nav-profile-name">{{value?value.name:''}} <span
                                                v-if="value.status == 1">(Main)</span>
                                        </div>
                                    </a>
                                </li> -->

                                <li>
                                    <router-link to="/view-profiles">Profiles</router-link>
                                </li>
                            </div>

                            <div class="padding15 more-profile1">
                                <li>
                                    <router-link :to="'/account-setting/'+sub_profile_id">Your Account</router-link>
                                </li>
                                <li>
                                    <router-link :to="'/spamlist'">Spam Report</router-link>
                                </li>
                                <li>
                                    <a @click="logout" style="cursor: pointer;">
                                        Signout
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    import {apiService} from "../api-service";

    export default {
        name: 'Header',

        props: ['AppSettings', 'layoutStatus'],
        components: {},
        data() {
            return {
                cascading: false,
                ActiveCategories: {},
                isLoggedIn: false,
                apiService: new apiService(),
                sub_profile_id: '',
                sessionStorage: {},
                user_picture: '',
                sub_profile: {},
                profiles: {},
                notifications_count: 0,
                notifications: {},
                search_key: '',
                loadStatus: false
            }
        },
        beforeMount() {
            if ((!this.apiService.checkAuth() || !localStorage.getItem('sessionStorage')
            ) && this.$route.name !== 'landing') {
                this.$router.push('/');
                return;
            }

            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
            if (this.sessionStorage) {
                this.sub_profile_id = this.sessionStorage.sub_profile_id;
                this.user_id = this.sessionStorage.user_id;
                this.access_token = this.sessionStorage.access_token;
                this.sub_profile = this.sessionStorage.sub_profile;

            }
            const n = setInterval(() => {
                if (this.isLoggedIn && !this.notifications.length) {
                    this.getAllsetting();
                    this.sub_profile_data(this.sub_profile_id);
                    this.notifications_method();
                } else {
                    clearInterval(n);
                }
            }, 3000);
        },
        computed: {
            getHeaderImg: function () {
                const settings = this.AppSettings.settings;
                return settings ? settings.site_logo : '';
            }
        },
        watch: {
            isLoggedIn: function (newVal) {
                if (!newVal) this.ActiveCategories = {}
            }
        },
        methods: {
            getAllsetting: async function () {
                if (this.user_id && this.access_token) {
                    const sub_profile_id = this.sessionStorage.sub_profile_id;
                    if (sub_profile_id) {
                        this.sub_profile_id = sub_profile_id;
                    }
                    this.user_picture = this.sessionStorage.user_picture ? this.sessionStorage.user_picture
                        : '../assets/img/failure.png';

                    this.activeProfiles(this.sub_profile_id);
                }

                let activeCategories = await this.apiService.getActiveCategories(
                    {
                        id: this.user_id,
                        token: this.access_token

                    }
                ).catch(() => {
                    this.$notify({
                        type: 'error',
                        text: 'Failed to get data from the server'
                    })
                });
                activeCategories = activeCategories.data;
                if (activeCategories.success) {
                    this.ActiveCategories = activeCategories.data[0];
                }
                this.loadStatus = true;
                if (!activeCategories.success) {
                    this.$router.push('/');
                }
            },
            sub_profile_data: async function (sub_profile_id) {
                let singleSubscription = await this.apiService.getSingleSubscription(
                    {
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    sub_profile_id: sub_profile_id
                    }
                );
                singleSubscription = singleSubscription.data;

                if (singleSubscription.success) {
                    this.sub_profile = singleSubscription.data;
                    window.localStorage.setItem('sub_profile', JSON.stringify(this.sub_profile));
                } else {
                    if (singleSubscription.error_code == 101 || singleSubscription.error_code == 103
                        || singleSubscription.error_code == 104) {
                        this.$notify({
                            type: 'error',
                            text: singleSubscription.error_messages
                        });
                        window.localStorage.setItem('logged_in', 'false');
                        this.sessionStorage = {};
                        localStorage.removeItem("sessionStorage");
                        localStorage.clear();

                    } else {

                        // this.$notify({
                        //     text: singleSubscription.error_messages,
                        //     position: 'top center',
                        //     duration: 3000,
                        //     type: 'error'
                        // });
                        // this.$router.push('/view-profiles');
                        // return false;
                    }
                }
            },
            activeProfiles: async function (sub_profile_id) {
                let profiles = await this.apiService.getProfiles(
                    {
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    sub_profile_id: sub_profile_id
                    }
                );
                profiles = profiles.data;
                this.sub_profile_data(sub_profile_id)
                if (profiles.success) {
                    this.profiles = profiles.data;
                    // console.log(this.profiles)
                    this.sessionStorage.sub_profile_id = sub_profile_id;
                    localStorage.setItem('sessionStorage', JSON.stringify(this.sessionStorage));
                    // this.$router.push('/home/'+sub_profile_id); 
                    // window.location.href = '#/home/'+sub_profile_id;
                    }
                else {

                    if (profiles.error_code == 101 || profiles.error_code == 103
                        || profiles.error_code == 104) {
                        this.$notify({
                            position: 'top center',
                            text: profiles.error_messages,
                            duration: 3000,
                            type: 'error'
                        });
                        window.localStorage.setItem('logged_in', 'false');
                        this.sessionStorage = {};
                        localStorage.removeItem("sessionStorage");
                        localStorage.clear();
                        this.$router.push('/');
                    }
                }
            },
            searchShow() {
            let item = document.getElementById("search-box").value;
            console.log(item);

                this.$router.push('/search/'+this.search_key);

            },
            logout: async function () {

                let logoutResult = await this.apiService.Logout(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token
                    }
                );
                logoutResult = logoutResult.data;

                if (logoutResult.success) {

                    window.localStorage.setItem('logged_in', 'false');
                    this.sessionStorage = {};
                    localStorage.removeItem("sessionStorage");
                    localStorage.clear();
                    this.$notify({
                        position: 'top center',
                        text: "Logged Out Successfully",
                        duration: 3000,
                        type: 'success'
                    });
                    this.$router.push('/');

                } else {

                    this.$notify({
                        position: 'top center',
                        text: logoutResult.error_messages,
                        duration: 3000,
                        type: 'error'
                    });
                    return false;
                }
            },
            notifications_method: async function () {
                let notifications = await this.apiService.notifications(
                    {id: this.user_id, token: this.access_token, sub_profile_id: this.sub_profile_id}
                );
                notifications = notifications.data;
                if (notifications.success) {
                    this.notifications = notifications.data;
                    this.notifications_count = this.notifications.length;

                } else {
                    this.$notify({
                        position: 'top center',
                        text: notifications.error_messages,
                        duration: 3000,
                        type: 'error'
                    });
                    return false;
                }
            },
            redNotification: async function () {
                let response = await this.apiService.RedNotice({
                    id: this.user_id,
                    token: this.access_token,
                    sub_profile_id: this.sub_profile_id
                });
                response = response.data;
                this.notifications_count = 0;
                if (response.error_code == 101 || response.error_code == 103
                    || response.error_code == 104) {
                    window.localStorage.setItem('logged_in', 'false');
                    this.sessionStorage = {};
                    localStorage.removeItem("sessionStorage");
                    localStorage.clear();
                    this.$router.push('/');
                }
            }
        },
        created() {
            setInterval(async () => {
                this.isLoggedIn = await this.apiService.checkAuth();

                if (!this.isLoggedIn && this.$route.name !== 'landing') {
                    this.router.push('/');
                }
            }, 1000)
        }
    }
</script>
<style>
    .navbar-header {
        margin-right: 20px !important;
    }

    .navbar.black_bg {
      /* background: rgb(0 0 0 / 19%) !important;*/
       background: rgb(0 0 0) !important;
    }
   
  
.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    width: 30px;
    height: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}
.bg-white, .header-transparent .hamburger-inner, .header-transparent .hamburger-inner::after, .header-transparent .hamburger-inner::before, .loading {
    background-color: white;
}
.hamburger-inner::before {
    top: 10px;
}
.hamburger-inner::after {
    top: -10px;
}
.hamburger-inner::after, .hamburger-inner::before {
    content: "";
    display: block;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
}


</style>
