<template>
    <div id=page_preloader class="page-loading">
        <img src="../assets/img/page_preloader.svg" alt="Loader" title="Loader"/>
    </div>
</template>
<script>

    export default {
        name: 'PageLoader',
        props: ['isShow'],
        watch:{
            isShow:function(newValue)
            {
                console.log(newValue)
                if(newValue){
                    document.body.style.overflow="hidden"
                }else{
                    document.body.style.overflow="auto";
                }
            }
        }
    }
</script>
<style>
</style>
