<template>
    <div>
        <div :id="parentId"></div>
    </div>
</template>
<script>
    export default {
        props: ['parentId', 'opts', 'videoFetched'],
        components: {},
        watch: 
        {
            videoFetched(newValue) 
            {
                if(newValue)
                {
                    const FWDEVPlayer = window.FWDEVPlayer;
                    if (this.parentId && this.opts) 
                    {
                        const defaultOpts = 
                        {
                            parentId: this.parentId
                        };
                        const Opts = Object.assign(this.opts, defaultOpts);
                        new FWDEVPlayer(Opts);
                    }
                }
            }
        },
        name: 'Player'
    }
</script>
