<template>
    <div id="app">
        <div v-if="cascading">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="content-panel">
                                        <!-- Login Form -->
                                        <div class="login-form">
                                            <div class="login-form-inner grey-bg">
                                                <button style="font-size:28px !important; color:white !important;" type="button" class="close"
                                                        @click="$emit('update:cascading', false)">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h3 v-if="mode==0" class="login-tit">Sign In</h3>
                                                <h6 v-if="mode==0">Sign in to start watching or restarting your
                                                    membership</h6>
                                                <form v-if="mode==0" @submit.prevent="validateLoginForm" novalidate>
                                                    <div class="form-group userFormGroup">
                                                        <input type="text" class="form-control"
                                                               v-model="$v.loginEmail.$model"
                                                               :class="status($v.loginEmail)"
                                                               id="exampleInputEmail1" aria-describedby="emailHelp"
                                                               required>
                                                        <label for="exampleInputEmail1"
                                                               class="form-control-placeholder">Email
                                                            address</label>
                                                        <label class="control-label invalid"
                                                               v-if="$v.loginEmail.$invalid && $v.loginEmail.$dirty">
                                                            Please enter the valid email address.
                                                        </label>
                                                    </div>
                                                    <div class="form-group userFormGroup">
                                                        <input type="password" class="form-control"
                                                               id="exampleInputPassword1"
                                                               v-model="$v.loginPassword.$model"
                                                               :class="status($v.loginPassword)"
                                                               required>
                                                        <label for="exampleInputPassword1"
                                                               class="form-control-placeholder">Password</label>
                                                        <label class="control-label invalid"
                                                               v-if="$v.loginPassword.$invalid && $v.loginPassword.$dirty">
                                                            Please enter the password.
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn form-btn"
                                                                id="sign_in_button">Sign In
                                                        </button>
                                                    </div>
                                                </form>

                                                <h3 v-if="mode==1" class="login-tit">Sign Up</h3>
                                                <form v-if="mode==1" @submit.prevent="validateRegisterForm" novalidate>

                                                    <div class="form-group userFormGroup">
                                                        <input type="text" class="form-control"
                                                               id="registerName"
                                                               v-model="$v.registerName.$model"
                                                               :class="status($v.registerName)"
                                                               required>
                                                        <label for="registerName" class="form-control-placeholder">Your
                                                            name</label>
                                                        <label class="control-label invalid"
                                                               v-if="$v.registerName.$invalid && $v.registerName.$dirty">
                                                            Please enter the name more than 4 letters
                                                        </label>
                                                    </div>

                                                    <div class="form-group userFormGroup">
                                                        <input type="text" class="form-control"
                                                               id="registerEmail"
                                                               v-model="$v.registerEmail.$model"
                                                               :class="status($v.registerEmail)"
                                                               required>
                                                        <label for="registerEmail" class="form-control-placeholder">Your
                                                            Email</label>

                                                        <label class="control-label invalid"
                                                               v-if="$v.registerEmail.$invalid && $v.registerEmail.$dirty">
                                                            Email is required!

                                                        </label>
                                                    </div>

                                                    <div class="form-group userFormGroup">
                                                        <input type="password" class="form-control"
                                                               id="registerPassword" v-model="$v.registerPassword.$model"
                                                               :class="status($v.registerPassword)" required>

                                                        <label for="registerPassword" class="form-control-placeholder">
                                                            Password
                                                        </label>

                                                        <label class="control-label invalid"
                                                               v-if="$v.registerPassword.$invalid &&
                                                               $v.registerPassword.$dirty">
                                                            Password is required!
                                                        </label>
                                                    </div>

                                                    <div class="form-group userFormGroup">
                                                        <input type="password" class="form-control"
                                                               id="registerCPassword"
                                                               v-model="$v.registerConfirmPassword.$model"
                                                               :class="status($v.registerConfirmPassword)"
                                                               required>
                                                        <label for="registerCPassword" class="form-control-placeholder">
                                                            Confirm Password</label>

                                                        <label class="control-label invalid"
                                                               v-if="$v.registerConfirmPassword.$invalid
                                                                && $v.registerConfirmPassword.$dirty">
                                                            Please Specify a Password Confirmation!
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn form-btn" id="sign_up_button">
                                                            Sign Up
                                                        </button>
                                                    </div>
                                                </form>
                                                <h3 v-if="mode==2" class="login-tit">Forgot Password</h3>
                                                <form v-if="mode==2" @submit.prevent="validateForgotPasswordForm"
                                                      novalidate>

                                                    <div class="form-group userFormGroup">
                                                        <input type="text" class="form-control"
                                                               id="forgotEmail"
                                                               v-model="$v.forgotEmail.$model"
                                                               :class="status($v.forgotEmail)"
                                                               required>
                                                        <label for="forgotEmail"
                                                               class="form-control-placeholder">Email</label>
                                                        <label class="control-label invalid"
                                                               v-if="$v.forgotEmail.$invalid && $v.forgotEmail.$dirty">
                                                            Please enter the valid email address
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn form-btn">
                                                            Send
                                                        </button>
                                                    </div>
                                                </form>

                                                <div class="clearfix"></div>
                                                <div class="pull-left1" style="width: 100%">
                                                    <div class="form-txt-block">
                                                        <p class="form-txt"
                                                           style="font-size: 12px; margin-left: 0px !important;">

                                                            <a class="pull-right" @click.prevent="mode=!mode"
                                                               style="font-size: 12px !important;margin-left: 30px;
                                                               cursor:pointer !important;color: #fff !important;">
                                                                Sign {{mode?'In':'Up'}}</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="pull-left" v-if="mode!=2">
                                                    <div class="forgot form-txt-block" style="margin-top: -20px;">
                                                        <a @click="mode=2" style="font-size: 12px !important;
                                                               cursor:pointer !important;color: #fff !important;">Forgot
                                                            your password?</a>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- LOGIN FORM -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
    import {apiService} from '../api-service.js';
    import {email, minLength, required, sameAs} from 'vuelidate/lib/validators'

    export default {
        props: ['cascading'],
        components: {},
        name: 'SignIn',
        data() {
            return {
                text: '',
                messages: [],
                mode: 0,
                apiService: new apiService(),
                buttonText: '',
                tabs: 1,
                forgotEmail: '',
                loginEmail: '',
                loginPassword: '',
                registerEmail: '',
                registerName: '',
                registerPassword: '',
                registerConfirmPassword: '',
                loginBy: 'manual',
                deviceType: 'web',
                deviceToken: '123456',
            }
        },
        validations: {
            forgotEmail: {
                required,
                email: email
            },
            loginEmail: {
                required,
                email: email
            },
            loginPassword: {
                required,
                email: true,
                minLength: minLength(6)
            },
            registerName: {
                minLength: minLength(4),
                required
            },
            registerEmail: {
                required,
                email: email
            },
            registerPassword: {
                required,
                minLength: minLength(6)
            },
            registerConfirmPassword: {
                required,
                minLength: minLength(6),
                sameAsPassword: sameAs('registerPassword')
            }
        },
        methods: {
            status(validation) {
                return {
                    error: validation.$error,
                    dirty: validation.$dirty
                }
            },
            validateLoginForm() {
                this.$v.loginEmail.$touch();
                this.$v.loginPassword.$touch();
                if (!this.$v.loginEmail.$error && !this.$v.loginPassword.$error) 
                {
                    const sendData = {
                        email: this.loginEmail,
                        password: this.loginPassword,
                        login_by: this.loginBy,
                        device_type: this.deviceType,
                        device_token: this.deviceToken
                    };
                    this.apiService.signIn(sendData).then(data => {
                        this.$v.loginEmail.$reset();
                        this.$v.loginPassword.$reset();

                        data = data.data;
                        if (data.success) 
                        {
                            this.$emit('update:cascading', false);
                            const localSessionData = {
                                access_token: data.token,
                                user_id: data.id,
                                login_by: data.login_by,
                                user_picture: data.picture,
                                user_name: data.name,
                                user_type: data.user_type,
                                one_time_subscription: data.one_time_subscription,
                                sub_profile_id: data.sub_profile_id
                            };
                            localStorage.setItem('logged_in', 'true');
                            localStorage.setItem('sessionStorage', JSON.stringify(localSessionData));
                            console.log(localSessionData);
                            this.$notify({
                                text: data.message,
                                type:'success'
                            });
                            this.$router.push('/view-profiles');
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                position: 'top center',
                                duration: 3000,
                                type:'error'
                            });
                        }

                    })
                        .catch(()=>{
                            this.$notify({
                                type:'error',
                                text:'Something went wrong.'
                            })
                        });
                }
            },

            validateRegisterForm() {
                this.$v.registerName.$touch();
                this.$v.registerEmail.$touch();
                this.$v.registerPassword.$touch();
                this.$v.registerConfirmPassword.$touch();
                if (
                    !this.$v.registerName.$error &&
                    !this.$v.registerEmail.$error &&
                    !this.$v.registerPassword.$error &&
                    !this.$v.registerConfirmPassword.$error
                ) {
                    const sendData = 
                {
                        name: this.registerName,
                        email: this.registerEmail,
                        password: this.registerPassword,
                        login_by: this.loginBy,
                        device_type: this.deviceType,
                        device_token: this.deviceToken
                    };
                    this.apiService.signUp(sendData).then(data => {
                        this.$v.registerName.$reset();
                        this.$v.registerEmail.$reset();
                        this.$v.registerPassword.$reset();
                        this.$v.registerConfirmPassword.$reset();
                        data = data.data;
                        if (data.success) {
                            this.$emit('update:cascading', false);
                            if (data.verification_control == 1) {
                                this.$notify({
                                    text: 'Your account has been successfully Registered,' +
                                        ' Please Verify your email and Sign In',
                                    position: 'top center',
                                    duration: 3000,
                                    type:'success'
                                });

                                this.$router.push('/signin');
                            } else {
                                const localSessionData = {
                                    access_token: data.token,
                                    user_id: data.id,
                                    login_by: data.login_by,
                                    user_picture: data.picture,
                                    user_name: data.name,
                                    user_type: data.user_type,
                                    one_time_subscription: data.one_time_subscription,
                                    sub_profile_id: data.sub_profile_id
                                };
                                localStorage.setItem('logged_in', 'true');
                                localStorage.setItem('sessionStorage', JSON.stringify(localSessionData));
                                this.$notify({
                                    text: 'Your account has been successfully Registered',
                                    position: 'top center',
                                    duration: 3000,
                                    type:'success'
                                });
                                this.$router.push('/view-profiles');
                            }
                        } else if (data.error_code != 3001) {
                            this.$notify({
                                text: data.error_messages,
                                position: 'top center',
                                duration: 3000,
                                type:'error'
                            });
                            this.$router.push('/')
                        } else {
                            this.$notify({
                                text: "Your account has been successfully Registered, " +
                                    "Please Verify your email and Sign In",
                                position: 'top center',
                                duration: 3000,
                                type:'error'
                            });
                            this.mode = 0;
                            this.$router.push('/');
                        }

                    });
                }
            },
            validateForgotPasswordForm() 
            {
                this.$v.forgotEmail.$touch();
                if (!this.$v.forgotEmail.$error) {
                    this.apiService.forgotPassword({email: this.forgotEmail})
                        .then(data => 
                        {
                            data = data.data;
                            if (data.success) 
                            {
                                this.$notify({
                                    type: 'success',
                                    text: data.message
                                });
                                this.mode = 0;
                            } else {
                                this.$notify({
                                    type: 'error',
                                    text: data.error_messages
                                })
                            }
                        })
                }
            },
            myFunctionOnLoad: function() 
            {
                console.log(this.$route.query.id);
                console.log(this.$route.query.name);
                     const sendData = {
                        id: this.$route.query.id,
                        login_by: this.loginBy,
                        device_type: this.deviceType,
                        device_token: this.deviceToken
                    };
                    
                    this.apiService.userIn(sendData).then(data => 
                    {   data = data.data;
                        console.log(data);
                        if (data.success) 
                        {    
                            const localSessionData = 
                            {
                                    access_token: data.token,
                                    user_id: data.id,
                                    login_by: data.login_by,
                                    user_picture: data.picture,
                                    user_name: data.name,
                                    user_type: data.user_type,
                                    one_time_subscription: data.one_time_subscription,
                                    sub_profile_id: data.sub_profile_id
                            };
                            localStorage.setItem('logged_in', 'true');
                            localStorage.setItem('sessionStorage', JSON.stringify(localSessionData));
                            console.log(localSessionData, 'localSessionData');
                            this.$notify({
                                text: "Login successfully",
                                type:'success'
                            });
                               if(this.$route.query.card_id != null)
                               {
                                if (this.$route.query.name != null) 
                                {
                                    this.$router.push('/trailer_video/'+this.$route.query.card_id);
                                }
                                else
                                {
                                    this.$router.push('/video/'+this.$route.query.card_id);
                                }
                               }
                              else
                               {
                                console.log('profiles');
                                     this.$router.push('/view-profiles');
                               }
                        } 
                    })   
            }
        },
            created: function()
            {
                this.myFunctionOnLoad()
            }
    }
   
</script>
<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        transition: opacity .3s ease;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5) !important;
    }

    .modal-content {
        background-color: transparent !important;

        box-shadow: none !important;
        border: none !important;
    }

    .modal-wrapper {
        display: table-cell;
    }

    @media screen and (max-width: 768px) {
        .login-form-inner {
            width: auto;
        }
    }
</style>
<style>
    input.form-control {
        padding: 1rem !important;
    }

    .md-form.md-outline label {
        font-size: 1.5rem !important;
    }

    .md-form.md-outline label.active {
        background-color: rgba(0, 0, 0, 0.75) !important;
    }

    .md-form.md-outline input[type="text"]:focus:not([readonly]) {
        -webkit-box-shadow: inset 0 0 0 1px transparent !important;
        box-shadow: inset 0 0 0 1px transparent !important;;
    }

    label.control-label.invalid {
        font-size: 13px !important;
        color: #e87c03 !important;
    }

    .form-control.error.dirty {
        border-bottom: solid 4px #e87c03 !important;
    }

    .userFormGroup {
        position: relative;
        margin-bottom: 1.5rem;
    }

    .userFormGroup .form-control {
        color: white !important;
        padding: 16px 20px 0 !important;
        height: 54px;
        line-height: 50px;
        border-radius: 4px;
        background: #333 !important;
        border: none !important;
    }

    .form-control-placeholder {
        color: #dcdfe0;
        position: absolute;
        top: 0;
        padding: 13px 0 0 13px;
        transition: all 200ms;
        opacity: 0.5;
        font-size: 16px;
    }

    .userFormGroup .form-control:focus + .form-control-placeholder,
    .userFormGroup .form-control:valid + .form-control-placeholder {
        font-size: 75%;
        transform: translate3d(0, -20%, 0);
        padding-left: 20px !important;
        opacity: 1;
    }
</style>
