<template>
    <div>
        <div class="main-container">
            <div class="slide-button slide-button--right" @click="right"
                 v-if="slideContent.length>=contentContainerSize">
                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
            </div>
            <div class="slide-button slide-button--left" @click="left" v-if="infinityLoop">
                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
            </div>
            <div class="showcase" ref="showcase" v-on:mouseleave="hideShowcase"
            :style="{backgroundImage:'url('+selectedContent.default_image+')'}"
                 :class="{expand:expandShowcase}">
                <!--:style="{backgroundImage:'url('+selectedContent.default_image+')'}"-->
                <div class="video-box-outer">
                    <div class="tile-details">

                            <span v-if="selectedContent.pay_per_view_status">
                                <router-link :to="'/video/'+selectedContent.admin_video_id">
                                    <div class="hover-icon">
                                        <i class="fa fa-play" :id="eye+'_'+slideKey+'_icon'"></i>
                                    </div>
                                </router-link>
                            </span>
                        <span v-if="!selectedContent.pay_per_view_status">
                                <router-link :to="'/payment-option/'+selectedContent.admin_video_id">
                                    <div class="hover-icon">
                                        <i class="fa fa-play" :id="eye+'_'+slideKey+'_icon'"></i>
                                    </div>
                                </router-link>
                            </span>
                        <div class="tile-content">
                            <div class="video_amount"
                                 v-if="selectedContent.amount > 0 && !selectedContent.pay_per_view_status">
                                <span>PAY - {{selectedContent.currency}} {{selectedContent.amount}}</span>
                            </div>
                            <h3 class="tile-tit">{{selectedContent.title}}</h3>

                            <!---->
                            <div class="row no-margin hidden-cls">
                                <div class="pull-left">
                                    <div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' :
                                                     (selectedContent.ratings < 1), 'glyphicon-star' : (selectedContent.ratings >= 1)}">
                                            <!---->
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' :
                                                     (selectedContent.ratings < 2), 'glyphicon-star' : (selectedContent.ratings >= 2)}">
                                            <!---->
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' :
                                                     (selectedContent.ratings < 3), 'glyphicon-star' : (selectedContent.ratings >= 3)}">
                                            <!---->
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' :
                                                     (selectedContent.ratings < 4), 'glyphicon-star' : (selectedContent.ratings >= 4)}">
                                            <!---->
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' :
                                                     (selectedContent.ratings < 5), 'glyphicon-star' : (selectedContent.ratings >= 5)}">
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <p class="video-season">
                                    <span>
                                        {{selectedContent.release_date && selectedContent.release_date !="0000-00-00" ?
                                        selectedContent.release_date:'' }}
                                    </span>
                                    <span class="video-epi-count">{{selectedContent.age}}
                                                <i class="fa fa-eye"></i>&nbsp;{{selectedContent.watch_count}}
                                            </span>
                                    <span>{{selectedContent.duration}}</span>
                                </p>
                            </div>
                            <!---->
                            <div class="video-des">
                                <p class="video-des-inner">{{selectedContent.description}}</p>
                            </div>
                            <!---->
                            <div class="text-center dropBtn">
                                <a @click="showVideoDrop(selectedContent, $event)"
                                   style="cursor: pointer;width:25%;"
                                   class="arrow">
                                    <img src="../assets/img/down-arrow-red.png" class="arrow_down"
                                         style="width:25%"/>
                                </a>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
            </div>

            
            <div class="slider-wrapper" ref="wrapper">
                <transition-group class="slider" tag="div" name="list">
                    <div class="slide-container" v-for="(container,slideContainerIndex) in slideContainer"
                         :key="container"
                         :class="[slideContainerIndex%3 === 1 ? 'middle' : '']"
                         v-on:transitionend="containerTransition">
                        <!--:id="contentIndex+'_'+slideKey"-->
                        <div class="slide slideDiv box video-box-row" :class="contentIndex+'_'+slideKey"
                             v-for="(content ,contentIndex) in contentContainer[container]"
                             :key="contentIndex" ref="slides" :data-index="contentIndex"
                             v-mouse:mouseover="{position: slideContainerIndex % 3,handler:selectSlide}"
                             v-mouse:mouseleave="{position: slideContainerIndex % 3,handler:unselectSlide}"
                             :id="'slide-'+container+'-'+contentIndex" :data-container-index="slideContainerIndex"
                             :data-content-index="contentIndex" :data-video-id="content.admin_video_id"
                             style="background-size: cover; background-position:top"
                             :style="{ 'background': 'url(' + content.default_image + ')'}">
                            <div class="showDrop">
                                <a @click="showVideoDrop(selectedContent, slideKey, $event)"
                                   style="cursor: pointer;width:25%;"
                                   class="arrow">
                                    <i class="fas fa-chevron-down fa-3x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </transition-group>
            </div>

        </div>
    </div>
</template>

<script>
    import _ from 'lodash';

    import JQuery from 'jquery'

    let $ = JQuery;
    export default {
        name: 'Slider',
        props: ['slideContent', 'slideKey', 'spam_reasons', 'isShowDrop', 'selectedId'],
        directives: {
            mouse: {
                bind(el, binding) {
                    if (binding.value.position === 1) {
                        el.addEventListener(binding.arg, binding.value.handler);
                    }
                },
                update(el, binding) {
                    if (binding.value.position === 1) {
                        el.addEventListener(binding.arg, binding.value.handler);
                    } else {
                        el.removeEventListener(binding.arg, binding.value.handler);
                    }
                },
            },
        },
        data() {
            return {
                bodyMarginLeft: document.body.getBoundingClientRect().left,
                expandShowcase: false,
                timeoutID: '',
                ratio: 1.3,
                selectedSlidePos: {},
                isSliding: false,
                slideContainer: [-1, 0, 1],
                contentContainer: [],
                contentContainerSize: 6,
                testData: {},
                selectedContent: {},
                contentData:
                    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                infinityLoop: false,
                eye: '',
                videoDropContent: {},
                lastindex: 1
            };
        },

        methods: {
            left: _.debounce(function slideLeft() {
                if (!this.expandShowcase) {
                    this.isSliding = true;
                    // Infinity loop
                    if (this.slideContainer[0] === 0) {
                        const page = this.contentContainer.length - 1;
                        this.slideContainer.unshift(page);
                    } else {
                        this.slideContainer.unshift(this.slideContainer[0] - 1);
                    }
                    this.slideContainer.pop();
                    this.setColor(this.slideContainer[0]);
                }
            }, 300),
            right: _.debounce(function slideRight() {
                if (!this.expandShowcase && _.last(this.slideContainer) < this.contentContainer.length) {
                    this.isSliding = true;
                    this.infinityLoop = true;
                    // Infinity loop
                    if (_.last(this.slideContainer) === this.contentContainer.length - 1) {
                        const page = (this.contentContainer.length - _.last(this.slideContainer)) - 1;
                        this.slideContainer.push(page);
                    } else {
                        this.slideContainer.push(_.last(this.slideContainer) + 1);
                    }
                    this.slideContainer.shift();
                    this.setColor(_.last(this.slideContainer));
                }
            }, 300),
            selectSlide(event) {
                this.timeoutID = setTimeout(() => {
                    if (!this.isSliding && !this.expandShowcase) {
                        let selectedSlide = event.target;
                        if (!$(selectedSlide).hasClass('slideDiv')) {
                            selectedSlide = $(selectedSlide).parentsUntil('.slideDiv').parent()[0]
                        }
                        this.selectedSlidePos = this.slideIsFirstOrLast(selectedSlide);
                        if (!this.selectedSlidePos) {
                            this.selectedSlidePos = {isFirst: false, isLast: false}
                        }
                        console.log(this.selectedSlidePos);
                        const transitionDistance = this.transitionDistance(selectedSlide);
                        const selectedContainer = this.containerIndex(selectedSlide);
                        const selectedContent = this.slideContent.filter(
                            (item) => item.admin_video_id == selectedSlide.dataset.videoId
                        );
                        this.selectedContent = selectedContent[0];
                        const videoDropElem = Array.from(document.querySelectorAll('.video-drop')).filter(s =>
                            window.getComputedStyle(s).getPropertyValue('display') != 'none'
                        );
                        if (videoDropElem.length >= 1) {
                            console.log(selectedSlide);
                            selectedSlide.classList.add('showVideoDropBtn');
                        } else {

                            this.popShowcase(selectedSlide);
                            const animationCallback = (currentSlide) => {
                                if (currentSlide !== selectedSlide) {
                                    const currentContainer = this.containerIndex(currentSlide);
                                    let direction = 0;
                                    if (this.selectedSlidePos.isFirst) {
                                        if (currentContainer >= 1) {
                                            direction = 1;
                                        }
                                    } else if (this.selectedSlidePos.isLast) {
                                        if (currentContainer <= 1) {
                                            direction = -1;
                                        }
                                    } else if (currentContainer === selectedContainer) {
                                        direction =
                                            this.contentIndex(currentSlide) < this.contentIndex(selectedSlide) ? 1 : -1;
                                    } else {
                                        direction = currentContainer < 1 ? 1 : -1;
                                    }
                                    this.setStyleProperty(currentSlide, {transform: `translateX(${transitionDistance * direction}px)`});
                                }
                            };
                            this.animateSlideTransition(animationCallback);
                        }
                    }
                }, 300);
            },
            unselectSlide() {
                const activeElem = document.querySelector('.showVideoDropBtn');
                if (activeElem) {
                    activeElem.classList.remove('showVideoDropBtn');
                }
                clearTimeout(this.timeoutID);
            },
            containerIndex(element) {
                return element.dataset.containerIndex * 1;
            },
            contentIndex(element) {
                return element.dataset.contentIndex * 1;
            },
            slideIsFirstOrLast(element) {
                return {
                    isFirst: this.slideIsFirst(element),
                    isLast: this.slideIsLast(element),
                };
            },
            slideIsFirst(element) {
                return this.contentIndex(element) === 0;
            },
            slideIsLast(element) {
                const containerIndex = this.containerIndex(element);
                if (this.contentContainer[containerIndex]) {
                    return this.contentIndex(element) === this.contentContainer[containerIndex].length - 1;
                } else {
                    return false;
                }
            },
            transitionDistance(element) {
                if (this.selectedSlidePos.isFirst || this.selectedSlidePos.isLast) {
                    return element.clientWidth * (this.ratio - 1);
                }
                return element.clientWidth * ((this.ratio - 1) / -2);
            },
            animateSlideTransition(callback) {
                this.$refs.slides.forEach((slide) => {
                    callback(slide);
                });
            },
            containerTransition() {
                // Triggered by 'transitionend' event from slider container
                this.isSliding = false;
            },
            popShowcase(selectedSlide) {
                const selectedRect = selectedSlide.getBoundingClientRect();
                const showcaseWidth = selectedRect.left - this.bodyMarginLeft;
                const showcaseStyle = {
                    left: `${showcaseWidth}px`,
                    width: `${selectedRect.width}px`,
                    height: `${selectedRect.height}px`,
                    'background': `${selectedSlide.style.background}`,
                    'background-size': "cover",
                };
                let transformOrigin = 'center center';
                if (this.selectedSlidePos.isFirst) {
                    transformOrigin = 'center left';
                } else if (this.selectedSlidePos.isLast) {
                    transformOrigin = 'center right';
                }
                Object.assign(showcaseStyle, {'transform-origin': transformOrigin});
                this.setStyleProperty(this.$refs.showcase, showcaseStyle);
                this.expandShowcase = true;
            },
            hideShowcase(event, param) {
                let elem;
                if (event.currentTarget) {
                    if (event.currentTarget.classList.contains('expand')) {
                        elem = event.currentTarget;
                    }
                } else if (param) {
                    if (param.classList.contains('expand')) {

                        elem = param;
                    }
                }
                if (elem) {
                    if (elem.classList.contains('expand')) {
                        this.expandShowcase = false;
                        this.animateSlideTransition((currentSlide) => {
                            this.setStyleProperty(currentSlide, {transform: ''});
                        });
                    }
                }
            },
            resetContentContainer() {
                this.setContentContainer();
                this.updateContentContainer();
            },
            setContentContainer() {
                if (window.matchMedia('(max-width: 480px)').matches) {
                    this.contentContainerSize = 2;
                } else if (window.matchMedia('(max-width: 768px)').matches) {
                    this.contentContainerSize = 3;
                } else if (window.matchMedia('(max-width:1024px)').matches) {
                    this.contentContainerSize = 4;
                } else {
                    this.contentContainerSize = 6;
                }
                this.contentContainer = _.chunk(this.contentData, this.contentContainerSize);
            },
            updateContentContainer() {
                this.slideContainer = [-1, 0, 1];
                this.setColor(this.slideContainer[0]);
                this.setColor(this.slideContainer[1]);
                this.setColor(this.slideContainer[2]);
            },
            setColor(containerIndex, callback) {
                // Helper function for the demo
                if (containerIndex > -1 && containerIndex < this.contentContainer.length) {
                    this.$nextTick(() => {
                        if (this.contentContainer[containerIndex]) {
                            this.contentContainer[containerIndex].forEach((content, contentIndex) => {
                                const slideID = `#slide-${containerIndex}-${contentIndex}`;
                                const slide = this.$el.querySelector(slideID);
                                const offset = contentIndex * 7;
                                const hue = (containerIndex * 20) % 360;
                                // this.setStyleProperty(slide, {'background': `urL(../assets/img/bg-1.jpg) hsl(${hue},${40 + offset}%,${50 + offset}%)`});
                                this.setStyleProperty(slide, {'background': `urL(${content.default_image}) hsl(${hue},${40 + offset}%,${50 + offset}%)`});
                            });
                        }
                        if (callback) {
                            callback();
                        }
                    });
                }
            },
            setStyleProperty(element, styles) {
                Object.assign(element.style, styles);
            },

            countRestLength(ary) {
                return ary.length % 24;
            },
            recursiveFunc(ary) {
                const value = this.contentData[(ary.length) % this.contentContainerSize];
                if (this.contentData.length <= this.contentContainerSize) {
                    return this.contentData;
                } else {

                    if (this.countRestLength(ary) > 0) {
                        ary.push(value);
                        this.recursiveFunc(ary);
                    } else {
                        this.contentData = ary;
                    }
                }

            },
            showVideoDrop(selectedContent) {
                const activeElem = document.querySelector('.white-bordered');
                if (activeElem) {
                    activeElem.classList.remove('white-bordered');
                }
                const selectedElem = document.querySelector('[data-video-id="' + selectedContent.admin_video_id + '"]');
                selectedElem.classList.add('white-bordered');
                this.$emit('showVideoDrop', {selectedContent: selectedContent, key: this.slideKey});
                this.hideShowcase('', document.querySelector('.showcase.expand'))
            }
        },

        watch: {
            contentData() {
                this.resetContentContainer();
            },
            isShowDrop(newValue) {
                console.log(newValue)
            }
        },

        mounted() {
            this.contentData = this.slideContent;
            this.$el.style.setProperty('--ratio', `${this.ratio}`);
            this.slideContainer.forEach((container) =>
             {
                this.setColor(container);
            });
            this.recursiveFunc(this.contentData);
            window.addEventListener('resize', _.debounce(this.resetContentContainer, 150));
        },
        destroyed() {
            window.removeEventListener('resize', _.debounce(this.resetContentContainer, 150));
        },
        created() {
            this.setContentContainer();
        },
    };
</script>

<style lang="scss" scoped>
    $button-width: 5vw;
    $slider-container-width: 90vw;
    $slider-width: $slider-container-width *3;
    /* Medium Devices, Desktops */
    @mixin md-screen {
        @media only screen and (max-width: 1024px) {
            @content;
            .arrow_down {
                width: 15% !important;
            }
        }
    }

    /* Small Devices, Tablets */
    @mixin sm-screen {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    /* Extra small devices */
    @mixin xs-screen {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }

    @function slide-width($numOfSlides) {
        @return $slider-container-width / $numOfSlides;
    }

    @function slide-height($width) {
        @return $width * 1.5;
    }

    .main-container {
        --duration: 0.4s;
        --cubic-bezier: cubic-bezier(0.5, 0, 0.1, 1);
        position: relative;
    }

    .main-container * {
        box-sizing: border-box;
    }

    /* Slider buttoms */
    .slide-button {
        width: $button-width;
        height: slide-height(slide-width(6));
        background-color: black;
        opacity: 0.6;
        position: absolute;
        z-index: 10;
    }

    .slide-button > .fa {
        color: grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slide-button.slide-button--left {
        left: 0;
    }

    .slide-button.slide-button--right {
        right: 0;
    }

    /* Showcase */
    .showcase {
        position: absolute;
        visibility: hidden;
        transition: transform var(--duration) var(--cubic-bezier), visibility 0s calc(var(--duration));
        will-change: transform, visibility;
        z-index: 10;
    }

    .showcase.expand {
        transform: scale(var(--ratio), var(--ratio));
        visibility: visible;
        transition: transform var(--duration) var(--cubic-bezier);
    }

    /* Slider */
    .slider-wrapper {
        overflow: hidden;
    }

    .slider {
        display: flex;
        width: $slider-width;
        transform: translateX(-($slider-container-width - $button-width));
    }

    .slide-container {
        display: flex;
        flex: 0 0 $slider-container-width;
        will-change: transform;
    }

    .slide-container.middle {
        /*@media screen and (max-width: 767px){*/
        /*height: 130px;*/
        /*}*/
        /*@media screen and (min-width: 768px){*/
        /*height: 150px;*/
        /*}*/
        z-index: 1;
    }

    .slide {
        width: slide-width(6);
        height: slide-height(slide-width(6));
        transition: transform var(--duration) var(--cubic-bezier);
        will-change: transform;
        // box-sizing: border-box;
    }

    /* Slider Transition*/
    .list-enter,
    .list-leave-to {
        opacity: 0;
    }

    .list-leave-active {
        display: none;
        position: absolute;
    }

    .list-move {
        transition: all 1s;
    }

    /* Responsilbe Web */
    @include md-screen {
        .slide {
            width: slide-width(4);
            height: slide-height(slide-width(4));
        }
        .slide-button {
            height: slide-height(slide-width(4));
        }
    }

    @include sm-screen {

        .slide {
            width: slide-width(3);
            height: slide-height(slide-width(3));
        }
        .slide-button {
            height: slide-height(slide-width(3));
        }
    }

    @include xs-screen {
        .slide {
            width: slide-width(2);
            height: slide-height(slide-width(2));
        }
        .slide-button {
            height: slide-height(slide-width(2));
        }
    }

    .tile-details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        font-size: 10px;
        opacity: 1 !important;
    }

    .tile-content {
        position: absolute;
        /* padding: 10px 10px 5px; */
        padding: 7px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .white-bordered {
        border: solid 3px;
    }

    .white-bordered:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -8%;
        z-index: 100;
    }

    .active_img:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -5%;
        z-index: 100;
    }

    .tile-img {
        max-height: 420px;
        object-fit: fill;
        min-height: 350px;
    }

    .tile-media {
        /*border: 2px solid #141414;*/
        height: auto !important;
        text-align: center;
    }

    .tile {
        height: auto !important;
    }

    .slick-initialized .slick-slide {
        display: inline-block !important;
        height: 100% !important;
        padding: 0 10px;
    }

    .tab-overlay {
        background: rgba(0, 0, 0, .90);
    }

    .box-head h3 {

        font-size: 18px;
        color: #e5e5e5;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;

        margin: 0;
    }

    .video-head a {
        font-size: 13px;
        color: #167ac6;
    }


    .slide-image {
        width: 100%;
        height: 110px !important;
        overflow: hidden;
        position: relative;
    }

    .slide-image img {
        width: 100%;
        min-height: 100%;
    }


    .arrow_down {
        height: 9px;
        width: 29px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }


    /* Medium Devices, Desktops */
    @media only screen and (max-width: 992px) {
        .slide-image {
            width: 100%;
            height: 90px;
            overflow: hidden;
        }
    }


    /* Custom, iPhone Retina */
    @media only screen and (max-width: 320px) {
        .slide-image {
            width: 100%;
            height: 123px;
            overflow: hidden;
        }
    }


    .active_img {
        border: 4px solid #fff !important;
    }

    .active_img:after {
        width: 0;
        height: 0;
        border-top: solid 10px #fff;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        content: '';
        position: absolute;
        left: 40%;
        bottom: -5%;
        z-index: 100;
    }

    .tile-media {
        border: 4px solid #141414;
        height: 141px;
    }

    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;

    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }

    #load_more_details {
        margin: 100px auto 0 auto;
        width: 150px;
        height: 40px;
        font-size: 20px;
        display: block;
    }

    #dataLoader {
        margin-top: 100px !important;
    }

    .hover-icon {
        top: 30% !important;
    }
</style>
<style>

    .video-box-outer {
        margin-top: 30px;
    }

    .main-container {
        font-size: 2.5rem !important;
    }

    @media screen and (min-width: 768px) {
        .slide-button .fa {
            font-size: 40px !important;
        }

    }

    @media screen and (max-width: 767px) {
        .slide-button .fa {
            font-size: 25px !important;
        }


    }

    /*.slide-box {
        width: 16% !important;
    }*/

    .slide-image img {
        width: 100%;
    }


    .post {
        /*margin-bottom: 20px;*/
        -webkit-animation: somename 0.7s;
        -moz-animation: somename 0.7s;
        animation: somename 0.7s;
    }

    /* Required */

    .hidden {
        opacity: 0;
        display: block !important;
    }

    .visible {
        opacity: 1;
    }

    .height-250 {
        max-height: 300px;
    }

    .box-head {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .showDrop {
        left: 43%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
    }

    .showVideoDropBtn .showDrop {
        display: inline-block !important;
    }
    .slide.slideDiv.box.video-box-row {
        background-size: cover !important;
        background-position: top !important;
        margin-left: 2px;
        margin-right: 2px;
    }

</style>
