<template>
    <div>
        <div class="tab-content">
            <!-- OVERVIEW SECTION  -->
            <div role="tabpanel" class="tab-pane active" :id="index+'_'+key+'_overview'">
                <div class="overview tab-section relative">
                    <div class="close-tab">
                        <a style="cursor: pointer;" @click="closeDiv(index,key)" class="close-btn">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <!---->
                    <div class="tab-section-content row no-margin">
                        <!---->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 no-pad overview-details">
                            <!---->
                        </div>
                        <!---->
                        <!---->
                        <div class="modal fade" :id="'overviewmodal_'+index+'_'+key" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1">
                            <div class="modal-dialog" style="margin-top: 150px !important;">
                                <!-- Modal content-->
                                <div class="modal-content" style="background-color: #333;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;
                                        </button>
                                        <h4 class="modal-title bold">Report This Video</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form @submit.prevent="spamVideo(value.admin_video_id, index, key)">
                                            <div class="radio radio-danger"
                                                 v-for="(spam_reason, spamKey) in spam_reasons"
                                                 :key="spamKey">
                                                <input type="radio" name="reason"
                                                       :id="'reason_'+value.admin_video_id+'_'+index+'_'+spamKey"
                                                       :value="spam_reason.value">
                                                <label :for="'reason_'+value.admin_video_id+'_'+index+'_'+spamKey">
                                                    {{spam_reason.value}}
                                                </label>
                                            </div>
                                            <!---->
                                            <p class="small bold text-center">If you report this video, you
                                                won't see again the same video
                                                in anywhere in your account except "Spam Videos".
                                                If you want to continue to report this video as same. Click
                                                continue and proceed the same.
                                            </p>
                                            <div class="text-right">
                                                <button type="submit" class="payment-submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 no-pad">
                            <div class="linear-outer">
                                <!---->
                                <div class="linear">
                                </div>
                                <div class="rotate-img-outer">
                                    <div class="rotate-img highlight-img bg-img"
                                         :style="{ 'background-image': 'url(' + value.default_image + ')'}"></div>
                                    <!-- <div class="rotate-img highlight-img bg-img" style="background-image: url({{value.video_gif_image}});"></div> -->
                                </div>
                                <!---->
                                <div class="play-icon-outer">
                                    <!-- <a ui-sref="single_video({id : value.admin_video_id})" class="play-icon"><i class="fa fa-play"></i></a> -->
                                    <!---->
                                    <span v-if="value.pay_per_view_status">
                                <!-- <a href="/video/{{value.admin_video_id}}" class="play-icon"><i class="fa fa-play"></i></a> -->
                                <router-link :to="'/video/'+value.admin_video_id" class="play-icon">
                                    <i class="fa fa-play"></i>
                                </router-link>
                            </span>
                                    <span v-if="!value.pay_per_view_status">
                                <router-link :to="'/payment-option/'+value.admin_video_id"
                                             class="play-icon">
                                    <i class="fa fa-play"></i>
                                </router-link>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="home-new-deatils">
                        <div class="overview-details" style="background-color: unset;">
                            <h3 class="content-tit">{{value.title}}</h3>
                            <div class="row no-margin  hidden-xs">
                                <div class="pull-left">
                                    <div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">
                                        </div>
                                        <!---->
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">
                                        </div>
                                        <!---->
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">
                                        </div>
                                        <!---->
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">
                                        </div>
                                        <!---->
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <p class="content-txt bold seasons">
                            <span class="green-clr">
                                {{value.release_date && value.release_date !="0000-00-00" ?
                                value.release_date:'' }}
                            </span>
                                    <span class="epi-count">{{value.age}} / <i
                                            class="fa fa-eye"></i>&nbsp;{{value.watch_count}}</span>
                                    <span>{{value.duration}}</span>
                                </p>
                            </div>
                            <!---->
                            <div class="">
                                <div class="pull-left">
                                    <a class="white-icon">
                                        <i class="fa fa-thumbs-up"></i>
                                        <span :id="'like_count_'+index+'_'+key">
                                    {{value.like_count}}
                                </span>
                                    </a>
                                    <a class="white-icon">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span :id="'dis_like_count_'+index+'_'+key">
                                    {{value.dis_like_count}}
                                </span>
                                    </a>
                                </div>
                                <div class="pull-left">
                                    <div class="display_amount"
                                         v-if="value.amount > 0 && !value.pay_per_view_status"
                                         style="margin-left: 5px;">
                                        <!-- <span v-if="recent_video.pay_per_view_status">PAID</span> -->
                                        <span>PAY - ${{value.amount}}</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!---->
                            <div>
                                <p class="content-txt overview-des">{{value.description}}</p>
                                <!---->
                                <!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
                            </div>
                            <!---->
                            <div :id="'my-list-txt_'+index+'_'+key" class="pull-left">
                                <a @click="addWishlist(value.admin_video_id, index, key)"
                                   class="bold" id=""
                                   v-if="!value.wishlist_status" style="cursor: pointer;">
                                    <button class="my-list">
                                        <i class="fa fa-plus my-list-icon"></i>
                                        <span class="my-list-txt">My List</span>
                                    </button>
                                </a>
                                <a @click="removeWishlist(value.wishlist_status, value.admin_video_id,index, key)"
                                   class="bold" v-if="value.wishlist_status" style="cursor: pointer;">
                                    <button class="my-list">
                                        <i class="fa fa-check my-list-icon"></i>
                                        <span class="my-list-txt">My List</span>
                                    </button>
                                </a>
                            </div>
                            <div class="banner-icon-sec hidden-xs">
                                <a :id="'like_'+index+'_'+key" style="cursor: pointer;"
                                   v-if="value.is_liked == 1 || value.is_liked == 0"
                                   @click="likeVideo(value.admin_video_id, index, key)">
                                    <button class="banner-icon">
                                        <i class="fa fa-thumbs-up"></i>
                                    </button>
                                </a>
                                <a :id="'dis_like_'+index+'_'+key" style="cursor: pointer;"
                                   v-if="value.is_liked == -1 || value.is_liked == 0"
                                   @click="dislikeVideo(value.admin_video_id, index, key)">
                                    <button class="banner-icon">
                                        <i class="fa fa-thumbs-down"></i>
                                    </button>
                                </a>
                                <a style="cursor: pointer;" data-toggle="modal"
                                   :data-target="'#overviewmodal_'+index+'_'+key"
                                   title="Report as Spam">
                                    <button class="banner-icon" @click="modalShow(index, key)"
                                            data-toggle="modal">
                                        <i class="fa fa-exclamation "></i>
                                    </button>
                                </a>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>
            <!-- OVERVIEW SECTION END -->
            <!---->
            <!-- EPISODES-SECTION
            ======================================== -->
            <div role="tabpanel" class="tab-pane" :id="index+'_'+key+'_episodes'"
                 v-if="value.is_genre">
                <div class="episodes-section tab-section tab-bg bg-img"
                     :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                    <div class="tab-overlay">
                        <!---->
                        <div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
                            <h3 class="content-tit">{{value.sub_category_name}}</h3>
                            <form class="season-select">
                                <div class="form-group styled-select black">
                                    <select id="exampleSelect1" v-model="genres_name"
                                            @change="getSeasons(genres_name, index,keyindex,'_sessions',
                                    '_loader_seasons', value.genre_id)">
                                        <option value="">Select Seasons</option>
                                        <option :value="genrename.genre_id"
                                                v-for="(genrename, genreKey) in value.genre_names"
                                                :key="genreKey">
                                            {{genrename.genre_name}}
                                        </option>
                                    </select>
                                </div>
                            </form>
                            <!---->
                            <div class="episodes-list">
                                <!---->
                                <div :id="index+keyindex+'_loader_seasons'"
                                     style="margin-top: 10px;text-align: center;display: none">
                                    <img src="../assets/img/ellipsis.svg" style="width: 40px;">
                                </div>
                                <!---->
                                <div :id="index+keyindex+'_sessions'" class="row">
                                    <!---->
                                    <VueSlickCarousel ref="slick" v-bind="slideConfig"
                                                      class="carousel slider multiple-items">
                                        <div v-for="(genre_list, genreKey) in value.first_part"
                                             :key="genreKey">
                                            <!---->
                                            <div class="episode-list-box">
                                                <!---->
                                                <div class="episode-img bg-img"
                                                     :style="{ 'background-image': 'url(' + genre_list.default_image + ')'}">
                                                     <!--:style="{ 'background-image': 'url(' + genre_list.default_image + ')'}">-->
                                                    <div class="episode-img-overlay">
                                                        <div class="episode-img-inner">
                                                    <span class="epi-count">{{genre_list.age}} /
                                                        <i class="fa fa-eye"></i>&nbsp;{{genre_list.watch_count}}
                                                    </span>
                                                        </div>
                                                        <!---->
                                                        <div class="epi-play-icon-outer">
                                                            <!---->
                                                            <span v-if="genre_list.pay_per_view_status">
                                                    <!-- <a href="/video/{{genre_list.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a> -->
                                                        <router-link
                                                                :to="'/video/'+genre_list.admin_video_id"
                                                                class="epi-play-icon">
                                                            <i class="fa fa-play"></i>
                                                        </router-link>
                                                    </span>
                                                            <span v-if="!genre_list.pay_per_view_status">
                                                        <router-link
                                                                :to="'/payment-option/'+genre_list.admin_video_id"
                                                                class="epi-play-icon">
                                                            <i class="fa fa-play"></i>
                                                        </router-link>
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!---->
                                                <div class="episode-list-content">
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-12">
                                                            <h4 class="epi-tit gray-color1 txt-overflow">
                                                                {{genre_list.title}}</h4>
                                                        </div>
                                                        <!---->
                                                        <div class="col-md-4 text-right hidden-sm">
                                                            <p class="bold gray-color1 epi-tit txt-overflow">
                                                                {{genre_list.duration}}</p>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                    <div class="">
                                                        <p class=" gray-color1 overview-des more-link mt-0">
                                                            {{genre_list.description}}</p>
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                    </VueSlickCarousel>

                                    <!---->
                                </div>
                                <!---->
                                <!---->
                            </div>
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
            <!-- EPISODES-SECTION END-->
            <!---->
            <!-- TRAILERS SECTION -->
            <div role="tabpanel" class="tab-pane" :id="index+'_'+key+'_trailers'"
                 v-if="value.is_genre || value.trailer_video">
                <div class="trailers-section tab-section tab-bg bg-img"
                     :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                    <div class="tab-overlay">
                        <!---->
                        <div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
                            <h3 class="content-tit">{{value.sub_category_name}}</h3>
                            <!---->
                            <div class="trailers-list row">
                                <!---->
                                <!-- episode list box -->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top"
                                     v-for="(trailer, trailerKey) in value.genres" :key="trailerKey">
                                    <div class="episode-list-box">
                                        <!---->
                                        <div class="episode-img bg-img"
                                             :style="{ 'background-image': 'url(' + trailer.genre_image + ')'}">
                                            <div class="episode-img-overlay">
                                                <!---->
                                                <div class="epi-play-icon-outer">
                                                    <router-link :to="'/genre_video/'+trailer.genre_id"
                                                                 class="epi-play-icon">
                                                        <i class="fa fa-play"></i>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="episode-list-content">
                                            <div class="row no-margin">
                                                <div class="">
                                                    <h4 class="epi-tit gray-color1">
                                                        {{trailer.genre_name}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                                <!---->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 top"
                                     v-if="value.trailer_video">
                                    <div class="episode-list-box">
                                        <!---->
                                        <div class="episode-img bg-img"
                                             :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                                            <div class="episode-img-overlay">
                                                <!---->
                                                <div class="epi-play-icon-outer">
                                                    <!-- <a href="/trailer/{{ value.admin_video_id}}" class="epi-play-icon">
                                                    <i class="fa fa-play"></i>
                                                    </a> -->
                                                    <router-link :to="'/trailer_video/'+value.admin_video_id"
                                                                 class="epi-play-icon">
                                                        <i class="fa fa-play"></i>
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="episode-list-content">
                                            <div class="row no-margin">
                                                <div class="">
                                                    <h4 class="epi-tit gray-color1">{{value.title}}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TRAILERS SECTION END -->
            <!---->
            <!-- MORE LIKE SECTION  -->
            <div role="tabpanel" class="tab-pane" :id="index+'_'+key+'_more-like'">
                <div class="morelike-section tab-section tab-bg bg-img"
                     :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                    <div class="tab-overlay">
                        <!---->
                        <div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
                            <h3 class="content-tit">{{value.sub_category_name}}</h3>
                            <!---->
                            <div class="morelike-list row">
                                <!---->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"
                                     v-for="(sub_video, subVideoKey) in value.sub_videos"
                                     :key="subVideoKey">
                                    <div class="episode-list-box">
                                        <!---->
                                        <div class="episode-img bg-img"
                                             :style="{ 'background-image': 'url(' + sub_video.default_image + ')'}">
                                            <div class="episode-img-overlay">
                                                <div class="episode-img-inner">
                                                    <p class="new-epi">{{sub_video.title}}</p>
                                                </div>
                                                <!---->
                                                <div class="epi-play-icon-outer">
                                                    <!-- <a ui-sref="single_video({id : sub_video.admin_video_id})" class="epi-play-icon">
                                                    <i class="fa fa-play"></i>
                                                    </a> -->
                                                    <!---->
                                                    <span v-if="sub_video.pay_per_view_status">
                                                <!-- <a href="/video/{{sub_video.admin_video_id}}" class="epi-play-icon"><i class="fa fa-play"></i></a> -->
                                                <router-link
                                                        :to="'/video/'+sub_video.admin_video_id"
                                                        class="epi-play-icon">
                                                    <i class="fa fa-play"></i>
                                                </router-link>
                                            </span>
                                                    <span v-if="!sub_video.pay_per_view_status">
                                                <router-link
                                                        :to="'/payment-option/'+sub_video.admin_video_id"
                                                        class="epi-play-icon">
                                                    <i class="fa fa-play"></i>
                                                </router-link>
                                            </span>
                                                </div>
                                                <!---->
                                                <div class="duration_more">
                                                    <span>{{sub_video.duration}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                        <div class="episode-list-content">
                                            <div class="row no-margin">
                                                <div class="pull-left">
                                                    <div>
                                                        <div class="rating-symbol glyphicon"
                                                             :class="{'glyphicon-star-empty' : (sub_video.ratings < 1), 'glyphicon-star' : (sub_video.ratings >= 1)}">
                                                        </div>
                                                        <!---->
                                                        <div class="rating-symbol glyphicon"
                                                             :class="{'glyphicon-star-empty' : (sub_video.ratings < 2), 'glyphicon-star' : (sub_video.ratings >= 2)}">
                                                        </div>
                                                        <!---->
                                                        <div class="rating-symbol glyphicon"
                                                             :class="{'glyphicon-star-empty' : (sub_video.ratings < 3), 'glyphicon-star' : (sub_video.ratings >= 3)}">
                                                        </div>
                                                        <!---->
                                                        <div class="rating-symbol glyphicon"
                                                             :class="{'glyphicon-star-empty' : (sub_video.ratings < 4), 'glyphicon-star' : (sub_video.ratings >= 4)}">
                                                        </div>
                                                        <!---->
                                                        <div class="rating-symbol glyphicon"
                                                             :class="{'glyphicon-star-empty' : (sub_video.ratings < 5), 'glyphicon-star' : (sub_video.ratings >= 5)}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="content-txt bold seasons">
                                            <span class="green-clr hidden-sm">
                                                {{sub_video.release_date &&
                                                sub_video.release_date !="0000-00-00" ?
                                                sub_video.release_date:'' }}
                                            </span>
                                                    <span class="epi-count hidden-sm hidden-md">{{sub_video.age}} / <i
                                                            class="fa fa-eye"></i>&nbsp;{{sub_video.watch_count}}</span>
                                                    <!-- <span>{{sub_video.duration}}</span> -->
                                                </p>
                                            </div>
                                            <!---->
                                            <div>
                                                <p class="content-txt overview-des more-link">
                                                    {{sub_video.description}}</p>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MORE LIKE SECTION END -->
            <!---->
            <!-- DETAILS-SECTION -->
            <div role="tabpanel" class="tab-pane" :id="index+'_'+key+'_details'">
                <div class="details-section tab-section tab-bg bg-img"
                     :style="{ 'background-image': 'url(' + value.default_image + ')'}">
                    <div class="tab-overlay">
                        <div class="details-section-inner tab-section-content tab-sec-inner contain-width details_section_tab">
                            <h3 class="content-tit">{{value.title}}</h3>
                            <div class="row col-sm-12 col-sm-12 col-lg-12 col-md-12">
                                <div class="detailsItem detailsMedia col-md-2">
                                    <h4>Directors</h4>
                                    <ul class="list-unstyled">
                                        <li v-for="(director, directorKey) in value.directors"
                                            :key="directorKey" class="listLabel">
                                           <!--  <router-link :to="'/director/'+director.id">{{director.name}}
                                            </router-link> -->
                                            <a>{{director.name}}</a>
                                        </li>
                                    </ul>
                                    <h4>Writers</h4>
                                    <ul class="list-unstyled">
                                        <li v-for="(writer, writerKey) in value.writers" :key="writerKey"
                                            class="listLabel">
                                           <!--  <router-link :to="'/writer/'+writer.id">{{writer.name}}
                                            </router-link> -->
                                             <a>{{writer.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailsItem detailsMedia col-md-2">
                                    <h4>Actors</h4>
                                    <ul class="list-unstyled">
                                        <li v-for="(actor, actorKey) in value.actors" :key="actorKey"
                                            class="listLabel">
                                           <!--  <router-link :to="'/actor/'+actor.id">{{actor.name}}
                                            </router-link> -->
                                            <a>{{ actor.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailsItem detailsMedia col-md-2">
                                    <h4>Category</h4>
                                    <ul class="list-unstyled">
                                        <li class="listLabel">
                                            <a>{{value.sub_category_name}}</a>
                                        </li>
                                    </ul>
                                    <div class="clear-fix"></div>
                                    <h4>Publish Date</h4>
                                    <ul class="list-unstyled">
                                        <li class="listLabel">
                                            <p class="content-txt bold seasons">
                                        <span class="green-clr hidden-sm">
                                            {{value.release_date  && value.release_date !="0000-00-00"
                                            ? value.release_date:''}}
                                        </span>
                                            </p>
                                        </li>
                                    </ul>
                                    <h4>Duration</h4>
                                    <ul class="list-unstyled">
                                        <li class="listLabel">
                                            <p class="content-txt bold seasons">
                                                <span>{{value.duration}}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailsItem detailsMedia col-md-2">
                                    <h4>Ratings</h4>
                                    <div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 1), 'glyphicon-star' : (value.ratings >= 1)}">
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 2), 'glyphicon-star' : (value.ratings >= 2)}">
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 3), 'glyphicon-star' : (value.ratings >= 3)}">
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 4), 'glyphicon-star' : (value.ratings >= 4)}">
                                        </div>
                                        <div class="rating-symbol glyphicon"
                                             :class="{'glyphicon-star-empty' : (value.ratings < 5), 'glyphicon-star' : (value.ratings >= 5)}">
                                        </div>
                                    </div>
                                    <h4>Age</h4>
                                    <ul class="list-unstyled">
                                        <li class="listLabel">
                                            <p class="content-txt bold seasons">
                                                Recommended for ages {{value.age}} and up
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!---->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DETAILS-SECTION END -->
        </div>
        <!---->
        <div class="drop-tab hidden-xs">
            <!---->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="cursor:pointer" @click="dynamicContent(index, key,'overview')"
                       aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
                </li>
                <!---->
                <li role="presentation" v-if="value.is_genre">
                    <a style="cursor:pointer" @click="dynamicContent(index,key,'episodes')"
                       aria-controls="episodes"
                       role="tab" data-toggle="tab">Episodes</a>
                </li>
                <!---->
                <li role="presentation" v-if="value.is_genre || value.trailer_video">
                    <a style="cursor:pointer" @click="dynamicContent(index,key,'trailers')"
                       aria-controls="trailers"
                       role="tab" data-toggle="tab">Trailers &amp; More</a>
                </li>
                <!---->
                <li role="presentation">
                    <a style="cursor:pointer" @click="dynamicContent(index,key,'more-like')"
                       aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
                </li>
                <!---->
                <li role="presentation">
                    <a style="cursor:pointer" @click="dynamicContent(index,key,'details')"
                       aria-controls="details"
                       role="tab" data-toggle="tab">Details</a>
                </li>
            </ul>
            <!---->
        </div>
    </div>
</template>

<script>
    import VueSlickCarousel from "vue-slick-carousel";
    import JQuery from 'jquery'
    import {apiService} from "../api-service";

    let $ = JQuery;
    export default {
        name: "VideoDrop",
        props: ['value', 'videoKey', 'index', 'spam_reasons'],
        components: {VueSlickCarousel},
        data() {
            return {
                slideConfig: {
                    slidesToShow: 6,
                    slidesToScroll: 6,
                    dots: false,
                    infinite: true,
                    variableWidth: true
                },
                sessionStorage:{},
                apiService: new apiService(),
            }
        },
        beforeMount(){
            this.sessionStorage = JSON.parse(localStorage.getItem('sessionStorage'));
        },
        methods: {
            async dislikeVideo(admin_video_id, index, key) {

                $("#dis_like_" + index + "_" + key).addClass('disabled_class');
                let data = await this.apiService.dislikeVideo(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    })
                data = data.data;

                $("#dis_like_" + index + "_" + key).removeClass('disabled_class');
                if (data.success) {
                    $("#like_count_" + index + "_" + key).html(data.like_count);
                    $("#dis_like_count_" + index + "_" + key).html(data.dislike_count);
                    // setTimeout(function(){
                    if (data.delete) {
                        // UIkit.notify({message : "I'm glad you removed the video from dislike", timeout : 3000, pos : 'top-center', status : 'success'});
                        $("#like_" + index + "_" + key).show(500);
                        $("#like_" + index + "_" + key).removeClass('ng-hide');
                        $("#like_" + index + "_" + key).css('display', 'inline !important');
                    } else {
                        // UIkit.notify({message : "You disliked the video", timeout : 3000, pos : 'top-center', status : 'warning'});
                        $("#like_" + index + "_" + key).fadeOut(500);
                    }
                } else {
                    this.$notify({
                        text: data.error_messages,
                        type: 'error'
                    });
                    return false;
                }
            },

            spamVideo(admin_video_id) {

                if (confirm('Are you sure want to spam the video ?')) {

                    const reason = $('input[name=reason]:checked').val();

                    this.apiService.AddSpam({
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id,
                        reason: reason
                    })
                        .then(data => {
                            $('[id^=overviewmodal_]').modal('hide')
                            data = data.data;
                            if (data.success) {
                                this.$notify({
                                    text: data.message,
                                    type: 'success'
                                });

                            } else {
                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                            }
                        })
                        // .catch(() => {
                        //     this.$notify({
                        //         text: 'Somet',
                        //         type: 'error'
                        //     });
                        // })
                }
            },
            addWishlist(id, $index, key) {
                $("#my-list-txt_" + $index + "_" + key)
                    .html('<a class="my-list bold">' +
                        '<i class="fa fa-check my-list-icon"></i>' +
                        '<span class="my-list-txt">Adding</span>' +
                        '</a>');
                this.apiService.AddWishList({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    admin_video_id: id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then(data => {
                        data = data.data;
                        if (data.success) {
                            $("#my-list-txt_" + $index + "_" + key)
                                .html('<a @click="removeWishlist(' + data.wishlist_id + ', ' + id + ', ' +
                                    $index + ', ' + "'" + key + "'" + ')" class="my-list bold" ' +
                                    'id="remove-my-list-txt" style="cursor: pointer;">' +
                                    '<i class="fa fa-check my-list-icon"></i>' +
                                    '<span class="my-list-txt">My List</span>' +
                                    '</a>');
                        } else {
                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {
                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            closeDiv(index, key) {
                $("#" + index + "_" + key + "_video_drop").fadeOut();

                // $("#"+index+"_"+key+"_video_drop").fadeOut();

                $('#' + index + "_" + key + "_img").removeClass('active_img');

                $('#' + index + "_" + key + "_desc").show();

                $('#' + index + "_" + key + "_div").removeClass('play_icon_div');
            },
            removeWishlist(id, admin_video_id, $index, key) {
                $("#my-list-txt_" + $index + "_" + key)
                    .html('<a class="my-list bold"><i class="fa fa-plus my-list-icon"></i>' +
                        '<span class="my-list-txt">Removing</span></a>');
                this.apiService.deleteWishlist({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    wishlist_id: admin_video_id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then((data) => {
                        data = data.data;
                        if (data.success) {
                            $("#my-list-txt_" + $index + "_" + key)
                                .html('<a @click="addWishlist(' + admin_video_id + ', ' + $index + ', ' +
                                    "'" + key + "'" + ')" class="my-list bold" style="cursor: pointer;">' +
                                    '<i class="fa fa-plus my-list-icon"></i>' +
                                    '<span class="my-list-txt">My List</span>' +
                                    '</a>');
                        } else {

                            this.$notify({
                                text: data.error_messages,
                                type: 'error'
                            });
                        }
                    })
                    .catch(() => {

                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            likeVideo(admin_video_id, $index, key) {
                $("#like_" + $index + "_" + key).addClass('disabled_class');
                this.apiService.likeVideo(
                    {
                        id: this.sessionStorage.user_id,
                        token: this.sessionStorage.access_token,
                        admin_video_id: admin_video_id,
                        sub_profile_id: this.sessionStorage.sub_profile_id
                    }
                )

                    .then(data => {
                        $("#like_" + $index + "_" + key).removeClass('disabled_class');
                        data = data.data;
                        if (data.success) {
                            $("#like_count_" + $index + "_" + key).html(data.like_count);

                            $("#dis_like_count_" + $index + "_" + key).html(data.dislike_count);
                            if (data.delete) {


                                // UIkit.notify({message : "We are very sorry you removed the video from like", timeout : 3000, pos : 'top-center', status : 'success'});
                                const dislikeElem = $("#dis_like_" + $index + "_" + key);
                                dislikeElem.show().removeClass('ng-hide').css('display', 'inline !important');

                            } else {

                                // UIkit.notify({message : "I'm glad you liked the video", timeout : 3000, pos : 'top-center', status : 'success'});

                                $("#dis_like_" + $index + "_" + key).fadeOut(500);

                            }
                        }
                    })
            },
            dynamicContent(index, key, id) {
                const overviewElem = $("#" + index + "_" + key + "_overview");
                const episodesElem = $("#" + index + "_" + key + "_episodes");
                const trailersElem = $("#" + index + "_" + key + "_trailers");
                const moreLikeElem = $("#" + index + "_" + key + "_more-like");
                const detailsElem = $("#" + index + "_" + key + "_details");
                overviewElem.removeClass('active');
                episodesElem.removeClass('active');
                trailersElem.removeClass('active');
                moreLikeElem.removeClass('active');
                overviewElem.removeClass('active');
                detailsElem.removeClass('active');

                if (id === "overview") {

                    overviewElem.addClass('active');

                } else if (id === "episodes") {

                    episodesElem.addClass('active');


                } else if (id === "trailers") {

                    trailersElem.addClass('active');

                } else if (id === "more-like") {

                    moreLikeElem.addClass('active');

                } else {

                    detailsElem.addClass('active');
                }

            },
            modalShow(a, b) {
                const elem = $('#overviewmodal_' + a + '_' + b);
                $(elem[0]).modal('show');
            },
            getSeasons(genre_id, sub, idx, key, divid, loader, main_id) {
                if (genre_id == '' || genre_id == undefined) {
                    genre_id = main_id;
                }
                $("#" + sub + idx + key + divid).html("");
                $("#" + sub + idx + key + loader).show();
                this.apiService.GetGenreList({
                    id: this.sessionStorage.user_id,
                    token: this.sessionStorage.access_token,
                    genre_id: genre_id,
                    sub_profile_id: this.sessionStorage.sub_profile_id
                })
                    .then(data => {
                        data = data.data;
                        $("#" + sub + idx + key + loader).hide();
                        if (data.success) {
                            // $("#"+divid).html(data.view);
                            $("#" + sub + idx + key + divid).html(data.data);

                        } else {
                            if (data.error_code == 101 || data.error_code == 103 || data.error_code == 104) {

                                window.localStorage.setItem('logged_in', 'false');
                                this.sessionStorage = {};
                                localStorage.removeItem("sessionStorage");
                                localStorage.clear();
                                this.$router.push('/')
                            } else {

                                this.$notify({
                                    text: data.error_messages,
                                    type: 'error'
                                });
                                return false;
                            }
                        }
                    })
                    .catch(() => {

                        this.$notify({
                            text: 'Something Went Wrong, Please Try again later',
                            type: 'error'
                        });
                    })
            },
            windowsResize(e) {
                if (e) this.window_width = e.target.innerWidth;
                else this.window_width = window.innerWidth;
                if (this.window_width > 1200) {
                    this.epdisode_slide_to_show = 6;
                    this.epdisode_slide_to_scroll = 6;
                    this.slide_to_show = 6;
                    this.slide_to_scroll = 6;
                    this.media_height = {
                        "height": Math.round((this.window_width - 200)) / 6 * 1.5 + "px"
                    }
                }

                if (this.window_width > 991 && this.window_width < 1200) {
                    this.epdisode_slide_to_show = 4;
                    this.epdisode_slide_to_scroll = 4;
                    this.slide_to_show = 6;
                    this.slide_to_scroll = 6;
                    this.media_height = {
                        "height": Math.round((this.window_width - 200)) / 6 * 1.5 + "px"
                    }
                }

                if (this.window_width > 767 && this.window_width < 992) {
                    this.epdisode_slide_to_show = 4;
                    this.epdisode_slide_to_scroll = 4;
                    this.slide_to_show = 4;
                    this.slide_to_scroll = 4;
                    this.media_height = {
                        "height": Math.round((this.window_width - 100)) / 5 * 1.5 + "px"
                    };
                }

                if (this.window_width > 479 && this.window_width < 768) {
                    this.epdisode_slide_to_show = 2;
                    this.epdisode_slide_to_scroll = 2;
                    this.slide_to_show = 2;
                    this.slide_to_scroll = 2;
                    this.media_height = {
                        "height": Math.round((this.window_width - 50)) / 2 * 1.5 + "px"
                    }
                }

                if (this.window_width < 480) {
                    this.epdisode_slide_to_show = 1;
                    this.epdisode_slide_to_scroll = 1;
                    this.slide_to_show = 1;
                    this.slide_to_scroll = 1;
                    this.media_height = {
                        "height": (this.window_width - 100) * 1.5 + "px"
                    }
                }
                this.slideConfig = {
                    "slidesToShow": this.epdisode_slide_to_show,
                    "slidesToScroll": this.epdisode_slide_to_scroll,
                    // "nextArrow":"<div class='nav-btn next-slide'></div>",
                    // "prevArrow":"<div class='nav-btn prev-slide'></div>",
                    "dots": false,
                    "infinite": true
                };
                this.slideConfig1 = {
                    "slidesToShow": this.slide_to_show,
                    "slidesToScroll": this.slide_to_scroll,
                    "dots": false,
                    "infinite": true
                };
            },

        },
        computed: {
            key() {
                return this.videoKey;
            }
        },
        created() {
            window.addEventListener("resize", this.windowsResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.windowsResize);
        }
    }
</script>

<style>
    .modal-backdrop.fade.in {
        z-index: 0 !important;
    }
</style>
