<template>
    <div>
        <notifications position="top center" :duration="3000" :closeOnClick="true" :ignoreDuplicates="true"></notifications>
        <page-loader v-if="isPageLoaderShow"/>
        <div id="app" v-if="appSettingLoaded">
            <Header :AppSettings="AppSettings" :apiService="apiService"
                    :class="!layoutStatus?'profileNavbar':''" :layoutStatus="layoutStatus"
                    v-if="$route.name!=='landing' && $route.name!=='easy-video' && $route.name!=='TrailerVideo'"></Header>
            <router-view :AppSettings="AppSettings" :apiService="apiService"
                         v-bind:isPageLoaderShow.sync="isPageLoaderShow" class="main-content">
            </router-view>
            <Footer :AppSettings="AppSettings" :apiService="apiService"
                    v-if="(layoutStatus || $route.name==='landing')  && $route.name!=='easy-video' && $route.name!=='TrailerVideo'"></Footer>
            <Static></Static>
        </div>
    </div>
</template>
<script>
    import {apiService} from './api-service.js';
    import {AppSettings} from './config';
    import Header from './components/Header'
    import Footer from './components/Footer'
    import PageLoader from './components/PageLoader'
    import Static from "./views/Static";

    export default {
        userId: '',
        accessToken: '',
        components: {
            Static,
            Header,
            Footer,
            PageLoader,
        },
        data() {
            return {
                apiService: new apiService(),
                loading: true,
                isPageLoaderShow:false,
                appSettingLoaded: false,
                AppSettings: {}
            }
        },
        beforeMount() {
            this.appSettingLoaded = true;
            this.loading = true;
        },
        computed: {
            layoutStatus: function () {
                if (this.$route.name === 'landing') return false;
                else if(this.$route.name==='add-profile') return false;
                else if(this.$route.name==='view-profiles') return false;
                else if(this.$route.name==='manage-profiles') return false;
                else if(this.$route.name==='edit-profile') return false;
                return true;
            }
        },
        async created() {
            const res = await this.apiService.getAppSettingInfo();
            const middleData = [];
            res.data.map((value) => {
                middleData[value.key] = value.value;
            });
            AppSettings.settings = middleData;
            this.AppSettings = AppSettings;
            this.appSettingLoaded = true;
            this.loading = false;
        },
        watch: {
            isPageLoaderShow: function (newValue) {
                if (newValue) document.body.style.overflow = 'hidden';
                else document.body.style.overflow = 'auto';
            }
        }
    }
</script>
<style>
    .vue-notification-group{
        top: 20px !important;
    }
    .navbar{
        min-height: 80px;
    }
    .profileNavbar{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
        background-color: #141414;
    }
</style>
